section.window
  h1
    = title
    input.closer(type="button",value="×",name="cancel")
  p 下述玩家於該場遊戲中觸發暴斃死，請選擇欲懲罰的對象，每人每票將對該玩家施加 #{time} 分鐘的限制
  form(name="punish",aciton="/")#punishform
    div(id="prePunishUser")
    p
      input(type="submit",name="ok",value="OK")
      input(type="button",name="cancel",value="取消")