section.admin#admin
  h1 選單
  p 請從下列菜單選擇要管理的專案:
  ul
    li(data-opener="blacklist") 黑名單管理
    li(data-opener="grandalert") 全體通知
    li(data-opener="dataexport") 導出數據庫
    li(data-opener="update") 更新
    li(data-opener="news") 通知管理
  section#blacklist(hidden)
    h1 黑名單管理
    table
      thead
        tr
          th 帳號
          th IP地址
          th 期限
          th 禁止項目
          th 理由
          th 解除
      tbody#blacklisttable
    form#blistpager
      p
        input(type="button",name="prev",value="上一頁")
        span#page
        /
        span#total
        input(type="button",name="next",value="下一頁")
    h2 建立黑名單
    form#newbanform
      fieldset
        dl
          dt 黑名單帳號
          dd
            input(name="userid",size="20",required)
          dt 期限
          dd
            label
              input(type="radio",name="expire",value="forever",checked)
              無期限
            | |
            input(type="radio",name="expire",value="some")
            input(name="month",type="number",step="1",value="0",min="0")
            | 月
            input(name="day",type="number",step="1",value="0",min="0")
            | 天
          dt 禁止專案
          dd
            ul
              li
                label
                  input(type="checkbox",name="create_account",value="on",checked)
                  | 帳號註冊
              li
                label
                  input(type="checkbox",name="lobby_say",value="on",checked)
                  | 聊天室發言
              li
                label
                  input(type="checkbox",name="watch_say",value="on",checked)
                  | 觀戰發言
              li
                label
                  input(type="checkbox",name="play",value="on",checked)
                  | 參加遊戲
          dt 理由
          dd
            input(name="reason",type="text")
        p
          input(type="submit",value="OK")
  section#grandalert(hidden)
    h1 全體告知
    form#alertform
      p
        | 標題:
        input(name="title",size="20",value="通知")
      p
        | 內容:
        input(name="message",size="50",placeholder="訊息",required)
      p
        label
          input(type="checkbox",name="system",value="on",checked)
          | 於 紫月人狼
        label
          input(type="checkbox",name="twitter",value="on")
          | 於 Twitter
        
      p: input(type="submit",value="發送")
  section#dataexport(hidden)
    h1 數據庫導出
    form#dataexportform
      p
        | 密碼
        input(name="pass",size="30",required)
      p
        | 命令
        input(name="command",size="100")
      p: input(type="submit",value="取得")
  section#update(hidden)
    h1 更新
    form#pullform
      p: input(type="submit",value="更新")
    pre
      samp#pullresult
  section#news(hidden)
    h1 通知管理
    table
      thead
        tr
          th _id
          th 時間
          th 內容
      tbody#newstable
    h2 建立通知
    form#newnewsform
      p
        | 內容
        input(name="message",size="100",required)
      p
        input(type="submit",value="OK")
