!!! 5
html(xmlns:wb="http://open.weibo.com/wb")
  head
    meta(charset="utf-8")
    title 月下人狼
    meta(name="application-name",content="月下人狼")
    meta(name="description",content="一个实时的高自由度的人狼服务器。有100种以上的职业可供使用。")
    link(rel="icon",sizes="16x16",href="/favicon.ico")
    link(rel="icon",sizes="144x144",href="/icons/icon-144x144.png")
    //- script(src="https://use.fontawesome.com/e0e7afd227.js",async)
    script(src=bundle)

    meta(property="wb:webmaster",content="429c879e40644052")
    meta(name="baidu-tc-verification",content="85f2a37978bcfa919b4270610f5f3e96")
    script(src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1128983570&debug=true",type="text/javascript",charset="utf-8")
    != SocketStream
  body
    header
      h1
        a(href="/") 月下人狼
      br
      #userinfo
        span#username
      nav
        ul
          li(id="login")
            a(href="/") 登陆
          li
            a(href="/my") 个人页面
          li
            a(href="/lobby") 休息室
          li
            a(href="/rooms") 房间一览
          //li
            a(href="/logs") 历史检索
          li
            a(href="/manual") 参考手册
          li
            a(href="/backdoor/home") 返回主页
          li
            a(href="/manual/about") 关于月下人狼
      #toolbar

    script(type="text/javascript")
      if((("unknown"===typeof localStorage)||("undefined"===typeof localStorage)||(!document.body.classList)||(!document.body.dataset))&&(navigator.userAgent.indexOf("Googlebot")<0)){
        //要件を満たさない
        location.replace("/noIE.html");
      }
    #content
