section.manual
  p: a(href="/manual") 返回
  h1 关于月下人狼
  p 关于游戏规则，请参阅<a href="/manual">参考手册</a>。
  p
    | 以及更为详细的
    a(href="https://jinrou-doc.uhyohyo.net/",target="_blank") 公式文档（日文）
    | 也供参考。
  p
    | 对应的
    a(href="https://doc.werewolf.com.cn/",target="_blank") 公式文档（中文）
    | 仍在建设中，为我加油吧~~
    
  h2 BUG报告
  p 如果发现了任何bug，请于<a target="_blank" href="https://github.com/Sunev/jinrou/issues/new?template=bug--.md">GitHub</a>汇报（需要在GitHub注册账号，以便接收关于bug处置的回信）。
  h2 官方微博账号
  p 游戏房间建立、结束时，会自动发出微博，欢迎大家关注(<a href="http://weibo.com/u/5406068657" target="_blank">月下人狼-BOT</a>)。
  h2 开发者
  p 开发者是日本的うひょ(<a href="https://twitter.com/uhyo_" target="_blank">@uhyo_</a>)。
  p 翻译者兼本站站长是 装甲轻空母(<a href="http://weibo.com/u/3198597890" target="_blank">微博</a>、<a href="https://twitter.com/Sunev_C" target="_blank">Twitter</a>)。

  h2 协助者
  p
    small （敬称略）
  dl
    dt
      | Sunev (
      a(href="https://github.com/Sunev",target="_blank") GitHub
      | )
    dd 协助了50次以上的功能追加、BUG修复。
    dt
      | 箱庭 (
      a(href="https://twitter.com/hakoniwawind",target="_blank") Twitter
      | )
    dd 提交了50次以上的BUG报告。

  p 月下人狼是一个MIT开源项目。
  p 原作者的GitHub (<a href="https://github.com/uhyo/jinrou" target="_blank">uhyo/jinrou - Github</a>)

  h2 如何支持本站
  p 欢迎大家来
    a(href="https://afdian.net/@sunev",target="_blank") 爱发电
    span(style="background-color:black;") 包月
    | 支持我。
  p
    a(href="https://afdian.net/@sunev",target="_blank")
      img(src="/images/afdian.png",alt="爱发电")
