section.manual
  p: a(href="/manual") 返回
  h1 關於紫月人狼
  p 紫月人狼是由うひょ開發的月下人狼所翻譯而成，為了做出區別而更名為紫月人狼。
  p
    | 關於遊戲規則等資訊，請參閱
    a(href="/manual") 參考手冊
    | 。
  p
    | 以及更加詳細的
    a(href="http://cheshire.pinomeng.com:81/",target="_blank") 官方檔案（中文）
    | 也供參閱。
  p 對應的其他版本：
  p <a href="https://doc.werewolf.com.cn/" target="_blank">官方檔案（中國）</a>
  p <a href="https://jinrou-doc.uhyohyo.net/" target="_blank">官方檔案（日本）</a>

  h2 官方 Twitter 帳號
  p 紫月人狼的 Twitter 帳號為 <a href="https://twitter.com/jinrou_catbot" target="_blank">@jinrou_catbot</a>。

  h2 開發者
  p 開發者為日本的 うひょ (<a href="https://twitter.com/uhyo_" target="_blank">@uhyo_</a>)。
  
  h2 協助者
  dl
    dt
      | Sunev (
      a(href="https://github.com/Sunev",target="_blank") GitHub
      | )
    dd 協助 50 次以上的追加功能・錯誤修正。
    dt
      | 箱庭 (
      a(href="https://twitter.com/hakoniwawind",target="_blank") Twitter
      | )
    dd 提交 50 次以上的錯誤回報。
    
  p 月下人狼是一個 MIT 開源專案。
  a(href="https://github.com/uhyo/jinrou",targeet="_blank") uhyo/jinrou - Github
  
  h2 管理者
  p 遊戲程式的管理者為柴郡猫/赤坂なつき(<a href="https://twitter.com/mm018347" target="_blank">@mm018347</a>)。
  p 伺服器主機的管理者為Pino Meng(<a href="https://www.facebook.com/PinoMeng" target="_blank">#PinoMeng</a>)。

  h2 Facebook社團
  p <a href="https://www.facebook.com/groups/789475714409882/" target="_blank">點我</a>。
  p 主要是個人管理之伺服器相關的人狼社團，可從這邊獲得伺服器情報與交流等。

  h2 匿名主題來源感謝
  p 請參閱<a href="http://jinroh.surl.tw/wiki/?%3Aspecial%20thanks" target="_blank">這裡</a>。

  h2 相關連結
  ul
    li <a href="http://nedftp.com/wiki/" target="_blank">人狼Wiki</a>
    li <a href="http://diam.ngct.net/" target="_blank">鑽石伺服器</a>
    li <a href="http://jigokutushin.net/jinro/" target="_blank">地獄通信伺服器</a>
    li <a href="http://higurashi.nctucs.org/" target="_blank">寒蟬伺服器</a>
    li <a href="http://touhou.jigokutushin.net/touhou/index.php" target="_blank">幻想鄉伺服器</a>
    li <a href="http://jinroh.surl.tw/" target="_blank">人狼物語</a>
    li <a href="http://cheshire.pinomeng.com:82/main.html" target="_blank">鸚鵡實驗站</a>
    li <a href="http://cheshire.pinomeng.com:83/main.html" target="_blank">鸚鵡備份站</a>
    li <a href="http://cheshire.pinomeng.com:84/main.html" target="_blank">暗影獵人</a>
