section.manual
  h1 更新履歷
  p 紫月人狼的新增新功能・設定變更・錯誤修復等等的公告。
  
  h2 v1.14.40 (2021-05-31)
  ul
    li.new 新增新職業「血狼」。(b85829f, 箱庭)
    li.change 金鬼的最大對象人數變更為（人狼的數量+1）。（3b6fa5b)

  h2 v1.14.39 (2021-04-30)
  ul
    li.new 新增新職業「金鬼」。(75083fc)

  h2 v1.14.38 (2021-03-31)
  ul
    li.new 新增新職業「賞花客」。(22af153)
    li.bugfix 修正因為戲弄妖精繫結的羈絆而自殺時，靈界的死亡原因沒有正確顯示的bug。(91b5c6f, 箱庭)

  h2 v1.14.37 (2021-02-28)
  ul
    li.new 新增新職業「雜耍藝人」。(945603d)
    li.change 由於人狼占卜師·課金者·命運之子·主播有使人變成可復活的職業的可能性，這些職業現在被列為「能復活他人的角色」，將影響「靈界視野」設為「有」時的靈界資訊顯示。(9da8f69, 箱庭)
    li.bugfix 修正聖子如果在發動復活能力的當夜自身死亡，復活能力能夠發動的bug。(7adfc67, 箱庭)
    li.bugfix 修正有多名人狼同時存在時，人狼們會重複收到夢遊患者情報的bug。(945603d, 箱庭)

  h2 v1.14.36 (2021-01-02)
  ul
    li.new 實裝了「宇宙人狼」模式。(05148565)
    li.bugfix 修正暗狼生存時，觀戰者能夠看到投票結果的bug。(eeb66d09, 箱庭)
    li.bugfix 修正聖子的能力雖然顯示為「任意」但是不使用會導致暴斃死的bug。(00ae7a2f, 箱庭)
  h2 v1.14.35 (2020-12-24)
  ul
    li.new 新增新職業「聖子」。(7117a7f, 箱庭)
    li.new 新增新職業「冥狼」。(41dab34, 箱庭)
    li.new 新增新職業「暗狼」。(41dab34, 箱庭)
    li.change 在替身安全性設為「有」的時候，替身君不會變成「鬼」了。(f850de9, 箱庭)
    li.change 絕對狼在被「戲弄妖精」附加羈絆後，修改爲會正常自殺。(8726c01, 箱庭)
    li.bugfix 修正煉成人狼中「鬼」的占卜・靈能結果顯示為「村人」的bug。(4ab89f4, 箱庭)
  h2 v1.14.34 (2020-11-30)
  ul
    li.new 新增新職業「鬼」。(375005a)
  h2 v1.14.33 (2020-10-30)
  ul
    li.new 新增新職業「變裝者」。(0e0eaa94)
  h2 v1.14.32 (2020-09-30)
  ul
    li.new 新增新職業「月狼」。(24edb013, 箱庭)
    li.new 新增新職業「戲弄妖精」。(166fe8a7, 箱庭)
    li.new 新增新職業「夢遊患者」。(aacd1d7, 箱庭)
    li.bugfix 修正課金者如果在死前同時使用了能力的話，在死去同時能夠改變職業的bug，修復為不會改變職業了。(89fe857, 箱庭)
  h2 v1.14.31 (2020-08-31)
  ul
    li.new 新增新職業「老千」。(15aee55)
    li.new 新增新職業「印狼」。(2800e86)
  h2 v1.14.30 (2020-07-31)
  ul
    li.new 新增新職業「賭徒」。(132d62e)
    li.change 「羅蕾萊」變更為隱藏職業，在自由配置・部分闇鍋中不再能夠選擇。(f872c2a, 箱庭)
    li.bugfix 修正特定條件下伺服器崩潰的bug。(79a4a08, Sunev)
  h2 v1.14.29 (2020-06-28)
  ul
    li.new 新增新職業「羅蕾萊」。(4851de5, 箱庭)
  h2 v1.14.28 (2020-05-31)
  ul
    li.new 新增新職業「直覺型狼」。(13fcb7a, 箱庭)
    li.bugfix 修正煉成人狼模式下右側職業是課金者的時候，有時會變得無法抽卡的bug。(a7490b4)
  h2 v1.14.27 (2020-04-26)
  ul
    li.new 新增新職業「在宅者」。(aa75866)
  h2 v1.14.26 (2020-03-30)
  ul
    li.new 新增新職業「咒狼」。(ba152ca, 箱庭)
    li.new 新增新職業「一言主神」。(22ab3bf, 箱庭)
    li.bugfix 修正玩家在被月下美人魅惑後，不再因其他原因自盡的bug。(a60a681, Sunev)
  h2 v1.14.25 (2020-02-28)
  ul
    li.new 新增新職業「月下美人」。(a1083464, 箱庭)
    li.new 新增新職業「野孩子」。(1e0a957, 箱庭)
    li.bugfix 修正「主播」在由於分身等職業效果變成其他職業後，直播觀眾又變為0的時候，會變成村人的bug。(f60fe27)
    li.bugfix 修正「尼特」在被怪盜盜竊職業尚未發現的時候，可以不投票的能力失效的bug。(5f2076f)
    li.bugfix 修正無盡闇鍋中，有時會留下「觀戰者」戰績的bug。(27997c5)
  h2 v1.14.24 (2020-02-03)
  ul
    li.bugfix 修正v1.14.23更新後，闇鍋中會出現「直播觀眾」的bug。(1f0886a, Sunev)
    li.bugfix 修正煉成人狼模式下，如果「主播」出現在右側，在主播引退時左側職業會變成村人的bug。(8b7caa0)
  h2 v1.14.23 (2020-01-27)
  ul
    li.new 新增新職業「主播」。(c33d7b2)
    li.change 爲了避免馴鹿初日死亡，在替身安全性中新增了聖誕老人。現在如果替身安全性設為「有」的話，替身君不會以聖誕老人開場了。(5baa761, Sunev)
    li.bugfix 修正在疊加了礙事狂人・丑時之女・巫女等只限一日有效的能力時，能力效果意外延長的bug。(6ffb079, Sunev)
    li.bugfix 修正馴鹿追隨聖誕老人自盡時，死因不顯示的bug。(5c65ded, Sunev)
  h2 v1.14.22 (2019-12-23)
  ul
    li.new 新增新職業「馴鹿」。(bb4b3f5)
    li.change 由於評價較低，「暗小丑」在闇鍋中現在被預設排除，僅能手動加入。(cf3e560, 箱庭)
    li.change 降低了「絕對狼」「預言者」「命運之子」在闇鍋中出場的機率。(cf3e560, 箱庭)
    li.bugfix 修正「通感者」的戰績不被顯示的bug。(78e53ce, 箱庭)
  h2 v1.14.21 (2019-11-23)
  ul
    li.new 新增新職業「通感者」。(4546eaf)
    li.bugfix 修正弗蘭肯斯坦的怪物在吸收職業後，戰績中會記錄被吸收的職業的bug。(c89f49a)
    li.bugfix 修正偶像的粉絲如果在第4夜結束時死亡/復活的話，導致粉絲人數增加或不增加的bug，現在修改爲以剛進入第4夜的時間點為準。(19504e7)
    li.bugfix 修正在個人資訊中變更頭像後，儲存按鈕不出現的bug。(ec6d358, Sunev)
    li.bugfix 修正在個人資訊中無法消除頭像的bug。(981ec5e)
  h2 v1.14.20 (2019-10-15)
  ul
    li.new 新增新職業「課金者」。(0a90b2d)
    li.new 新增新職業「命運之子」。(26eff23, 箱庭)
    li.change 增加了登入頁面的文字。(0cac9a9)
    li.bugfix 修正絕對狼在變成其他陣營後，仍然保留不死能力的bug。(e03aa47, 箱庭)

  h2 v1.14.19 (2019-09-18)
  ul
    li.new 新增新職業「絕對狼」。(65bf50a, 箱庭)
    li.new 新增新職業「預言者」。(58e5c85, 箱庭)
    li.new 新增新職業「夜兔」。(e44b398, 箱庭)
    li.new 可以在發言欄中使用命令來擲骰了。使用時按照「!1d100」的形式發言即可。(f995f57)
    li.bugfix 修正煉成人狼模式下，「一匹狼×人狼陣營」的人活到最後觸發了一匹狼勝利，自己卻無法獲勝的bug。(6471a3a)
    li.bugfix 修正練習房間中，占卜結果是「村人」的NPC實際上是人狼的bug。(73c92d3)
    li.bugfix 修正如果場上有狂愛對象已經死亡的狂愛者存在時，遊蕩獵人的「不能繼續護衛」系統資訊會刷屏100行的bug。(b72260b)
  h2 v1.14.18 (2019-08-26)
  ul
    li.bugfix 修正移動端中個人資訊的顯示可能崩潰的bug。(195df67)
    li.bugfix 修正部分闇鍋中如果編入了「第三陣營系」的職業，吸血鬼眷屬可能會在沒有吸血鬼陣營的時候出現的bug。(59cb120)
    li.bugfix 修正雙重人格被怪盜盜竊職業後，直到隔夜到來為止，沒有主導人格的bug。(260d62d, 箱庭)
    li.change 埋毒者與貓又的毒藥・陷阱師的陷阱在殺死人狼的時候，現在變更為「尚不能夠進行襲擊的孤獨的狼不被列入死亡對象」。(177231a, 箱庭)
    li.change 如果活祭品在行使能力後，自己比能力目標死的更早的話，變更為「能力目標正常死亡，活祭品的能力不被觸發」。(ec42a3e, 箱庭)
  h2 v1.14.17 (2019-08-24)
  ul
    li.new 新增新職業「暗小丑」。(84ce904, 箱庭)
    li.new 新增新職業「雙重人格」。(133367b, 箱庭)
    li.new 新增新職業「活祭品」。(8520a45, 箱庭)
    li.new 在個人資訊新增了「練習房間」，用來熟悉遊戲中的基本操作。(6897e93)
    li.change 重新設計了個人資訊的版式。(655cc29)
    li.bugfix 修正頁面重新整理後會顯示為未登入的bug。(70bdb63)
  h2 v1.14.16 (2019-07-28)
  ul
    li.new 新增新職業「苦修士」。(68f8c0c, 箱庭)
    li.new 新增闇鍋安全性「低+」。(47fd827, 箱庭)
    li.change 替身安全性設為「有」時，替身君不再會作為烏鴉加入遊戲。(68f8c0c, 箱庭)
    li.change 如果在房間設定中使用了敗北村，會在遊戲開始時的開場文字中顯示「敗北村」字樣。(680210b, 箱庭)
    li.bugfix 修正詩人對變態殺人狂行使能力不會死的bug。(282b55c, 箱庭)
    li.bugfix 修正煉成人狼模式下，天邪鬼總是獲勝的bug。(b292eb0, 箱庭)
  h2 v1.14.15 (2019-06-23)
  ul
    li.new 新增新職業「天邪鬼」。(4226411)
    li.bugfix 修正無盡闇鍋中，在點選「加入遊戲」按鈕待機的時候，如果遊戲進入了猶豫階段，發言頻道會從「觀戰者的發言」變成「自言自語」的bug。(7c98da2)
    li.bugfix 修正無盡闇鍋中，匿名模式下不能途中加入的bug。(c688ba5)
    li.bugfix 修正遊戲開始界面中，明明人數足夠了，卻提示「人數不足」的顯示bug。(590bf6b, dae98dd)
  h2 v1.14.14 (2019-05-30)
  ul
    li.new 新增新職業「詩人」。(2f1cde4)
    li.change 闇鍋中尼特的出現機率減少了60%。(c29753e, 箱庭)
    li.change 根據奇術師的出處修改了其判定動作。在奇術師替換了襲擊目標後，此目標受到的陷阱師或獵人系列的護衛將不能有效守護他。(58e0bfc)
    li.bugfix 修正貓又在手滑的時候，能使當夜死亡尚未被發現屍體的玩家立刻復活的bug。(40affcc, Sunev)
    li.bugfix 修正煉成人狼模式下，被陷阱師護衛的人在受到「人狼系×吸血鬼」吸血鬼的能力襲擊時，落入陷阱的會是隨機的人狼系，而非那名吸血鬼的bug。(334f9ef, Sunev)
    li.bugfix 修正靈界資訊設為有的時候，被助手輔助的人死後，自身能夠看到一切公開資訊，但是助手缺看不到的bug。(fbfa8cf)
    li.bugfix 修正煉成人狼模式下，怪盜只能盜竊左側的職業，卻能夠得知目標兩側職業的bug。(824774c)
  h2 v1.14.13 (2019-04-25)
  ul
    li.new 新增新職業「精靈術士」。(664e010)
    li.new 新增新模式「簡易闇鍋」。(d6671c3)
    li.change 在點選「準備/取消準備」按鈕，顯示為[ready]狀態後，如果一定時間內遊戲沒有開始，[ready]狀態會自動消去。(0aafbd7)
    li.bugfix 修正房主如果在不加入遊戲的情況下開始了無盡闇鍋的話，除了「加入遊戲」的按鈕以外，還會保留「打開遊戲開始界面」等按鈕的bug。(ff4eac0)
    li.bugfix 修正闇鍋安全性設為「高」以上嘗試開始遊戲時，不恰當的配置會導致遊戲無法開始的bug。(a6c130c)
    li.bugfix 闇鍋安全性設為「中」以上時，原本有提高占卜師入場機率的功能，現在如果通過部分闇鍋固定了占卜師的人數，此功能將不再生效。(2b10245)
    li.bugfix 修正在GM處死了猶豫階段不投票玩家後，已經投票的玩家可能暴斃死的bug。(793f17a)
    li.bugfix 修正煉成人狼模式下，右側職業是狡猾的狼的人在假死並復活後，又因各種原因死去的情況下，狡猾的狼會意外復活的bug。(4d49988, Sunev)
    li.bugfix 修正煉成人狼模式下，模仿者在模仿暴徒後職業會變成只剩一個的bug。(d6afb36)
    li.bugfix 修正怪盜在盜竊了醉鬼的職業後，偷到手的職業會顯示為「村人」的bug。(664ba9a)
    li.bugfix 修正煉成人狼模式下，右側職業是怪盜的人如果在盜竊他人職業的同時被其他怪盜盜竊了自己的職業，這名怪盜的職業會還原成盜竊職業前的狀態的bug。(760af73)
    li.bugfix 修正闇鍋安全性設為「高」以上時，狼之子等「人狼系只有一個人的時候不應當出現」的人狼系職業會出現的bug。(377b69e)
  h2 v1.14.12 (2019-03-27)
  ul
    li.new 新增新職業「武士」「德古拉」「吸血鬼眷屬」。(e20d8ca)
    li.new 新增房間設定「由生存人數決定白天的長度」。(946ce33)
    li.change 貪婪的狼、硬漢人狼由於自身能力死亡之後，一直以來的詳細死因被記錄爲「人狼的襲擊」，現在區分為「貪婪的報應」「捨身的同歸於盡」。(fe7a9ad, 箱庭)
    li.bugfix 修正人狼系等能看到同伴名單的職業在變成醉鬼的時候也能過看到同伴的名單的bug。(96a6698)
  h2 v1.14.11 (2019-03-17)
  ul
    li.change 在禁止行為中新增了「討論其他房間遊戲內容的行為」。(e221ec2)
    li.bugfix 修正人狼系被怪盜盜竊職業後，隔日早上能發現怪盜變成同伴的人狼的bug。(30a5061)
  h2 v1.14.10 (2019-03-03)
  ul
    li.change 降低了替身君是模仿者的時候，替身君將非人選為模仿目標的機率。(85db3d2, 箱庭)
    li.change 房間設定中「闇鍋安全性」選項設為「無」時，血腥瑪麗由「不被包括在職業表中」變更為「被包括在職業表中」。(a65d0a4, 箱庭)
    li.change 在GM存在的房間中，現在即使在遊戲開始前GM的名字也會顯示為「GM」了。此外，同時修正「禁止觀戰者發言」的房間內，GM在遊戲開始前不能發言的bug。(f30a4f0)
    li.change 在煉成人狼模式下，由義理巧克力導致的「變成跟蹤狂」的情況，現在變更為不會出現。(509e1aa, 箱庭)
    li.change 現在可以在猶豫時間內通過「自言自語」發言了。(b1d50d9)
    li.change 現在如果替身君的職業是「獵師」「復仇者」的話，不需要等到時間結束就會行使能力了。(d4d4a95)
    li.bugfix 修正分身有時無法第2次變換職業的bug。(70e3915)
    li.bugfix 房間設定中「占卜初日白通知」選項設為「有」時，「覺」的能力目標也將被自動決定。(9325fd9, 箱庭)
    li.bugfix 修正房間設定中「占卜初日白通知」選項設為「有」時，在首夜占卜師會被忍者判定為「不能進行夜晚行動」的bug。(c674d64, d80f9dc, 箱庭)
    li.bugfix 修正玩家在當夜獲得了「聖誕老人」的「占卜套裝」禮物，並被「妖術師」或「覺」選為能力的目標時，玩家是否被判定為占卜師的情況受能力發動先後影響的bug，現在統一修正爲「不被判定為占卜師」。(08d1db6, 箱庭)
    li.bugfix 修正被怪盜盜竊職業的人在勝利判定時不立刻被記為村人的bug。(f122ebf, 箱庭)
    li.bugfix 修正被炸彈魔綁上炸彈的人如果在炸彈爆炸後仍然生存，炸彈的效果會殘存的bug。(9a19175)
    li.bugfix 修正被威嚇的狼威嚇後，礙事狂人與丑時之女的效果將多殘留一天的bug。(b39b03e)
    li.bugfix 修正由於夢色蛋糕師的義理巧克力職業變成跟蹤狂的時候，戀人等副職業全部消失的bug。(dd3472f)
    li.bugfix 修正人狼在襲擊受到陷阱師保護的人的同時死去了，陷阱的效果不能正常發揮，被保護的人會死去的bug。(be4298d)
    li.bugfix 修正煉成人狼模式下，在為玩家安置兩個職業時，這兩個職業的哪個在左邊、哪個在右邊的情況有所偏向的問題。(38ed91e)
    li.bugfix 修正煉成人狼模式下，左側是能夠知道人狼名單的職業、右側是孤獨的狼的時候，會變得不能得知人狼名單的bug。(128665f)
    li.bugfix 修正助手在幫助的對象死亡後，自身的界面背景顏色不變成靈界的bug。(ab0b38d)
    li.bugfix 修正在房間中有「小偷」的時候，準備多餘的職業時沒有排除「小偷」這個職業的bug。(d9a274f)
  h2 v1.14.9 (2019-02-21)
  ul
    li.new 新增新職業「龍騎士」「覺」。(5d527bb, 5cf86d5)
    li.change 在禁止行為中新增了「其他助長不當行為的行為」的專案。(b6c1ad4)
    li.change 變更了建立房間頁面的UI。同時新增了「禁止觀戰者發言」的功能。(518c49d)
    li.change 怪誕狂熱者如果在變成人狼的同時被佔卜師占卜的話，在以前根據具體場合占卜的結果不一致，現在統一為顯示變化前的結果。(2a3ab04, 箱庭)
    li.bugfix 修正分身變化職業後不能行使能力的bug。(1428f0d)
    li.bugfix 修正貓又有可能被提示「手滑了」卻復活了正確的目標的bug。(ea805eb, Sunev)
    li.bugfix 修正巫女如果在發動能力的情況下被威嚇的狼威嚇，巫女的能力將延長1天的bug。(4242bc2)
    li.bugfix 修正弗蘭肯斯坦的怪物如果在被威嚇的狼威嚇的狀態下吸收了死者的能力，被吸收的能力能夠發動的bug。(045a9e6)
  h2 v1.14.8 (2019-02-10)
  ul
    li.change 根據「角色扮演者」出處的「牢獄の悪夢」，「角色扮演者」的靈能結果由「村人」變更為「人狼」。(68e6253, 箱庭)
    li.change 闇鍋中在調整非人陣營人數時，參加人數只有10人・11人時，不會再配置多達3名人狼繫了。(934c0f6, 箱庭)
    li.change 在遊戲開始時存在影響占卜結果的職業時，占卜結果會從「立刻得知」自動變更為「隔日天亮才得知」的功能，現在從僅限闇鍋擴充為適用於所有規則。(e8f3502, 箱庭)
    li.change 現在在靈界新增了黑貓的下毒目標是誰的記錄。(66d9608, 箱庭)
    li.change 遊戲的途中才出現暴徒時，選擇保安時的基數由「全員的人數」變更為「生存者的人數」。(b08c08d, 箱庭)
    li.change 遊戲的途中才出現暴徒時，死者變更為不再會被選為保安。(306c12a, 箱庭)
    li.bugfix 修正分身在兩次變化職業後，無法選擇第三次的目標的bug。(35db5b3)
    li.bugfix 修正闇鍋中在調整陣營人數時，過多地分配村人陣營職業的bug。(3231264)
    li.bugfix 修正設定中使用「占卜初日白通知」的時候，仙狐可能被列為占卜對象的bug。(829fea7, 箱庭)
    li.bugfix 修正靈能者復活時，會顯示很久以前的靈能結果的bug。(0ae9e72)
    li.bugfix 修正遊蕩獵人在復活時，會變得不能守護自己死亡時守護過的人的bug。(2109c00)
    li.bugfix 修正村人陣營以外的人被怪盜盜竊職業後，還沒有發覺自己被盜就可以看到女王觀戰者是誰的bug。(19bc1a5)
    li.bugfix 修正被怪盜盜竊了職業的人在隔日早上不被偶像按村人計數的bug。(7bc8865, 箱庭)
    li.bugfix 修正被怪盜盜竊了職業的人如果在隔日早上被處刑，弗蘭肯斯坦的怪物從此人吸收的職業不是「怪盜」而是其本來的職業的bug。(6b0c07e)
    li.bugfix 修正部分闇鍋中，把人狼系的職業全部排除後仍然可以開始遊戲的bug。(d4dc8fb)
    li.bugfix 修正煉成人狼模式下，被人狼占卜師變成了「助手」後，助手在白天不能發言的bug。(848b38d)
    li.bugfix 修正煉成人狼模式下，被人狼占卜師變成了「助手」後，助手在夜晚即使選擇幫助對象也不會有事情發生的bug。(8374342)
    li.bugfix 修正途中加入無盡闇鍋的玩家在戰績中的職業被記為「觀戰者」的bug。(b04ddba)
    li.bugfix 修正變成保安的玩家可以突破限制在初日行使能力的bug。(c4305eb)

  h2 v1.14.7 (2018-12-31)
  ul
    li.new 新增新職業「探親者」「奇術師」。(ec29889, b43338d)
    li.bugfix 修正v1.14.5更新後，炸彈魔的炸彈不會炸死吸血鬼的bug。(0ce7350)
    li.bugfix 修正無盡闇鍋中，重生後可能變成「暴動者」「保安」的bug。(187c409, Sunev)
    li.bugfix 修正「暴徒」「暴動者」「保安」對變態殺人狂行使能力後不會死的bug。(e6fc92d, 箱庭)

  h2 v1.14.6 (2018-12-24)
  ul
    li.new 新增新職業「暴徒」。此職業在萬聖節·聖誕節·新年期間將以較高機率出現。(da58028)
    li.change 在貓又失手復活了錯誤的目標後，現在在靈界新增了這個復活資訊的記錄。(d687f49, Sunev)
    li.bugfix 修正煉成人狼模式下，如果跟蹤狂跟蹤了無陣營的玩家時，被跟蹤者敗北時，跟蹤狂獲勝的bug。(6052e54)
    li.bugfix 修正舌禍狼在被處刑後又復活的時候，會顯示過時的品嚐結果的bug。(3bb3b95)
    li.bugfix 修正在夢色蛋糕師送出巧克力的當夜，如果本命的對象死亡了，夢色蛋糕師不會自盡的bug。(91a6ec4, 箱庭)

  h2 v1.14.5 (2018-12-16)
  ul
    li.change 稱號一覽與稱號編輯的功能由「個人資訊」移動至專用的頁面，點選個人資訊中的「確認稱號一覽·編輯稱號」連結以確認。(b5d9dda)
    li.change 由於在手機瀏覽器中通過「拖動」的方式來編輯稱號很難用，現在新增「點選選取→點選釋放」的方式來編輯稱號。(b5d9dda)
    li.change 以前如果在分身被怪盜盜竊職業的同時分身變化了自己的職業，「在職業被盜後仍然能夠觸發分身的能力轉化職業」變更為「在職業被盜後無法再度觸發分身的能力」。(257fe1b)
    li.bugfix 修正無盡闇鍋中，偶像的粉絲死亡、重生變路人後，仍被偶像識別為粉絲的bug。(73171d4, Sunev)
    li.bugfix 修正被炸彈魔裝上炸彈的人如果同時被護衛並被人狼襲擊時，人狼不會觸發炸彈死去的bug。修正爲「被裝上炸彈的人」「護衛他的人」「人狼」三人都會死去。(738fc10)

  h2 v1.14.4 (2018-12-06)
  ul
    li.change(style="color:red;") 變態殺人狂的職業能力變更為只能在夜晚觸發。（對變態殺人狂行使能力的獨裁者·威嚇的狼不會被殺）(8dced59, 箱庭)
    li.change(style="color:red;") 在無盡闇鍋模式下，替身君變更為不再能夠重生。(4833826, 箱庭)
    li.bugfix 修正手機瀏覽器中量子人狼的機率表不能正確顯示的bug。(1f03593)
    li.bugfix 修正闇鍋中的陣營調整沒有包括「狂愛者」的bug。(7b07e8b)
    li.bugfix 修正煉成人狼模式下，變態殺人狂在右側時，變態殺人狂的能力不被觸發的bug。(c2823fb, Sunev)
    li.bugfix 修正變成了戀人的玩家在被怪盜盜竊職業後，直到隔日夜晚之前戀人的資訊會重複顯示的bug。(de892cf)
    li.bugfix 修正威嚇的狼死亡後在白天能看到能力視窗的bug。(6aa0146)
    li.bugfix 修正占卜師夜晚暴斃死，同時見習占卜師轉化為占卜師的時候，即使猶豫時間已經耗盡，在見習占卜師行使夜晚能力前，遊戲不會繼續進行的bug。(449a313)
    li.bugfix 修正靈能結果不是「村人」的職業在被怪盜盜竊職業後立刻被處刑的時候，靈能結果不是顯示怪盜所預期的「村人」，而是顯示原本職業結果的bug。(7bfe336)
    li.bugfix 修正一定條件下囮狼能夠在第1天夜晚行使能力的bug。(985e8ec)
  h2 v1.14.3 (2018-11-25)
  ul
    li.new 新增新職業「狂愛者」。(8d019f6)
    li.change 死亡者的詳細死因、埋毒者·貓又下毒的對象、巫女·聖職者防禦發動的具體原因這些情報現在將於記錄中顯示。這些記錄只能在靈界或者遊戲結束後確認。(0fd4ee2, Sunev)
    li.bugfix 修正使用「以相同設定建立新房間」功能後，在房間之間移動的話儲存的設定中的時間會消失的bug。(088d396)
  h2 v1.14.2 (2018-11-23)
  ul
    li.change 在手機瀏覽器的文字大小設定中，新增了「極小」選項。(ff62367)
    li.change 如果怪誕狂熱者占選取的目標同時持有人狼和占卜師的能力（例如：人狼收到了占卜師套裝的禮物，或者「人狼×占卜師」、「占卜師×人狼」），怪誕狂熱者的能力效果由「優先變成占卜師」變更為「優先變成人狼」。(5c47c0b)
    li.change 房主在展開開始畫面後，進入離開房間、前往其他頁面等操作的時候，現在不會遺失房間的配置資訊了。(8785e69)
    li.change 修正煉成人狼模式下，怪盜雖然只盜竊目標左側的職業，卻可以得知目標左右兩側的職業的問題。變更為怪盜只能知道目標的左側職業是什麼。(76e02c9)
    li.bugfix 修正v1.14.0更新後，Google Chrome不能完整顯示內容較長的房間的bug。(7103497)
    li.bugfix 修正煉成人狼模式下，強制使用的職業在右側時會顯示為「任意」的bug；同時修正煉成人狼模式下，替身君不使用右側職業的能力導致暴斃死的bug。(fcceb0b)
    li.bugfix 修正煉成人狼模式下，如果有「麵包店×麵包店」存在，早上的麵包店資訊會出現兩次的bug。(92db3f1)
    li.bugfix 修正逃亡者被催眠師催眠能力無效化的夜晚，如果人狼襲擊了逃亡者的逃亡目標的時候，雖然逃亡者的能力被無效化，仍會死於人狼的襲擊的bug。(d74ae6c)
    li.bugfix 修正v1.14.0更新後，替身君是人狼系的時候，替身君會搶先於其他人狼襲擊的bug。(8abdbad, Sunev)
    li.bugfix 修正烏鴉人數從1人增至超過1人，又重新降回1人或更少的情況下，烏鴉的啼鳴不正確顯示的bug。(99a39bc, Sunev)
    li.bugfix 修正遊戲開始時顯示職業配置的時候和規則的職業一覽顯示中，怪誕狂熱者、被詛咒者、血腥瑪麗會顯示兩次的bug。(be1a2e3)
    li.bugfix 修正血腥瑪麗死亡並行使能力後，在靈界和遊戲結束後職業名不能正確顯示的bug。(b581a88)
    li.bugfix 修正在小紅帽被人狼襲擊的當夜，如果這名人狼死亡、小紅帽復活的話，小紅帽的死亡原因不正確顯示的bug。(5bb9e9b)
  h2 v1.14.1 (2018-11-18)
  ul
    li.change 頂部選擔中新增「設定」項，可以設定是否使用為手機瀏覽器設計的用戶界面。(549c242)
    li.bugfix 修正早期版本iOS及Edge中，手機瀏覽器頁面顯示崩潰的bug。(549c242)
    li.bugfix 修正v1.14.0更新後，遊戲結束後在玩家一覽中職業名與「拒絕復活」重疊顯示的bug。(549c242)
  h2 v1.14.0 (2018-11-18)
  ul
    li.change 變更使用手機瀏覽器進行紫月人狼時的用戶界面。(3fe3de1)
    li.change 變更「規則一覽」的用戶界面。(3fe3de1)
    li.change 在使用「n秒規則」時，現在會顯示禁止發言的剩餘時間了。(e82e1ae)
    li.bugfix 修正被怪盜盜竊職業後，戀人會消失的bug。(8a98b70)
    li.bugfix 修正變成戀人等的時候，強制使用的能力欄中顯示「任意」的bug。(c636b6a)
    li.bugfix 修正在使用分身的能力轉化職業後，由於其他職業的能力又進行了職業變化的話，下一次分身的能力在滿足條件後不被正確觸發的bug。(d79162c)
    li.bugfix 修正獵師在被炸彈魔裝上炸彈後，會導致獵師死亡後的槍擊被跳過的bug。(18156ec)
  h2 v1.13.17 (2018-11-01)
  ul
    li.change(style="color:red;") 聖職者與巫女的能力變更為「不能夠抵抗暴斃死」。(b04f8c7)
    li.bugfix 修正v1.13.16更新後，狡猾的狼在假死復活時有時會失敗的bug。(15bd945)
    li.bugfix 修正煉成人狼模式下，如果小偷在右側的話，供選擇的職業只有「村人」的bug。(a9a2e3a)
    li.bugfix 修正小偷選擇了職業變化對象後，系統記錄不顯示的bug。(8672ddd)
    li.bugfix 修正怪盜同時屬於「村人系」與「職業變化系」的問題，變更為只屬於「職業變化系」。(fda74fc)
    li.bugfix 修正v1.13.16更新後，職業一覽中不顯示尼特的bug。(03bed67)
    li.bugfix 修正囮狼對變態殺人狂行使能力後不死的bug。(b26bce8)
    li.bugfix 修正騙子的夜晚能力被無效化的隔日早上，會顯示無效化之前結果的bug。(d645ce6)
    li.bugfix 修正策士策反的對象如果在當夜追隨某人自盡，會在死亡前變成更生者的bug。(14d4903)
    li.bugfix 修正「人狼占卜師」把狂人系變成「占卜師的媽媽」後，占卜師的媽媽立刻得知占卜師是誰的bug。(73c0fc5)
  h2 v1.13.16 (2018-10-28)
  ul
    li.new 新增新職業「囮狼」。(e8fdf0d)
    li.change 在遊戲開始時的系統通知中，與遊戲界面「規則」了的出現職業一覽中，職業的排列順序由「按照職業的名字排序」變更為「按照職業的陣營排序」。(07ba320, 6388017)
    li.bugfix 修正對話中出現超長了連結時，會破壞頁面排版的bug。(f46984f)
    li.bugfix 修正村人陣營玩家的助手不能得知女王觀戰者是誰的bug，並且現在助手可以直觀地知道幫助對象的陣營了。(f87e0ec)
    li.bugfix 修正助手協助的對像在變成戀人後，雖然該對象的陣營等資訊會立刻更新，但是助手要到隔日早上才能更新的bug。(78298d9)
    li.bugfix 修正分身在第二次職業變化後，遺言會消失的bug。(824e2ee, Sunev)
    li.bugfix 修正被詛咒者變成人狼的系統訊息重複出現的bug。(cd29905, Sunev)
    li.bugfix 修正替身君是模仿者時，如果在第一天模仿了魅惑的女狼，替身君會暴斃死的bug。(7ad7156)
    li.bugfix 修正一些情況下，職業一覽中無法列出尼特等一部分職業的bug。(79d9f7d)
    li.bugfix 修正闇鍋以外的模式下，如果設為不公開職業一覽的話，規則設定中會出現「闇鍋安全性」選項的bug。(5cac02c)
    li.bugfix 修正被咒言師禁言的人如果同時被新增了其他的附加狀態，白天將能夠說話的bug。(937bb0b)
  h2 v1.13.15 (2018-10-10)
  ul
    li.change 在無盡闇鍋中，即使「靈界表示」設定為「有」，也不會在靈界顯示職業資訊了。(772be5f)
    li.change 法醫學者的死亡耐性判定中，雪女的判定結果由「沒有死亡耐性」變更為「持有死亡耐性」；子狐的判定結果由「持有死亡耐性」變更為「沒有死亡耐性」。(f7ca804)
    li.bugfix 修正煉成人狼模式下，老人的衰老等部分具有自殺能力的職業在右側時，能夠無視聖職者守護的bug。(c29ba50)
    li.bugfix 多名怪盜盜竊同一個人的職業、一名怪盜盜竊另一名怪盜的職業時，以前有時會導致被盜的職業增殖、有時會導致被盜的職業消失，現在修改爲職業的數量不發生變化。(c2f4dd8)
    li.bugfix 修正遺言文字框不能在縱向延伸的bug。(2092fd7)
    li.bugfix 修正煉成人狼模式下，跟蹤狂達成了勝利條件也不能獲勝的bug。(f7ca804)
    li.bugfix 修正決勝投票被設為「總是」，並有要一天處刑多個人的時候，從第二個人開始不進行決勝投票的bug。(30aa13b)
    li.bugfix 修正硬漢在被人狼襲擊後又被處刑的情況下，硬漢會死兩次的bug。(8c45bc8)
    li.bugfix 修正在滿足了遊戲的結束條件應該立刻結束時，替身君也能夠在遊戲結束前進行行動的bug。(e456f8d)
    li.bugfix 修正如果被同時附加了多個如獵人的護衛這種有效期1天的附加狀態的話，附加狀態的效果時間有時會延長的bug。(d93dae5)
    li.bugfix 修正GM在復活玩家後，復活通知不立刻出現的bug。(b5b1992)
    li.bugfix 煉成人狼模式下，人狼等能夠進行夜晚會話的職業在右側時，夜晚發言頻道預設的第一位由「自言自語」變更為「該職業預設的夜晚會話」。(39694ee)
    li.bugfix 修正如果在吃下夢色蛋糕師送來的巧克力同時被催眠師催眠，吃下巧克力的效果將延遲到下一個夜晚才能顯示的bug。(d3c648a)
    li.bugfix 修正煉成人狼模式下，如果右側是占卜師的話，即使占卜師已經死亡了，也會顯示占卜結果的bug。(6fa9d99)
    li.bugfix 修正由弗蘭肯斯坦的怪物吸收，或者由商人等贈與的占卜師之類的副職業本應是「非強制」行使能力的，但是能力選項中顯示為「必須」的bug。(c44602a)
    li.bugfix 修正煙火師施放焰火後如果獵師死亡了，獵師無法選擇射擊對象的bug。(8e6737d)
    li.bugfix 修正如果GM在白天處死獵師，會導致獵師的能力結束後的夜晚被跳過的bug。(87c20af)
    li.bugfix 修正特定條件下狂人狼能夠選擇人狼的襲擊對象的bug。(d8aa673)
    li.bugfix 修正硬漢人狼的能力使用後仍然會顯示能力使用選項的bug。(9af13d9)
    li.bugfix 襲擊過小紅帽的人狼死亡的時候，以前是「在小紅帽復活之前進行勝負判定」，現在修改「在小紅帽復活之後進行勝負判定」。(fdb32eb)
    li.bugfix 修正惡靈憑依本人的發言與轉發的靈界發言之間，能夠依靠頭像的有無、發言篩選等進行區分的bug。(60a7bfc)
    li.bugfix 修正惡靈憑依在被咒言師禁言的情況下，依然能夠轉發靈界發言的bug。(ac14575)
    li.bugfix 修正在獵師選擇射擊目標的期間，助手的發言會變成自言自語的bug。(03a1068)
    li.bugfix 修正第二天以後變成小偷的時候，不能選擇職業的bug。(f0bf8db)
    li.bugfix 修正煉成人狼模式下，小偷一定勝利的bug。(f0bf8db)
  h2 v1.13.14 (2018-09-23)
  ul
    li.new 個人資訊內「配色設定」的功能現在加強了，能夠設定更多更詳細的配色了。(c7d8f98)
    li.change 弗蘭肯斯坦的怪物如果吸收了衰老死亡的老人的話，以前是「弗蘭肯斯坦的怪物會在接下來的晚上衰老死去」，現在修改「弗蘭肯斯坦的怪物會立刻衰老死去」。(8dda87e)
    li.change 所屬陣營變化為人狼陣營的參加者如果被人狼占卜師占卜了，以前不是「狂人系」的職業也會發生狂人變身，現在修改爲「只有狂人系的職業被人狼占卜師占卜後才會發生狂人變身」。(0b73c9d)
    li.bugfix 修正不論有無能力，替身君均會使用超常現象研究者的能力的bug。(4a340fb)
    li.bugfix 修正由暴斃死導致遊戲結束的時候，遊戲結束後仍然會提示投票的bug。(e593996)
    li.bugfix 修正被GM復活的替身君會暴斃死的bug。(49d8bf6)
    li.bugfix 修正如果礙事狂人被人狼占卜師占卜的話，礙事狂人在妨礙其他人的時候，被妨礙的一方不會出現被妨礙通知的bug。(5ce5955)
    li.bugfix 修正硬漢在被人狼襲擊的隔日如果遭到威嚇人狼威嚇，就能夠再多活一天的bug。(298600e)
    li.bugfix 修正從夢色蛋糕師哪裡得到本命巧克力的玩家，在吃下巧克力之前就能知道自己變成了戀人陣營的bug。(02cef1f)
    li.bugfix 修正煉成人狼模式下，如果左側是持有襲擊耐性的職業、右側是惡魔的時候，即使被襲擊也無法達成惡魔勝利條件的bug。(85e6f26)
    li.bugfix 修正煉成人狼模式下，跟蹤狂即使達成了勝利條件也會敗北的bug。(e7c48e1)
    li.bugfix 修正吸血鬼被怪盜盜竊後，隔日白天被盜一方在吸血鬼一覽中看不到自己而是看到盜竊自己職業的怪盜的bug。(0f8df48)
    li.bugfix 修正妖狐系被怪盜盜竊後，被盜的一方在妖狐一覽中可以同時看到自己和怪盜的bug。(61e6a0c)
    li.bugfix 修正被怪盜盜竊職業的人如果在隔日白天死掉了，隔夜自己變成怪盜的通知不出現的bug。(2a4969a)
    li.bugfix 修正國王被怪盜盜竊的時候，隔日白天被盜的人的投票數仍是2票的bug。(29dbd4c)
  h2 v1.13.13 (2018-09-20)
  ul
    li.bugfix 狂人改變職業同時死亡被弗蘭肯斯坦的怪物吸收的時候，被吸收的狂人職業也會發生變化的bug，現在修正爲不會發生變化。(3297f1d)
    li.bugfix 修正玩家的名稱包含特定字元時自言自語的發言記錄顯示出現錯誤的bug。(38af6db)
    li.bugfix 修正v1.13.12更新後，替身君死亡後仍然能夠行使能力，以及決定人狼的襲擊對象的bug。(8c52272)
    li.bugfix 修正v1.13.12更新後，怪盜在盜竊職業的當夜死亡後，仍會發生職業變更的bug。(9575cd5)
    li.bugfix 修正v1.13.12更新後，煉成人狼模式下分身一定會勝利的bug。(5207ada)
  h2 v1.13.12 (2018-09-18)
  ul
    li.change 血腥瑪麗的勝利條件如果變更為「人狼陣營的勝利」，血腥瑪麗的陣營現在也將一同變成「人狼陣營」。(bffe7de)
    li.change 煉成人狼模式下聖誕老人在離開村子後由「必須是村人陣營獲勝聖誕老人才能獲勝」修改爲「不論哪個陣營獲勝聖誕老人都能獲勝」。(2bef89e)
    li.change 由人狼占卜師導致的狂人職業變化以前視情況可能會立刻發生，現在修改爲「狂人的職業變化只會在天亮時發生」。(28d2198)
    li.change 被人狼占卜師占卜的狂人如果在當天夜晚死亡了，「狂人的職業變化」修改爲「不會發生」。(f52d4ab)
    li.change 處刑投票如果需要處死多名參加者的時候，在完成了一個人的處刑開始下一個人的投票的時候，剩餘的重新投票次數由「不會重置」修改爲「重置為三次」。(841ac5b)
    li.change 房間設定中使用了「狼的僕從」選項後，被指定為狼的僕從的參加者由「立刻變成狼的僕從」修改爲「在天亮的同時變成狼的僕從」。(0ff3a50)
    li.change 現在猶豫時間不能設為小於1分鐘。剩餘的猶豫時間如果已經小於1分鐘，GM將不能繼續縮短猶豫時間。(8c2c801)
    li.bugfix 修正參加者在被雪女守護的狀態下，如果因為其他原因死亡了，死亡通知不正確顯示的bug。(273ece6)
    li.bugfix 修正職業變化時遺言可能會消失的bug。(015cd1a)
    li.bugfix 被炸彈魔裝上炸彈的人如果在夜晚同時被獵人守護和被人狼襲擊，以前只有獵人會因為炸彈死去而人狼不會，現在修正爲「獵人與人狼都會因為炸彈死去」。(7e88262)
    li.bugfix 如果在變成白天的同時由於人狼死亡導致當天的天數超過了老人的壽命上限的話，以前老人是否立刻壽命耗盡死去是隨機的，現在修正爲「老人會立刻壽命耗盡死去」。(1cb448a)
    li.bugfix 修正變成更生者、狼的僕從的玩家的陣營顯示不正確的bug。(87b399a)
    li.bugfix 修正部分闇鍋中，使用「第三陣營系」等選項，黑鍋安全性設為「高」以上的時候，職業數如果不正確遊戲就無法開始的bug。(d431f9e)
    li.bugfix 修正被詛咒者由於咒言師的能力不能發言時候，如果變成了人狼，咒言師的禁言效果會格外增加一天的bug。(5a3803a)
    li.bugfix 修正量子人狼中，如果占卜師機率設為可見，機率表不能正確顯示的bug。(94c6e3d)
    li.bugfix 在逃亡者逃到人狼系的家裡當夜，如果這名人狼系死亡的話，以前會逃亡者是否死亡是隨機的，現在修正爲「逃亡者會死亡」。(437c710)
    li.bugfix 修正由獨裁者行使能力導致勝負判定的時候，勝負的通知會出現兩次的bug。(129ed5d)
    li.bugfix 修正房間選項「多組戀人相互獨立」設定為「否」，場上有多組戀人生存，並且有不是戀人的參加者生存時，不被結算為戀人勝利的bug。(f8cbd81)
    li.bugfix 修正被策士策反的更生者無法知道女王觀戰者是誰的bug。(cb8502e)
    li.bugfix 修正參加者被多個人同時選為復活能力目標的時候，有關復活的系統通知會多次出現的bug。(bd08234)
    li.bugfix 修正由於雪女的能力導致的人狼襲擊失敗的時候，瞳狼不能正確識別原因的bug。(c81c9a5)
    li.bugfix 修正硬漢人狼由於護衛等原因與襲擊目標同歸於盡後，看板娘等應該在被人狼襲擊死亡時應該觸發的能力沒有正確觸發的bug。(c4cfa79)
    li.bugfix 修正替身君是模仿者，並模仿了自己的時候，會導致意外決定人狼的襲擊對象的bug。(64e76ab)
    li.bugfix 修正替身君是怪盜的時候，可能會盜竊自己的職業的bug。(64e76ab)
    li.bugfix 修正煉成人狼模式下，被礙事狂人妨礙後，如果右側的職業是占卜師，可以不受影響進行占卜的bug。(70d0798)
  h2 v1.13.11 (2018-09-08)
  ul
    li.new 新增新職業「雪女」「烏鴉」。(ffaa9e3, 7364e7b)
    li.change 玩家界面中顯示職業名與其他附加情報的部分有所變更。即使在煉成人狼模式以外也將一直顯示玩家所屬在陣營，根據陣營的不同還會改變顏色。(f5bcdec)
    li.change 人狼占卜師占卜了變態殺人狂的時候，以前人狼占卜師是不會死的，現在變更為「人狼占卜師死亡」。(37bcdd8)
    li.change 煉成人狼模式下，在選擇夜晚發言頻道是時候,「自言自語」與各職業的固有選項（「人狼的會話」等等）之間以前有上下順序不固定的情況，現在變更為職業固有的對話頻道一定比「自言自語」更為優先。(78c6111)
    li.change 現在起，即使遊戲平局了，暴斃死的玩家也將被判為敗北。(bd2ece0)
    li.change 占卜師等職業如果被複活的時候，以前會顯示死亡前使用的能力結果，現在變更為「不顯示死亡前使用的能力結果」。(d3c699e)
    li.change 占卜師等職業如果暫時被禁止行使能力的時候，以前會多次顯示重複內容的能力結果，現在變更為「不顯示這些重複的能力結果」。(d3c699e)
    li.change 在人狼選擇襲擊對象的畫面中，如果可襲擊次數超過一次的話，現在將顯示可以襲擊的次數具體有幾次。(725a99d)
    li.bugfix 修正惡魔在被處刑後滿足了勝利條件的時候，遊戲結束畫面中惡魔沒有死去的bug。(1f3c1cb)
    li.bugfix 修正怪盜盜竊職業的時候，能夠看到職業上附加的諸如戀人等情報的bug。(0420c13)
    li.bugfix 修正惡女將一人同時選為本命和手玉時，被選取的人只被視為手玉，不被視為戀人的bug。(2505620)
    li.bugfix 修正替身君是獵人或邪教主時，會把已死亡的玩家列為能力對象的bug。(6c04ed9)
    li.bugfix 修正瘋狂科學家對變態殺人狂行使能力後不會死的bug。(1cbb874)
    li.bugfix 修正犬的飼主死亡後，仍然出現襲擊飼主選項的bug。(aa03f98)
    li.bugfix 修正闇鍋安全性在「低」以上的時候，仙狐不會在闇鍋中出現的bug。(9f89cc9)
    li.bugfix 修正助手在猶豫時間不能發言的bug。(8b97058)
    li.bugfix 如果策士選擇了人狼系的目標當夜這名人狼系的玩家死亡的話，以前策士是否死亡的情況都有可能出現，現在統一修正爲「策士死亡」。(51edf39)
    li.bugfix 被策士選為目標的人如果在當夜死亡的話，以前目標被策反與不被策反的情況都有可能出現，現在起統一修正爲「不被策反」。(6809ab2)
    li.bugfix 如果狂犬使用襲擊能力的同時被人狼占卜師占卜的話，「狂犬的襲擊失效」的bug被修正爲「狂犬的襲擊有效」。(37bcdd8)
    li.bugfix 在有GM，並且隱藏職業配置的房間中，規則顯示變更為像闇鍋的房間那樣顯示與各個職業相關的所有規則。(e7d3532)

  h2 v1.13.10 (2018-08-24)
  ul
    li.new 新增新職業「潛伏者」。(d1c38a2)
    li.change 煉成人狼模式下，醉鬼自身的職業顯示由「村人」變更為「村人×村人」。(fb7f84a)
    li.change 「怪盜」不再能夠盜竊自己的職業了。(2548b1b)
    li.change 惡魔如果被人狼襲擊的同時受到了獵人等職業的守護沒有達成勝利條件時，變更為不再出現被襲擊通知。除外，被襲擊通知的內容也更明確的告知玩家達成了惡魔勝利條件。(400ac93)
    li.bugfix 修正煉成人狼模式下，醉鬼的能夠看到自己實際陣營的bug。(c0d829c)
    li.bugfix 修正煉成人狼模式下，替身君有時會猝死的bug。(55daa9e)

  h2 v1.13.9 (2018-08-21)
  ul
    li.bugfix 當替身君是「丑時之女」「狼少年」「獅子舞」「仙狐」時，替身君將不再使用這些非強制的能力。(0acefd9)
    li.bugfix 修正煉成人狼模式下，「被詛咒者」變化為人狼時，導致遊戲停止的bug。(77b1e48)
    li.bugfix 修正v1.13.6更新後，在遊戲中發生職業變化後，稱號、戰績以變化後在職業記錄的bug。(fb149d9)
    li.bugfix 修正v1.13.7更新後，「人狼占卜師」的玩家無法查看當前結束的房間的bug。(ba7ec35)

  h2 v1.13.8 (2018-08-16)
  ul
    li.bugfix 修正v1.13.6更新後，煉成人狼模式下，「分身」等職業在變化時會導致兩側的職業都消失的bug。(1f28ade)
    li.bugfix 修正v1.13.0更新後，量子人狼的概率表不能查看的bug。(ad97ecf)
    li.bugfix 修正煉成人狼模式下，「小紅帽」在右側時，能力不能正確發動的bug。(eb6617b)
    li.bugfix 修正「模仿者」模仿了「占卜師的媽媽」等職業後，本來只能由本人看到的能力提示變得對所有人可見的bug。(4aa1c35)

  h2 v1.13.7 (2018-08-16)
  ul
    li.bugfix 修正v1.13.6更新後，收到「獵人」等護衛的「占卜師」的占卜結果不能正確顯示的bug。(bc15d6f)

  h2 v1.13.6 (2018-08-15)
  ul
    li.bugfix 修正v1.13.0更新後，設為「匿名（結束後公開ID）」的房間中，玩家的ID沒有正確公開的bug。(67928a2, Sunev)
    li.bugfix 修正煉成人狼模式下，右側的「分身」在第二次變更職業後不正確動作的bug。(e770a08)
    li.bugfix 修正煙火師行使能力後，已經死亡的玩家生存時的職業能力將被錯誤觸發的bug。(486e9a3)
    li.bugfix 修正煉成人狼模式下，如果玩家陣營發生了變化，陣營的顯示不能更新的bug。(68b7294)
    li.bugfix 修正煉成人狼模式下，「人狼占卜師」對狂人系列進行占卜的時候，右側的狂人職業不發生變更的bug。同時，如果兩側都是狂人系列的職業，兩側的職業將同時更新。(511df2c)
    li.bugfix 修正採用房間規則「替身安全性」時，替身君可能變成求愛者的問題。(c04f89d)

  h2 v1.13.5 (2018-08-12)
  ul
    li.bugfix 修正在由於「弗蘭肯斯坦的怪物」「商人」等職業的效果同時持有多個相同的職業時，其中從第二個該職業開始無法正常行使能力的bug。(294a51d)
    li.bugfix 修正煉成人狼模式下，「分身」的變身效果不正常的bug。(eb157a2)
    li.bugfix 修正v1.13.0更新後，遊戲中GM工具畫面顯示不正確的bug。(9cd9a52)
    li.bugfix 修正v1.13.0更新後，量子人狼相關內容不正確顯示的bug。(effe1ee)
    li.bugfix 修正v1.13.0更新後，死亡後仍然顯示能力對像選擇畫面的bug。(f78731c)
    li.bugfix 修正v1.13.0更新後，對特定玩家發言進行高亮強調的功能對部分玩家不能正確工作的bug。(04969aa)
    li.bugfix 修正v1.13.0更新後，在有GM和幫手時，自由配置下無法開始遊戲的bug。(77fc46b)

  h2 v1.13.4 (2018-08-07)
  ul
    li.change 硬漢被人狼系襲擊後死去的時間由「隔日的夜晚到來時」變更為「隔日的夜晚結束時」。(6f0121f)
    li.bugfix 修正煉成人狼模式下，對變態殺人狂行使能力後，不會死的bug。(15f9a95)
    li.bugfix 修正煉成人狼模式下，僕從選擇者在選擇了狼的僕從後，只能夠得知目標左側職業名稱的bug。(2b3c5d0)
    li.bugfix 修正採用房間規則「死亡筆記」時，獲得筆記的人不知道自己得到了筆記的bug。(2ccc7d5)
    li.bugfix 修正採用房間規則「死亡筆記」時，如果不使用死亡筆記，這個副職業就不會自動消掉的bug。(8494098)
    li.bugfix 修正v1.13.0更新後，晝夜切換後發言的種類不進行適當切換的bug。(17accbf)
    li.bugfix 修正煉成人狼模式下「逃亡者」是右側職業的玩家，逃到人狼系的玩家家裡，逃亡者不會死去的bug。(2bca31d)

  h2 v1.13.3 (2018-08-07)
  ul
    li.bugfix 修正v1.13.0更新後，Microsoft Edge瀏覽器無法選擇投票或行使能力目標的bug。(832f7b5)
    li.bugfix 修正v1.13.0更新後，手調黑暗火鍋中，職業除外的設定被無視的bug。(02c6517)

  h2 v1.13.2 (2018-08-06)
  ul
    li.bugfix 修正v1.13.0更新後，黑暗火鍋中設定為顯示陣營人數時「人狼系」等陣營的名稱不顯示的bug。(832f7b5)
    li.bugfix 修正v1.13.0更新後，參加者一覽中生存者・死亡者的人數不顯示的bug。(02c6517)

  h2 v1.13.1 (2018-08-06)
  ul
    li.bugfix 修正v1.13.0更新後，房間內有幫手存在時，會導致遊戲停止的bug。(a9fb9a7)
    li.bugfix 修正戀人等勝利判定不正確的bug。(4bb04d5)

  h2 v1.13.0 (2018-08-06)
  ul
    li.new 變更了遊戲的UI。(7d13f15)
    li.change 煉成人狼模式下弗蘭肯斯坦的怪物現在可以同時吸收左右兩側的職業了。(ede0b9c)
    li.bugfix 修正煉成人狼模式下如果「商人」向持有強制使用的能力的玩家贈送占卜套裝和守護套裝時，該玩家如果不使用套裝能力會猝死的bug。(bd9f1a4)
    li.bugfix 修正煉成人狼模式下如果右側是「死亡筆記」,死亡筆記會消失的bug。(99e347a)
    li.bugfix 修正煉成人狼模式下變成狐憑的人被人狼襲擊後會死的bug。(d643bf0)
    li.bugfix 修正煉成人狼模式下多名的結果不一致的bug。(78b9f7d)
    li.bugfix 修正煉成人狼模式下「逃亡者」逃到右側是人狼系的玩家家裡，逃亡者不會死去的bug。(78b9f7d)
    li.bugfix 修正煉成人狼模式下如果先使用了「模仿者」的能力，其他職業的能力可能無法正常使用的bug。(7a969f2)
    li.bugfix 修正煉成人狼模式下滿足了惡魔的勝利條件但是沒有獲得惡魔勝利的bug。(3a458bc)
    li.bugfix 修復了人數過少時如果選擇希望役職制開始遊戲，會導致房間由於bug停止的問題。(159b856)
    li.bugfix 修正煙火師發動能力後，在其他人狼還活著的時候，孤獨的狼出現「可以襲擊他人」誤報的bug。(8c6321b, Sunev)
    li.bugfix 修正替身君是狼少年的時候，可以選擇已經死亡的玩家發動能力的bug。(6540850, Sunev)
    li.bugfix 修正職業變化後「拒絕復活」會被解除的bug。(f5c2a91, Sunev)

  h2 v1.12.16 (2018-07-28)
  ul
    li.bugfix 修正閻魔有2人及以上的時候，只要尚有生存的閻魔，死去的閻魔也能看到能力結果的bug。(e6f40b2)
    li.bugfix 修正煉成人狼模式下包含了「妖怪」「模仿者」等不被計數的職業時，玩家的種族計數會出現錯誤的bug。(198f54d)
    li.bugfix 修正煉成人狼模式下「獵師」「復仇者」的能力有時不會發動的bug。(1600a81)
    li.bugfix 修正煉成人狼模式下包含了尼特，但是不投票會猝死的bug。(602019e)
    li.bugfix 修正煉成人狼模式下「大狼」「小狐」的特殊靈能結果變成「村人」的bug。(bd1fbf4)
    li.bugfix 修正煉成人狼模式下仙狐在透視他人職業時，連商人贈送的禮物套裝都包含在結果內的bug。(6fa9064)
    li.bugfix 修正煉成人狼模式下「狼少年」「南瓜魔」等能夠改變占卜結果的職業不能正常生效的bug。(711ac6d)
    li.bugfix 又一次修正煉成人狼模式下遊戲開始後有玩家消失變成觀戰者的bug。(7dab534)

  h2 v1.12.15 (2018-07-19)
  ul
    li.bugfix 修正煉成人狼模式下如果存在獅子舞，將在勝負判定時導致遊戲終止的bug。(53eafbe)
    li.bugfix 修正煉成人狼模式下右側職業是跟蹤狂時，如果勝負判定時出現循環跟蹤，將導致遊戲終止的bug。(553ee41)
    li.bugfix 修正聖誕老人離開村子時如果被聖職者的能力阻止，將導致遊戲終止的bug。(484725c)
    li.bugfix 修正煉成人狼模式下狡猾的狼、血腥瑪麗死亡後不能正確行使能力的bug。(aa817b8)
    li.bugfix 修正煉成人狼模式下由求愛者、惡女變成的戀人，不能正確地自盡和不能夠正確辨別戀人的bug。(daaa3f0, 3c05a94)
    li.bugfix 對於醉鬼等副職業，仙狐的透視結果修正為不顯示。此外，煉成人狼模式下舌禍狼、跟蹤狂等可以得知其他玩家職業名稱的職業，由只能獲知目標玩家左側職業的名稱變更為可以獲知目標玩家左右兩側的職業。(4bf4366)
    li.bugfix 修正「替身君」能夠向在早上追隨他人自盡的玩家投票的bug。(e886c2a)
    li.change 被夢色蛋糕師選為本命的玩家吃下巧克力前在靈界視角顯示的職業由沒有特殊顯示變更為顯示「本命」。(1ee3db0)

  h2 v1.12.14 (2018-07-17)
  ul
    li.new 新增新職業「仙狐」。(0432407)
    li.bugfix 修正「犬」護衛的人有時能被吸血鬼殺死的bug。(53b3ab8, Sunev)
    li.bugfix 修正「替身君」在決勝投票時，可以投票給不是最高得票玩家的bug。(2faa7f8, Sunev)
    li.bugfix 修正房間選項「多組戀人相互獨立」設定為「否」，並且場上有多組戀人生存時，雖然已經達成了勝負條件但是遊戲不能正確結算的bug。(55d41b3, Sunev)
    li.bugfix 修正替身君是人狼系，但其他人狼因為偶像死去不能行使能力時，替身君不襲擊的bug。(2d79837)

  h2 v1.12.13 (2018-06-18)
  ul
    li.new 新增新職業「偶像」。(8962301)
    li.new 死亡玩家的頭像將變為灰色，並打上紅叉(e5cfe2c, Sunev)
    li.change 「巫女」在行使能力後多次不投票導致平局的，將被列入「猝死懲罰投票」的名單。(1f81530, Sunev)
    li.bugfix 修正決勝投票設為「總是」時，最高票數玩家有多人時不進行重新投票的bug。(3e87656)
    li.bugfix 修正威嚇的狼和煙火師同時行使能力時，煙火師的能力提示不正常顯示而生效，並且生效兩次的bug。(a8a5752)
    li.bugfix 修正煉成人狼模式下人狼系只有1人的時候，遊戲開始後有玩家消失變成觀戰者的bug。(0880370)

  h2 v1.12.12 (2018-05-17)
  ul
    li.new 新增新職業「舌禍狼」「黑貓」。(ca0c36b, ee8d8fe)
    li.bugfix 修正「血腥瑪麗」選擇行使能力的目標後，系統記錄不正確顯示的bug。(61774ef, Sunev)
    li.bugfix 修正夜晚誕生的「忍者」（通過模仿等）在當天夜晚使用忍者的能力後，第二天早上不顯示結果的bug。(80feaac)

  h2 v1.12.11 (2018-04-08)
  ul
    li.bugfix 修正「手調黑暗火鍋」模式，安全性設為低以上的時候，如果指定了「人狼系」職業的時候，會導致出場的人狼系職業過多的問題。同時，修正煉成人狼中使用手調黑暗火鍋時，出場職業中人狼系和其他陣營數量過多的問題。(28ac7ab)

  h2 v1.12.10 (2018-04-06)
  ul
    li.change 「黑暗火鍋」、「手調黑暗火鍋」模式下，可以使用「煉成人狼」了。(a124be0)
    li.bugfix 修正替身君是「威嚇人狼」時，替身君有時會猝死的bug。(4113469, Sunev)
    li.bugfix 判定變更：同一天晚上褻瀆者和占卜師對同一個人行使能力的時候，這個人「當夜是否會被咒殺」從「根據褻瀆者和占卜師的手速隨機發生」，變更為「一定會被咒殺」。(e7aa41a)
    li.bugfix 修正「煉成人狼」模式中，「弗蘭肯斯坦的怪物」等職業，在滿足特定條件是，應該觸發死亡，但是不會死的bug。(f8900c6)
    li.bugfix 修正「煉成人狼」模式中，如果被褻瀆的玩家右側持有反彈褻瀆者能力的職業時（例如「×騙子」），褻瀆者不會正確地變為狐憑的bug。(81493e5)
    li.bugfix 判定變更：「煉成人狼」模式中持有「人狼系×吸血鬼」這樣職業的玩家在勝負結算時同時被記為人狼和吸血鬼，導致無法獲勝。這種情況現在變更為玩家將只被記為吸血鬼，可以作為吸血鬼獲勝。(765cf5d)
    li.bugfix 修正「煉成人狼」模式中職業發生變化時，職業名稱在靈界和結束後顯示錯誤的bug。(9fa64ec)

  h2 v1.12.9 (2018-02-24)
  ul
    li.bugfix 修正替身君是「陷阱師」時，用陷阱守護死者的bug。(821a5f0)
    li.bugfix 修正「魔女」在收到巧克力時，使用魔藥後不生效的bug。(178be34)

  h2 v1.12.8 (2018-01-29)
  ul
    li.change 修訂了一部分系統提示，統一了標點的使用和一些措辭的不同。(1de6f04)
    li.bugfix 修正Firefox中遊戲開始界面設置職業數量時，UI崩潰的bug。(d877832)
    li.bugfix 修正Firefox「以相同設定建立新房間」按鈕不正常工作的bug。(60e4469)
    li.change 現在「退出」功能從頁面頂部移動到「個人資訊」最下方。(cdac412)

  h2 v1.12.7 (2017-12-31)
  ul
    li.bugfix 修復了存在複數獅子舞的時候，獅子舞無法獲勝的bug。(782a1bc,679a2e3)

  h2 v1.12.6 (2017-12-27)
  ul
    li.new 新增新職業「瞳狼」。(88a0475)
    li.change 在黑暗火鍋中展示出場陣營的時候，邪教主的陣營從「其他陣營」中獨立出來，成為「邪教主陣營」。(43d8586)
    li.new 但是，在本次同時新增的設定「是否隱藏單獨陣營」(默認為隱藏)設為「隱藏」時，吸血鬼・惡魔・邪教主將被計入「其他陣營」。(3840cc6)
    li.bugfix 修復了獨裁者處死「獵師」或「復仇者」之後，在「獵師」與「復仇者」的能力結束後不進入夜晚的bug。(fed7e87)
    li.bugfix 修復了結束時如果有途中變為「無賴」的生存者存在，可能導致遊戲失去響應的bug。(bed9eb3)

  h2 v1.12.5 (2017-12-10)
  ul
    li.new 新增新職業「尖叫狂人」「閻魔」。(b5e3e58, f3cea61)
    li.bugfix 「催眠師」現在被視為能夠干擾占卜結果的職業。(f64d992)
    li.bugfix 「以相同設定建立新房間」功能，現在能夠正確的保存手調黑暗火鍋的配置與除外職業了。(b3299ea)
    li.bugfix 修復了逃亡者與策士對已經轉化為戀人陣營的人狼系或者吸血鬼行使能力後，會死亡的bug。(6e73a46, d3686f5)
    li.change 點擊房間的「規則」按鈕時，現在包含關於時間長短的各項設定了。(cc761fa)

  h2 v1.12.4 (2017-11-30)
  ul
    li.change 在戰績「參加過的房間一覽」中，可以查看自己在各個房間的職業與勝敗情況。(cafecf0)

  h2 v1.12.3 (2017-11-19)
  ul
    li.new 新增新職業「獵師」「復仇者」。同時，新增設定「絕地反擊」。(06f65d2)
    li.new 參加者可以投票處罰猝死玩家。(4e5dcf0, Sunev)

  h2 v1.12.2 (2017-11-12)
  ul
    li.new 新增「投票專用時間」功能。如果此時間設定不為零，白天的討論期間將禁止投票，改為只在投票專用時間投票。(fdca4dd)
    li.change 設定中使用「占卜初日白通知」的時候，被佔卜的候選人中不再包括妖狐。(83b8864)

  h2 v1.12.1 (2017-11-04)
  ul
    li.change 能力變更：<strong style="color:red;">怪盜對變態殺人狂行使能力的時候，變更為怪盜不會死去、而是成功盜竊變態殺人狂的職業</strong>。(d0837ba)
    li.change 獵人系列的規則（是否可以保護自己等等）現在也對角色扮演者生效了。(6b7a8ea)
    li.bugfix 修正魔女第一天雖然不能行使能力，但是會顯示能力欄的bug。(c20a577)
    li.change 能力變更：<strong style="color:red;">「替身君」設定為「無（玩家會被殺）」的時候，獵人系列可以在第一天夜晚行使能力了</strong>。(0b77500)
    li.bugfix 修正忍者行使能力後結果不出現的bug。(f5457bd)
    li.change 參加者的復活記錄出現的時機有所改變，移動至死亡記錄之後。(1003016)

  h2 v1.12.0 (2017-10-10)
  ul
    li.new 新增「戰績表示機能」。現在可以在個人資訊查看自己的戰績，在用戶頁面公開自己的戰績。(98e43cd)

  h2 v1.11.21(2017-10-07)
  ul
    li.bugfix 修正忍者對變態殺人狂行使能力而不死的bug。(98e43cd)
    li.bugfix 修正「占卜初日白通知」選中後替身君會進行占卜的bug。(a015fb2)
    li.bugfix 修正希望役職制房間在輸入了無效配置仍然進入職業選擇界面的bug。(58173a1)
    li.bugfix 修正惡魔等職業在黑暗火鍋模式中即使被排除了仍會出現的bug。(8fa9b95)

  h2 v1.11.20(2017-09-29)
  ul
    li.new 新增新職業「雙胞胎」。(2a7f163)
    li.change 戀人陣營與背德者系列自殺的提示信息<strong style="color:red;">不再區分「追隨著戀人自盡了」「追隨著妖狐自盡了」，統一為「追隨著某個人自盡了」</strong>。雙胞胎也相同。(da14a0b)
    li.new 打開房間後會再次提示有無密碼・是否是匿名模式。(b76eeda)

  h2 v1.11.19(2017-09-22)
  ul
    li.new 新增新職業「妖怪」「忍者」。(2a8d174)

  h2 v1.11.18(2017-09-16)
  ul
    li.new 新增新職業「法醫學者」「角色扮演者」。(544a0e8)
    li.bugfix 修正某些情況下會出現「空白玩家」的bug。(8bfbb26)

  h2 v1.11.17(2017-08-15)
  ul
    li.bugfix 「隱藏投票結果」選項重新啟用。選擇「隱藏」的話，只有靈界能夠看到投票結果。(e6991f9)

  h2 v1.11.16(2017-08-13)
  ul
    li.bugfix 修復了罕見情況下，替身君「狂人狼」能夠襲擊他人的bug。(3e6d8ee, Sunev)
    li.bugfix 修正替身君「吸血鬼」能夠襲擊死者的bug。(2c87327, Sunev)

  h2 v1.11.15(2017-07-13)
  ul
    li.change 調整了黑暗火鍋安全性「中」、「低」的平衡性。(d69237b, 85e9c5c)

  h2 v1.11.14(2017-07-09)
  ul
    li.new 將參與者踢出房間的同時，可以選擇「禁止其再次加入」。(59bb3f3)

  h2 v1.11.13(2017-03-18)
  ul
    li.new 新增「連續護衛」選項。設定獵人・遊蕩獵人是否可以連續守護同一個人。默認為「是」。 (d0064f1)
    li.new 新增「占卜初日白通知」選項。如果設為「是」的話，占卜師首天晚上將自動從占卜結果為「村人」的人中隨機選擇一個人進行占卜。默認為「否」。 (9e2d9e9)
    li.new 新增「投票數相同時的處理」選項。除了一直以來的「重新投票」以外，新增了「隨機處刑」「誰也不被處刑」「全員處刑」的選擇。 (c159756)
    li.new GM現在可以以30秒為單位增減各階段的剩餘時間了。 (78a9b06)
    li.bugfix 修復了少數情況下，「弗蘭肯斯坦的怪物」可以多次吸收村人陣營能力的bug。 (39064e5)
    li.bugfix 修正決勝投票時如果發生猝死，或者當天需要處刑超過一個人時，投票候補者會只剩一個人的bug。 (7983a93)
    li.bugfix 修復了早上復活的人無法被投票的bug。 (f806b40)

  h2 v1.11.12(2017-03-16)
  ul
    li.new 新增了靈界的自言自語選項。在靈界視野開啟的時候，現在可以進行只有自己能看到的發言了。靈界的自言自語不會被「惡靈憑依」轉發。 (fa18dd6)
    li.change 「弗蘭肯斯坦的怪物」不再能夠吸收「弗蘭肯斯坦的怪物」的能力。 (bea436f, Sunev)
    li.bugfix 修復了「陷阱師」在與「獵人」守護同一目標時，襲擊該目標的「人狼」會死亡的bug。 (731c8ca)

  h2 v1.11.11(2017-02-25)
  ul
    li.new 新增新職業「南瓜魔」「瘋狂科學家」「惡靈憑依」。 (83053cc, 92f378e)

  h2 v1.11.10(2017-02-22)
  ul
    li.new 現在可以為您的賬號綁定一個認證郵箱，認證成功後可以用於重置登錄密碼。(0ca2462, Sunev)
    li.bugfix 修正在「煉成人狼」中，「策士」動作處理不正確的bug。(24f1f60)

  h2 v1.11.9(2017-02-01)
  ul
    li.bugfix 修復了替身君成為「狡猾的狼」時會導致服務器崩潰的bug。(f2b384e)
    li.bugfix 修復了復合職業有時在處理順序上不正常的bug(例如有時獵人的守護不生效)。(89e8e7d, Sunev)
    li.bugfix 修復了「手調黑暗火鍋」中，部分第三陣營職業會無視房主的「除外職業設置」的bug。(1f50787)
    li.change 禁止行為・注意事項 有所變更。(c0ef570)

  h2 v1.11.8(2017-01-06)
  ul
    li.bugfix 修復了「煙火師」被「威嚇的狼」威嚇時如果使用煙火，沒有能力提示、效果持續2夜的bug。 (da63dee, Sunev)
    li.bugfix 修復了一部分稱號不翼而飛、無法獲得稱號「壓歲錢」的bug。 (9792354, Sunev)


  h2 v1.11.7(2016-12-30)
  ul
    li.new 新增新職業「獅子舞」。(ad31453)
    li.bugfix 修復了「戀人陣營」的勝利/敗北稱號不能正常取得的bug。(715bdf6, Sunev)

  h2 v1.11.6(2016-10-29)
  ul
    li.new 新增新職業「狡猾的狼」。(5cb6a7a)

  h2 v1.11.5(2016-10-23)
  ul
    li.new 房間開始時，改進了「自由配置」與「手調黑暗火鍋」模式下選擇職業數量的GUI。(64c85e1)
    li.new 「手調黑暗火鍋」中，現在可以排除特定職業（即使隨機分配也不會出現）了。(64c85e1)

  h2 v1.11.4(2016-10-08)
  ul
    li.bugfix 修復了「狂犬」等職業如果是被「人狼占卜師」轉化出來的話，可以無視限制，在第一天夜晚行使夜晚能力的bug。(75e3b93, Sunev)
    li.bugfix 修復了「煉成人狼」模式中「硬漢」的被襲擊後能夠看到靈界、不會正常死去的bug。(72ea47c, Sunev)
    li.change 在有GM的場合，現在變成在黑暗火鍋以外的模式中也可以在「職業公開」選項裡設置是否「只公開陣營數」。(4c9d488)

  h2 v1.11.3(2016-08-30)
  ul
    li.bugfix 修正在「煉成人狼」中，形如「占卜師×占卜師」的夜晚強制能力職業，即使使用了夜晚能力也會猝死的bug。(e4202b3)
    li.bugfix 修正在「煉成人狼」中，「王子」·「硬漢」為右側職業時，其能力不能被正確觸發的bug。(93ec755)
    li.bugfix 修正在「煉成人狼」中，「變態殺人狂」為右側職業時，其能力不能被正確觸發的bug。(214b8ad)
    li.bugfix 修正在「煉成人狼」中，「女王觀戰者」為右側職業時，村人陣營看不到女王觀戰者是誰的bug。(fb236f8)
    li.change 在「煉成人狼」中，以前存在兩個職業之一是村人陣營就可以看到「女王觀戰者」的問題，現在修正為必須兩個職業都屬於村人陣營才能看到「女王觀戰者」。(797fa2b)
    li.change 在「煉成人狼」中，新增了顯示自己所屬陣營（獲勝陣營）的提示。(2e091c1)

  h2 v1.11.2(2016-08-28)
  ul
    li.bugfix 修正進入匿名房間後立刻可以看到參加者ID的bug。(cdda3b5)
    li.bugfix 修正被踢出了房間的人的發言和名稱變得奇怪的bug。(ddab3fa)

  h2 v1.11.1(2016-08-11)
  ul
    li.change 房間的匿名設置設為「匿名（結束後公開ID）」並且有GM時，GM變為在遊戲結束前即可獲知參加者的真實ID。(24a0cb9)
    li.new 新增設定「煉成人狼」。(d43acca)

  h2 v1.11.0(2016-03-17)
  ul
    li.new 新增新職業「狂犬」「催眠師」。(418a949)

  h2 v1.10.9(2016-02-14)
  ul
    li.new 新增情人節新職業「夢色蛋糕師」。(d058044)

  h2 v1.10.8(2016-01-21)
  ul
    li.bugfix 修正「人狼占卜師」將狂人轉變為靈能者後，靈能結論顯示「null」的bug。(98518be, Sunev)
    li.bugfix 修正「狼的僕從」的職業說明不能正常顯示的bug。(b053ce2, Sunev)

  h2 v1.10.7(2015-12-15)
  ul
    li.bugfix 修正貪狼發動能力後，任何一天沒咬死人的時候，貪狼會死的bug。(402f236, Sunev)
    li.bugfix 修正獨裁者處死具有死亡連坐能力的人時，服務器會崩潰的bug。(f06ce45, Sunev)
    li.bugfix 修正褻瀆者選擇變態殺人狂為能力目標後，褻瀆者不會死的bug。(bfceab6, Sunev)
    li.new 新增設定「人狼襲擊有毒對像」。人狼襲擊貓又、埋毒者時的默認動作，變更為「連坐襲擊者」，但是根據房主的配置，仍可以隨機連坐。(2ef2fa0)

  h2 v1.10.6(0736e0a;2015-10-25)
  ul
    li.change 背德者が、妖狐が全滅した場合にまだ子狐や狐憑きが残っているのに自殺してしまうバグを修正しました。 (045679e)

  h2 v1.10.5(ae9b27b;2015-10-08)
  ul
    li.change 亵渎者の出现人数が黑暗火锅安全性低以上で調整されるようになりました。(9a61dc8)

  h2 v1.10.4(9a61dc8;2015-08-26)
  ul
    li.change 亵渎者が一部の职业を冒涜した場合に、冒涜相手ではなく自己が狐憑きとなるように变更しました。(0578740)

  h2 v1.10.2(08775a1;2015-07-21)
  ul
    li.new 新职业「亵渎者」「丑时之女」を新增しました。(50cc506)
    li.change 黑暗火锅のとき、替身君が求爱者になれるように变更しました。また、替身君が求爱者になった場合求愛しないように变更しました。また、2日目以降に求爱者に変化した場合求愛できるように变更しました。(50cc506)

  h2 v1.10.1-9(2015-07-01)
  ul
    li.change 威吓的狼の効果で対象の圣职者の护卫・猎人の护卫等を無効化できていたのを、できないように修正しました。また、威吓的狼の効果では死亡判定時に発動する効果を無効化できないように修正しました。(a45dea3)


  h2 v1.10.1-8(85e8d46;2015-05-26)
  ul
    li.bugfix 贪婪的狼が能力を発動すると同時に狼之子が死亡した場合、襲撃に失敗しても贪婪的狼が死亡しないバグを修正しました。(a8746d)
    li.change 硬汉人狼と贪婪的狼が同時に能力を発動した場合の挙動が変わりました。従来は後から発動したほうのみデメリットが適用されていたのを、両方適用されるように变更しました（硬汉人狼が優先されます）。(a8746d)

  h2 v1.10.1-7(85e8d46;2015-05-23)
  ul
    li.bugfix 间谍が村を去ったと同時に恶女に変化した場合、恶女が能力の対象を选择しても反映されなくなるバグを修正しました。(27a994e)

  h2 v1.10.1-6(f325239;2015-04-28)
  ul
    li.bugfix 人狼系・吸血鬼・妖狐が陷阱师に护卫されたまたは炸弹魔に爆弾を仕掛けられた状态で人狼に襲撃された場合、陷阱师・炸弹魔の効果が発動しないバグを修正しました。(5c0066a)

  h2 v1.10.1-5(2b2f974;2015-03-21)
  ul
    li.bugfix 替身君が决定者などのサブ职业を持った状态で模仿者になり模仿者を模仿者した場合、游戏が停止するバグを修正しました。(932ba98)
    li.bugfix Endless黑暗火锅に途中参加する場合、参加前の昼に参加者と同じログで发言できるバグを修正しました。(97b4c9e)

  h2 v1.10.1-4(2015-03-19)
  ul
    li.change 「女王感戦者」の名字はやはり「女王观战者」が正しかったことが判明したため、「女王观战者」に戻しました。(b21a634)

  h2 v1.10.1-3(73d220a;2015-02-10)
  ul
    li.bugfix 策士が吸血鬼をカウンセリングした場合、その夜に策士が猎人などによって护卫されていた場合策士が死亡しないバグを修正しました。(41318bd)

  h2 v1.10.1-2(f8e82c3;2015-02-01)
  ul
    li.change Endless黑暗火锅に途中参加する場合、部屋の人数の上限に達していても拒绝复活の人がいる場合はその枠に入れるようになりました。(ead3f31)
    li.bugfix Endless黑暗火锅に途中参加した場合头像が表示されないバグを修正しました。(ead3f31)
    li.new 昼間の背景色は評判が悪かったため戻りました。マイページの「色设定」から游戏画面の色を自由に设定できるようになりました。(eea8ea8)
    li.new 拒绝复活を行なった場合ログが出るようにしました（本人と灵界に対して表示）。(4cd711a)

  h2 v1.10.1-1(02a9244;2015-01-31)
  ul
    li.bugfix Endless黑暗火锅で転生人数が多すぎると游戏が停止するバグを修正しました。(943580d)

  h2 v1.10.1(e157944;2015-01-31)
  ul
    li.bugfix Endless黑暗火锅で配置・出现阵营情報が表示されないバグを修正しました。(aa1c03b)
    li.bugfix Endless黑暗火锅で途中参加した人が参加尚未分配の間に发言した場合、ログが全员に見えていたのを观战者にしか見えないように修正しました。(0df7afb)
    li.new 「拒绝复活」機能を新增しました。蘇生を辞退すると死亡した後に蘇生されません。また、猝死した場合は自動的に拒绝复活となります。(6021481)
    li.change 昼間の背景色を变更しました。(d98b6b4)
    li.change Endless黑暗火锅の転生確率を調整しました。(af0f287)

  h2 v1.10.0(8d4b46c;2015-01-30)
  ul
    li.bugfix 替身君が国王の場合投票が2票分にならないバグを修正しました。(c47b058)
    li.bugfix 分身等が変化した場合职业名の表示がおかしくなることがあるバグを修正しました。(42215b6)
    li.bugfix 替身君が人狼系で他の生存している人狼系が全て孤独的狼の場合、替身君が襲撃せずに猝死するバグを修正しました。(da1492f)
    li.change 孤独的狼が襲撃可能になった後に他の人狼系が襲撃可能な状态になった場合、孤独的狼は襲撃不可能に戻るようになりました。(da1492f)
    li.new 新配置「Endless黑暗火锅」を新增しました。主に游戏性がまだα版です。(232f155)

  h2 v1.9.10-1(79c9b96;2015-01-01)
  ul
    li.bugfix 同じ人に複数の炸弹魔が爆弾を仕掛けてその人が处刑により死亡した場合、1人しか道連れにしないバグを修正しました。(f0ba0d5)
    li.bugfix 「女王观战者」の名称が出典と異なっていたため、「女王感戦者」に变更しました。(ce519fd)
    li.bugfix 怪盗が决定者・权力者になった場合に游戏が停止するバグを修正しました。(a0e8386)

  h2 v1.9.10(4cfde47;2014-12-24)
  ul
    li.new 新职业「炸弹魔」を新增しました。(0727296)
    li.bugfix 弗兰肯斯坦的怪物が面包店を吸収しても面包店として扱われないバグを修正しました。(46da76d)
    li.bugfix 面包店が死亡した後蘇生して再度死亡した場合にそれを知らせるログが出现しないバグを修正しました。(5d42c01)

  h2 v1.9.9-3(a0224b5;2014-12-20)
  ul
    li.bugfix 妖术师が何らかのサブ职业（猎人の护卫・カルトなど）を持った状态で人狼占卜师に占われた場合に游戏進行が停止するバグを修正しました。(49e4e99)
    li.bugfix 襲撃可能な人狼が替身君しかいない状态で、狼之子の効果により2人以上襲撃可能な状态でも替身君が1人しか不袭击バグを修正しました。(366828b)
    li.bugfix 替身君が妖术师になった場合に夜的职业実行を2回行うバグを修正しました。(9c4f98e)
    li.bugfix 骗子が猎人・游荡猎人・犬の护卫を受けている場合に占卜结果が表示されないことがあるバグを修正しました。(5d00239)

  h2 v1.9.9-2(b0dd475;2014-10-28)
  ul
    li.bugfix 黑暗火锅安全性「高」以上で见习占卜师が単独で出现することがあるバグを修正しました。(fd90a88)

  h2 v1.9.9-1(ca43c43;2014-09-23)
  ul
    li.bugfix 看板娘を吸収した弗兰肯斯坦的怪物が人狼に襲われて死亡したときに効果が発動しないバグを修正しました。(b8db251)


  h2 v1.9.9(fd5a544;2014-08-29)
  ul
    li.new 新职业「面包店」を新增しました。(3e65016)
    li.bugfix 碍事的狂人に邪魔された場合の占卜结果のログが正しくないバグを修正しました。(0776baa)

  h2 v1.9.8-2(7610870;2014-08-24)
  ul
    li.bugfix 手调黑暗火锅で配置に「人狼系」を设定しなかった場合、配置に「人狼系1」と表示されるバグを修正しました。(a9eab8c)

  h2 v1.9.8-1(46b7db7;2014-08-08)
  ul
    li.bugfix 弗兰肯斯坦的怪物が老人を吸収した場合、圣职者・巫女の能力で老衰を防げないバグを修正しました。(e377f88)
    li.bugfix 分身が变态杀人狂を対象选择しても死亡しないバグを修正しました。(2f72f48)
    li.bugfix 弗兰肯斯坦的怪物が闹事者を吸収して能力を使用した場合、その夜に死亡すると能力がキャンセルされるバグを修正しました。(a639ffa)
    li.bugfix 3日目以降に怪诞狂热者が能力を使用できないバグを修正しました。(37e93ee)

  h2 v1.9.8(d77098a;2014-07-26)
  ul
    li.new 期間限定职业「烟火师」を新增しました。(1b67df5)

  h2 v1.9.7-7(2162d20;2014-07-20)
  ul
    li.change 配置「疯狂的世界」の内訳を变更しました。(23ad317)
    li.change 最小开始人数（替身君を含めた人数）を4人から6人に变更しました。(787438a)

  h2 v1.9.7-6(2f4be1f;2014-07-18)
  ul
    li.bugfix 碍事的狂人・咒言师・猎人などの効果が重なった場合、2日以上続くことがあるバグを修正しました。(867176b)
    li.change 女王观战者・狂人狼の安全性高以上での出现確率が1/10になりました。(7166a31)

  h2 v1.9.7-5(b64ac5c;2014-07-13)
  ul
    li.bugfix 替身君が吸血鬼になった場合サーバーが停止するバグを修正しました。(877c010)
    li.bugfix 替身君に恋人等のサブ职业が付加された場合猝死することがあるバグを修正しました。(8264297)
    li.change 配置「疯狂的世界」の内訳を变更しました。(83b0238)

  h2 v1.9.7-4
  ul
    li.change 怪盗に职业を盗まれた場合、恋人などのサブ职业が消滅するように变更しました。(ff607ba)

  h2 v1.9.7-3(0b73490;2014-06-23)
  ul
    li.bugfix 2人以上处刑する場合、1人目の处刑後に游荡猎人がもう护卫できなくなるバグを修正しました。(0ead889)
    li.bugfix 独裁者が变态杀人狂を能力の対象に選んでも死亡しないバグを修正しました。(ef7190b)
    li.bugfix 狂人系が人狼占卜师により帮手に変化した場合に发言や投票ができなくなるバグを修正しました。(670ba4e)


  h2 v1.9.7-2(b556a59;2014-05-25)
  ul
    li.bugfix 恋人が複数組存在して设定「恋人はそれぞれ独立する」がありの場合、恋人胜利のメッセージの人数が間違っているバグを修正しました。(b4377c2)
    li.change 恋人が複数組生存していて设定「恋人はそれぞれ独立する」がありの場合、生存者が全员恋人の場合は恋人胜利で终了するように修正しました。(b4377c2)

  h2 v1.9.7-1(0901f21;2014-04-28)
  ul
    li.bugfix 替身君が人狼占卜师・威吓的狼になった場合猝死するバグを修正しました。(f8fa062)
    li.bugfix 替身君が陷阱师・吸血鬼になった場合猝死することがあるバグを修正しました。(dedaa5f)
    li.bugfix 替身君が狼少年になった場合、各职业が正常に動作しないことがあるバグを修正しました。(fde4998)
    li.bugfix 死亡すると同時に职业が変化した場合、死亡しなかったことになることがあるバグを修正しました。(4d9a29c)
    li.change 「黑暗火锅安全性」の「超（β）」が「超（β2）」になりました。(0663da5)
    li.change 商人が1日目の夜に能力を使用できないように变更しました（出典元に合わせた修正）。(d3f50b5)
    li.new 「黑暗火锅安全性」に「走召（α）」を新增しました。超とどちらが上なのかよくわかりません。(3ddea03)
    li.new 帮手時に帮手先に表示されている各種情報（仲間の狼・女王观战者など）が帮手にも表示されるようになりました。(e2150e6)

  h2 v1.9.7(a789679;2014-03-11)
  ul
    li.new 新职业「看板娘」「慎重的狼」を新增しました。(7efc238)
    li.bugfix 死亡している变态杀人狂に能力を使用しても能力使用者が死亡しないバグを修正しました。(3ca6def)

  h2 v1.9.6-3(7a06ceb;2014-03-08)
  ul
    li.bugfix 弗兰肯斯坦的怪物が蘇生能力を持つ职业を吸収した場合、弗兰肯斯坦的怪物がまだ生存していても灵界で参加者的职业が見えてしまうことがあるバグを修正しました。(ee02cf1)

  h2 v1.9.6-2(f092a00;2014-03-02)
  ul
    li.bugfix 模仿者・分身などが职业変化した際に、恋人などのサブ职业が解除されるバグを修正しました。(63285da)

  h2 v1.9.6-1(23c9708;2014-02-21)
  ul
    li.bugfix 策士が一匹狼をカウンセリングしても死なずに更生するバグを修正しました。(1e33174)
    li.bugfix 弗兰肯斯坦的怪物が国王を吸収しても投票が2票分にならないバグを修正しました。(21ec3ce)
    li.bugfix 村人阵营以外の人が商人からセットを受け取った場合に女王观战者を把握できるようになるバグを修正しました。(5ddebbf)
    li.change 咒言师の効果を初日の夜には発動できないように修正しました。(6affba3)
    li.bugfix 孤独的狼が襲撃可能になったときに襲撃ログが表示されない問題を修正しました。(284a7b0)
    li.bugfix 人狼占卜师が狂人系を占ったときにログが正しく表示されないバグを修正しました。(cec9ab4)
    li.bugfix 2回以上恋人・手玉になったときに恋人が全员表示されないバグを修正しました。(0d8b7be)


  h2 v1.9.6(8665618;2014-02-07)
  ul
    li.bugfix 替身君が犬になったときに猝死することがあるバグを修正しました。(338bbb2)
    li.new 新职业「恶女」を新增しました。(3d49e4f)

  h2 v1.9.5-4(f6221d2;2014-02-07)
  ul
    li.bugfix 逃亡者が一匹狼に逃げても死亡しないバグを修正しました。(97fb376)

  h2 v1.9.5-3(7b7f2f6;2014-02-04)
  ul
    li.new 量子人狼に新选项「初日の襲撃」を新增しました。ありにした場合1日目夜にも人狼の襲撃を行います。デフォルトはなしになりました。(8db2c1d)

  h2 v1.9.5-2
  ul
    li.bugfix 占卜师などが变态杀人狂を占った場合に死亡しないことがあるバグを修正しました。(6cadd65)

  h2 v1.9.5-1
  ul
    li.bugfix 小狐・妖术师が妖狐を占った場合呪殺してしまうバグを修正しました。(457e1d9)
    li.change 犬は自己を飼い主にできないように修正しました。(457e1d9)

  h2 v1.9.5(02620ce;2014-01-26)
  ul
    li.new 新职业「怪盗」を新增しました。(98e61cb)

  h2 v1.9.4-9(2014-01-26)
  ul
    li.bugfix 恋人が死亡しているのに恋人胜利で终了することがあるバグを修正しました。(7420b28)

  h2 v1.9.4-8(6fc2b7e;2014-01-24)
  ul
    li.bugfix 人狼占卜师が占卜师を占った場合に人狼占卜师が逆呪殺されなくなっていたバグを修正しました。
    li.bugfix 选项「恋人はそれぞれ独立する」が「あり」の場合に複数組の恋人のうちいずれかが死んでいた場合に残りの恋人が胜利できないバグを修正しました。

  h2 v1.9.4-7(44d18c0;2014-01-22)
  ul
    li.new 黑暗火锅安全性に「逆（α）」が新增されました。バランスの悪さを目指します。(023ae1d)

  h2 v1.9.4-6(4f7b401;2014-01-21)
  ul
    li.change 恶魔の灵能结果が「村人」だったのを、原典に合わせて「人狼」に修正しました。(e365388)
    li.change 策士が1日目夜から能力使用可能だったのを、原典にあわせて2日目夜からに修正しました。(e365388)
    li.bugfix 替身君が逃亡者だった場合1日目夜に替身君が死亡しないバグを修正しました。(e365388)
    li.change 黑暗火锅安全性の「超（α）」は「超（β）」に变更されました。(e365388)
    li.change <a href="/manual/prohibited">禁止行為</a>が一部修正されました。(6697783)

  h2 v1.9.4-5(4c7da28;2014-01-19)
  ul
    li.bugfix 陷阱师に守られていた人が死んだ場合游戏進行が停止することがあるバグを修正しました。(231d692)
    li.new <a href="/manual/prohibited">禁止行為</a>が定められました。(dbf105a)

  h2 v1.9.4-4(4e0204f;2014-01-02)
  ul
    li.bugfix 闹事者が能力を使用した夜に死んだ場合、能力が無効になるバグを修正しました。(3e41489)
    li.new 新しい选项「恋人はそれぞれ独立する」を新增しました。「あり」の場合、恋人が複数組発生した場合に後追い判定がカップルごとに独立します。また、恋人から他のカップルの恋人が分からなくなります。(2d385fb)

  h2 v1.9.4-3(ae50850;2014-01-02)
  ul
    li.change 「规则」ボタンの表示を改良しました。(e78946f)

  h2 v1.9.4-2(8d59445;2013-12-29)
  ul
    li.bugfix 夜の能力発動で死んだ职业の能力が発動しないことがあるバグを修正しました。(51743dc)

  h2 v1.9.4-1(5104f87;2013-12-28)
  ul
    li.bugfix 占卜结果「立刻得知」で人狼占卜师が占卜师を占った場合、翌朝になる前に死亡するバグを修正しました。(38482c8)
    li.new 黑暗火锅安全性に「超(α)」を新增しました。「高」以上にバランスのいい配置を行いますが、まだ実験段階の機能となっています。(eff95e8)

  h2 v1.9.4(35a4f34;2013-12-24)
  ul
    li.new 期間限定职业「圣诞老人」を新增しました。(e1a5f43)

  h2 v1.9.3-1(920922f;2013-12-22)
  ul
    li.bugfix 魔女が蘇生薬・毒薬を使用した状況によって、次に薬を使用したときに違う種類の薬が使われることがあるバグを修正しました。(0be9aee)
    li.change 猝死した人は勝敗判定が常に「败北」になるように修正しました。(8d4c8c3)

  h2 v1.9.3(6a3b5d8;2013-12-17)
  ul
    li.new 新职业「变态杀人狂」を新增しました。(aec741c)
    li.change 「身代わり安全性」がありの場合、替身君が贵族・求爱者にならないように变更しました。(a285080)
    li.new 称号を120種類新增しました。(85e4e5f)

  h2 v1.9.2(0ab80dd;2013-12-16)
  ul
    li.new 「ミラーズホロウの人狼」から新しい选项「决胜投票」を新增しました。「なし」の場合は従来通りの動作です。「重新投票」にした場合は重新投票時に候補者が上位のみになります。「常に行う」にした場合は投票後に必ず上位の候補者のみの决胜投票が行われます。(7bbacc4)
    li.new 新职业「国王」を新增しました。(0b5677b)
    li.new 灵界で职业か見えるかどうかの选项名を「灵界表示」に变更し、选择肢を「あり」「なし」から「常にあり」・「あり」（デフォルト）・「なし」の3段階に变更しました。「あり」は誰かが蘇生する可能性がある場合のみ表示しません（游戏中でも、蘇生可能性が無くなった場合表示されるようになります）。「常にあり」では蘇生职业があっても职业などを表示します。また、これに伴って、黑暗火锅で蘇生职业が出现した場合に「蘇生职业が存在するため「蘇生职业が存在するので、天国から职业が見られなくなりました。」というメッセージは出现しないようになりました。(502222e)

  h2 v1.9.1-2(734377f;2013-12-15)
  ul
    li.bugfix 威吓的狼に威嚇された人が商品から荷物を受け取ったり圣职者に护卫されたり教会信者になったりした場合にその後ずっと能力が使用できなくなるバグを修正しました。(d8bfab2)

  h2 v1.9.1-1(bab1863;2013-12-07)
  ul
    li.new 新职业「弗兰肯斯坦的怪物」を新增しました。(4e394d7)

  h2 v1.9.1(9b53e31;2013-12-07)
  ul
    li.new 新职业「碍事的狂人」を新增しました。(55586db)
    li.new 新职业「闹事者」を新增しました。(a57b4b5)
    li.bugfix 陷阱师に守られた职业の能力が発動しないことがあるバグを修正しました。(7843743)
    li.change 被诅咒者が吸血鬼に襲われた場合に吸血鬼に変化するように修正しました。(ba9112b)

  h2 v1.9.0(7ebfcdb;2013-12-03)
  ul
    li.new 新职业「游荡猎人」を新增しました。(44919bb)
    li.bugfix 恋人・背德者などが後追いで死亡する場合で、2連鎖目以上の場合死亡しないことがあるバグを修正しました。(1b281e3)
    li.change 黑暗火锅安全性が中以上の場合に、配置の人狼の数がより安定するように修正しました。(2bfa2ec)

  h2 v1.8.9-2(389afc5;2013-11-30)
  ul
    li.bugfix 贪婪的狼・硬汉人狼が能力をした場合に、その夜だけでなく次以降の夜にも効果が継続するバグを修正しました。(5da7967)
    li.bugfix 小狐が妖狐を占った時に呪殺してしまうバグを修正しました。(5da7967)
    li.new 量子人狼で夜の長さが1分より長い場合は注意を表示するようになりました。(8f10acc)

  h2 v1.8.9-1(c55bab4;2013-11-26)
  ul
    li.bugfix 模仿者や分身が2日目以降に怪诞狂热者・跟踪狂・丘比特・无赖・魅惑的女狼に変化した際に、対象选择できなかったり猝死したりするバグを修正しました。(c5a251d)
    li.change 逃亡者の能力使用先が吸血鬼に襲われたときに、逃亡者が死ななかったのを死ぬように修正しました。(222d9ea)

  h2 v1.8.9(d44e993;2013-11-26)
  ul
    li.change マイページの战绩展示および黑暗火锅の阵营表示において、蝙蝠の阵营を「蝙蝠」から「其他」に、吸血鬼の阵营を「其他」から「吸血鬼阵营」に变更しました。(531994d)
    li.change 逃亡者が吸血鬼の襲撃および魔女の毒薬の対象になったときの動作を、「死ぬ」から「死なない」に变更しました。これに加えて人狼に襲撃されても死にませんが、其他の要因では死亡します。(facfe1a)
    li.change 逃亡者・策士が猎人または陷阱师に护卫されている状态で能力の対象に人狼を选择した場合の動作が、「死なない」だったのを「死ぬ」に修正しました。(facfe1a)
    li.change 逃亡者・策士が狂人狼を対象に选择した場合の動作を「死ぬ」から「死なない」に变更しました。(7ea3146)
    li.bugfix 占卜结果が「立刻得知」の设定のときに占卜师が妖狐を占った場合に、夜明けに死亡ログが出る前に灵界に移動するバグを修正しました。(b9559a4)
    li.bugfix 咒言师に呪いをかけられた人が、次の日になっても发言できないままになるバグを修正しました。(adf1e63)
    li.change 吸血鬼・死亡笔记・魔女が1日目の夜に能力を発動できないように修正しました。また、贪婪的狼が1人目の対象选择した後に欲張る能力を発動できないバグを修正しました。(f774e74,f609fdc)
    li.bugfix 人狼占卜师が商人から占卜套装を受け取った場合に、対象选择画面がわかりにくい問題を改善しました。(68b3d44)
    li.change 黑暗火锅安全性中以上で、占卜师・猎人が出现する確率が上昇しました。さらに、狂人狼が出现する場合必ず狂人系职业も出现するようになりました。また、黑暗火锅安全性高以上で女王观战者が2人以上出现しないようになりました。(ca3411a)
    li.bugfix 硬汉人狼が能力を発動して圣职者に守られた人を襲った場合に、死なないままチャットが灵界に移動して昼に投票もできなくなるバグを修正しました。(86b6b9e)
    li.change 猎人・陷阱师が吸血鬼の襲撃を守れるように变更しました。陷阱师に护卫されている人を吸血鬼が襲った場合、その吸血鬼が死にます。(7325719)
    li.change 吸血鬼が埋毒者・猫又を襲った場合の動作を、「全员からランダムに一人毒で死ぬ」から「その吸血鬼が毒で死ぬ」变更しました。(7325719)
    li.new 量子人狼に「死亡率を表示しない」选项を新增しました。(0e02ce2)
    li.new 称号に使用できる助詞「だ」「ぜ」「ん」を新增しました。(aee8e9f)
    li.new マイページの战绩展示で表示した详细情報を隠すことができるようになりました。(aee8e9f)

  h2 v1.8.8 (ce32693; 2013-11-23)
  p これより前の更新履歴はありません。（書いていなかったので）
