section.manual
  h1 更新履历
  p 月下人狼的新机能追加・设定变更・BUG修正等等的公告。
  h2 v1.14.32 (2020-09-30)
  ul
    li.new 追加新职业「月狼」。(24edb013, 箱庭)
    li.new 追加新职业「恶作剧妖精」。(166fe8a7, 箱庭)
    li.new 追加新职业「梦游患者」。(aacd1d7, 箱庭)
    li.bugfix 修正了课金者如果在死前同时使用了能力的话，在死去同时能够改变职业的bug，修复为不会改变职业了。(89fe857, 箱庭)
  h2 v1.14.31 (2020-08-31)
  ul
    li.new 追加新职业「老千」。(15aee55)
    li.new 追加新职业「印狼」。(2800e86)
  h2 v1.14.30 (2020-07-31)
  ul
    li.new 追加新职业「赌徒」。(132d62e)
    li.change 「罗蕾莱」变更为隐藏职业，在自由配置・手调黑暗火锅中不再能够选择。(f872c2a, 箱庭)
    li.bugfix 修正了特定条件下服务器崩溃的bug。(79a4a08, Sunev)
  h2 v1.14.29 (2020-06-28)
  ul
    li.new 追加新职业「罗蕾莱」。(4851de5, 箱庭)
  h2 v1.14.28 (2020-05-31)
  ul
    li.new 追加新职业「直觉型狼」。(13fcb7a, 箱庭)
    li.bugfix 修正了炼成人狼模式下右侧职业是课金者的时候，有时会变得无法抽卡的bug。(a7490b4)
  h2 v1.14.27 (2020-04-26)
  ul
    li.new 追加新职业「在宅者」。(aa75866)
  h2 v1.14.26 (2020-03-30)
  ul
    li.new 追加新职业「咒狼」。(ba152ca, 箱庭)
    li.new 追加新职业「一言主神」。(22ab3bf, 箱庭)
    li.bugfix 修正了玩家在被月下美人魅惑后，不再因其他原因自尽的bug。(a60a681, Sunev)
  h2 v1.14.25 (2020-02-28)
  ul
    li.new 追加新职业「月下美人」。(a1083464, 箱庭)
    li.new 追加新职业「野孩子」。(1e0a957, 箱庭)
    li.bugfix 修正了「主播」在由于二重身等职业效果变成其他职业后，直播观众又变为0的时候，会变成村人的bug。(f60fe27)
    li.bugfix 修正了「NEET」在被怪盗盗取职业尚未发现的时候，可以不投票的能力失效的bug。(5f2076f)
    li.bugfix 修正了Endless黑暗火锅中，有时会留下「观战者」战绩的bug。(27997c5)
  h2 v1.14.24 (2020-02-03)
  ul
    li.bugfix 修正了v1.14.23更新后，黑暗火锅中会出现「直播观众」的bug。(1f0886a, Sunev)
    li.bugfix 修正了炼成人狼模式下，如果「主播」出现在右侧，在主播引退时左侧职业会变成村人的bug。(8b7caa0)
  h2 v1.14.23 (2020-01-27)
  ul
    li.new 追加新职业「主播」。(c33d7b2)
    li.change 为了避免驯鹿初日死亡，在替身安全性中追加了圣诞老人。现在如果替身安全性设为「有」的话，替身君不会以圣诞老人开场了。(5baa761, Sunev)
    li.bugfix 修正了在叠加了碍事狂人・丑时之女・巫女等只限一日有效的能力时，能力效果意外延长的bug。(6ffb079, Sunev)
    li.bugfix 修正了驯鹿追随圣诞老人自尽时，死因不显示的bug。(5c65ded, Sunev)
  h2 v1.14.22 (2019-12-23)
  ul
    li.new 追加新职业「驯鹿」。(bb4b3f5)
    li.change 由于评价较低，「暗小丑」在黑暗火锅中现在被默认排除，仅能手动加入。(cf3e560, 箱庭)
    li.change 降低了「绝对狼」「预言者」「命运之子」在黑暗火锅中出场的概率。(cf3e560, 箱庭)
    li.bugfix 修正了「通感者」的战绩不被显示的bug。(78e53ce, 箱庭)
  h2 v1.14.21 (2019-11-23)
  ul
    li.new 追加新职业「通感者」。(4546eaf)
    li.bugfix 修正了弗兰肯斯坦的怪物在吸收职业后，战绩中会记录被吸收的职业的bug。(c89f49a)
    li.bugfix 修正了偶像的粉丝如果在第4夜结束时死亡/复活的话，导致粉丝人数增加或不增加的bug，现在修改为以刚进入第4夜的时间点为准。(19504e7)
    li.bugfix 修正了在个人页面中变更头像后，保存按钮不出现的bug。(ec6d358, Sunev)
    li.bugfix 修正了在个人页面中无法消除头像的bug。(981ec5e)
  h2 v1.14.20 (2019-10-15)
  ul
    li.new 追加新职业「课金者」。(0a90b2d)
    li.new 追加新职业「命运之子」。(26eff23, 箱庭)
    li.change 增加了登录页面的文本。(0cac9a9)
    li.bugfix 修正了绝对狼在变成其他阵营后，仍然保留不死能力的bug。(e03aa47, 箱庭)

  h2 v1.14.19 (2019-09-18)
  ul
    li.new 追加新职业「绝对狼」。(65bf50a, 箱庭)
    li.new 追加新职业「预言者」。(58e5c85, 箱庭)
    li.new 追加新职业「夜兔」。(e44b398, 箱庭)
    li.new 可以在发言栏中使用命令来掷骰了。使用时按照「!1d100」的形式发言即可。(f995f57)
    li.bugfix 修正了炼成人狼模式下，「一匹狼×人狼阵营」的人活到最后触发了一匹狼胜利，自己却无法获胜的bug。(6471a3a)
    li.bugfix 修正了练习房间中，占卜结果是「村人」的NPC实际上是人狼的bug。(73c92d3)
    li.bugfix 修正了如果场上有狂爱对象已经死亡的狂爱者存在时，游荡猎人的「不能继续护卫」系统信息会刷屏100行的bug。(b72260b)
  h2 v1.14.18 (2019-08-26)
  ul
    li.bugfix 修正了移动端中个人页面的显示可能崩溃的bug。(195df67)
    li.bugfix 修正了手调黑暗火锅中如果编入了「第三阵营系」的职业，吸血鬼的眷属可能会在没有吸血鬼阵营的时候出现的bug。(59cb120)
    li.bugfix 修正了二重人格被怪盗盗取职业后，直到次夜到来为止，没有主导人格的bug。(260d62d, 箱庭)
    li.change 埋毒者与猫又的毒药・陷阱师的陷阱在杀死人狼的时候，现在变更为「尚不能够进行袭击的孤独的狼不被列入死亡对象」。(177231a, 箱庭)
    li.change 如果活祭品在使用能力后，自己比能力目标死的更早的话，变更为「能力目标正常死亡，活祭品的能力不被触发」。(ec42a3e, 箱庭)
  h2 v1.14.17 (2019-08-24)
  ul
    li.new 追加新职业「暗小丑」。(84ce904, 箱庭)
    li.new 追加新职业「二重人格」。(133367b, 箱庭)
    li.new 追加新职业「活祭品」。(8520a45, 箱庭)
    li.new 在个人页面追加了「练习房间」，用来熟悉游戏中的基本操作。(6897e93)
    li.change 重新设计了个人页面的版式。(655cc29)
    li.bugfix 修正了页面刷新后会显示为未登录的bug。(70bdb63)
  h2 v1.14.16 (2019-07-28)
  ul
    li.new 追加新职业「苦修士」。(68f8c0c, 箱庭)
    li.new 追加黑暗火锅安全性「低+」。(47fd827, 箱庭)
    li.change 替身安全性设为「有」时，替身君不再会作为乌鸦加入游戏。(68f8c0c, 箱庭)
    li.change 如果在房间设置中使用了败北村，会在游戏开始时的开场文字中显示「败北村」字样。(680210b, 箱庭)
    li.bugfix 修正了诗人对变态杀人狂使用能力不会死的bug。(282b55c, 箱庭)
    li.bugfix 修正了炼成人狼模式下，天邪鬼总是获胜的bug。(b292eb0, 箱庭)
  h2 v1.14.15 (2019-06-23)
  ul
    li.new 追加新职业「天邪鬼」。(4226411)
    li.bugfix 修正了Endless黑暗火锅中，在点击「加入游戏」按钮待机的时候，如果游戏进入了犹豫阶段，发言频道会从「观战者的发言」变成「自言自语」的bug。(7c98da2)
    li.bugfix 修正了Endless黑暗火锅中，匿名模式下不能中途加入的bug。(c688ba5)
    li.bugfix 修正了游戏开始界面中，明明人数足够了，却提示「人数不足」的显示bug。(590bf6b, dae98dd)
  h2 v1.14.14 (2019-05-30)
  ul
    li.new 追加新职业「诗人」。(2f1cde4)
    li.change 黑暗火锅中NEET的出现概率减少了60%。(c29753e, 箱庭)
    li.change 根据奇术师的出处修改了其判定动作。在奇术师替换了袭击目标后，此目标受到的陷阱师或猎人系列的护卫将不能有效守护他。(58e0bfc)
    li.bugfix 修正了猫又在手滑的时候，能使同夜死亡尚未被发现尸体的玩家立刻复活的bug。(40affcc, Sunev)
    li.bugfix 修正了炼成人狼模式下，被陷阱师护卫的人在受到「人狼系×吸血鬼」吸血鬼的能力袭击时，落入陷阱的会是随机的人狼系，而非那名吸血鬼的bug。(334f9ef, Sunev)
    li.bugfix 修正了灵界信息设为有的时候，被帮手辅助的人死后，自身能够看到一切公开信息，但是帮手缺看不到的bug。(fbfa8cf)
    li.bugfix 修正了炼成人狼模式下，怪盗只能盗取左侧的职业，却能够得知目标两侧职业的bug。(824774c)
  h2 v1.14.13 (2019-04-25)
  ul
    li.new 追加新职业「精灵术士」。(664e010)
    li.new 追加新模式「简易黑暗火锅」。(d6671c3)
    li.change 在点击「准备/取消准备」按钮，显示为[ready]状态后，如果一定时间内游戏没有开始，[ready]状态会自动消去。(0aafbd7)
    li.bugfix 修正了房主如果在不加入游戏的情况下开始了Endless黑暗火锅的话，除了「加入游戏」的按钮以外，还会保留「打开游戏开始界面」等按钮的bug。(ff4eac0)
    li.bugfix 修正了黑暗火锅安全性设为「高」以上尝试开始游戏时，不恰当的配置会导致游戏无法开始的bug。(a6c130c)
    li.bugfix 黑暗火锅安全性设为「中」以上时，原本有提高占卜师入场几率的功能，现在如果通过手调黑暗火锅固定了占卜师的人数，此功能将不再生效。(2b10245)
    li.bugfix 修正了在GM处死了犹豫阶段不投票玩家后，已经投票的玩家可能猝死的bug。(793f17a)
    li.bugfix 修正了炼成人狼模式下，右侧职业是狡猾的狼的人在假死并复活后，又因各种原因死去的情况下，狡猾的狼会意外复活的bug。(4d49988, Sunev)
    li.bugfix 修正了炼成人狼模式下，模仿者在模仿暴徒后职业会变成只剩一个的bug。(d6afb36)
    li.bugfix 修正了怪盗在盗取了醉鬼的职业后，偷到手的职业会显示为「村人」的bug。(664ba9a)
    li.bugfix 修正了炼成人狼模式下，右侧职业是怪盗的人如果在盗取他人职业的同时被其他怪盗盗走了自己的职业，这名怪盗的职业会还原成盗取职业前的状态的bug。(760af73)
    li.bugfix 修正了黑暗火锅安全性设为「高」以上时，狼之子等「人狼系只有一个人的时候不应当出现」的人狼系职业会出现的bug。(377b69e)
  h2 v1.14.12 (2019-03-27)
  ul
    li.new 追加新职业「武士」「德古拉」「吸血鬼的眷属」。(e20d8ca)
    li.new 追加房间设定「由生存人数决定白天的长度」。(946ce33)
    li.change 贪婪的狼、硬汉人狼由于自身技能死亡之后，一直以来的详细死因被记录为「人狼的袭击」，现在区分为「贪婪的报应」「舍身的同归于尽」。(fe7a9ad, 箱庭)
    li.bugfix 修正了人狼系等能看到同伴名单的职业在变成醉鬼的时候也能过看到同伴的名单的bug。(96a6698)
  h2 v1.14.11 (2019-03-17)
  ul
    li.change 在禁止行为中追加了「讨论其他房间游戏内容的行为」。(e221ec2)
    li.bugfix 修正了人狼系被怪盗盗取职业后，次日早上能发现怪盗变成同伴的人狼的bug。(30a5061)
  h2 v1.14.10 (2019-03-03)
  ul
    li.change 降低了替身君是模仿者的时候，替身君将人外选为模仿目标的概率。(85db3d2, 箱庭)
    li.change 房间设定中「黑暗火锅安全性」选项设为「无」时，血腥玛丽由「不被包括在职业表中」变更为「被包括在职业表中」。(a65d0a4, 箱庭)
    li.change 在GM存在的房间中，现在即使在游戏开始前GM的名字也会显示为「GM」了。此外，同时修正了「禁止观战者发言」的房间内，GM在游戏开始前不能发言的bug。(f30a4f0)
    li.change 在炼成人狼模式下，由义理巧克力导致的「变成跟踪狂」的情况，现在变更为不会出现。(509e1aa, 箱庭)
    li.change 现在可以在犹豫时间内通过「自言自语」发言了。(b1d50d9)
    li.change 现在如果替身君的职业是「狩猎者」「复仇者」的话，不需要等到时间结束就会使用技能了。(d4d4a95)
    li.bugfix 修正了二重身有时无法第2次变换职业的bug。(70e3915)
    li.bugfix 房间设定中「占卜初日白通知」选项设为「有」时，「觉」的能力目标也将被自动决定。(9325fd9, 箱庭)
    li.bugfix 修正了房间设定中「占卜初日白通知」选项设为「有」时，在首夜占卜师会被忍者判定为「不能进行夜间行动」的bug。(c674d64, d80f9dc, 箱庭)
    li.bugfix 修正了玩家在同夜获得了「圣诞老人」的「占卜套装」礼物，并被「妖术师」或「觉」选为能力的目标时，玩家是否被判定为占卜师的情况受技能发动先后影响的bug，现在统一修正为「不被判定为占卜师」。(08d1db6, 箱庭)
    li.bugfix 修正了被怪盗盗走职业的人在胜利判定时不立刻被记为村人的bug。(f122ebf, 箱庭)
    li.bugfix 修正了被炸弹魔绑上炸弹的人如果在炸弹爆炸后仍然生存，炸弹的效果会残存的bug。(9a19175)
    li.bugfix 修正了被威吓的狼威吓后，碍事狂人与丑时之女的效果将多残留一天的bug。(b39b03e)
    li.bugfix 修正了由于女糕点师的义理巧克力职业变成跟踪狂的时候，恋人等副职业全部消失的bug。(dd3472f)
    li.bugfix 修正了人狼在袭击受到陷阱师保护的人的同时死去了，陷阱的效果不能正常发挥，被保护的人会死去的bug。(be4298d)
    li.bugfix 修正了炼成人狼模式下，在为玩家安置两个职业时，这两个职业的哪个在左边、哪个在右边的情况有所偏向的问题。(38ed91e)
    li.bugfix 修正了炼成人狼模式下，左侧是能够知道人狼名单的职业、右侧是孤独的狼的时候，会变得不能得知人狼名单的bug。(128665f)
    li.bugfix 修正了帮手在帮助的对象死亡后，自身的界面背景颜色不变成灵界的bug。(ab0b38d)
    li.bugfix 修正了在房间中有「小偷」的时候，准备多余的职业时没有排除「小偷」这个职业的bug。(d9a274f)
  h2 v1.14.9 (2019-02-21)
  ul
    li.new 追加新职业「龙骑士」「觉」。(5d527bb, 5cf86d5)
    li.change 在禁止行为中追加了「其他助长不当行为的行为」的项目。(b6c1ad4)
    li.change 变更了新建房间页面的UI。同时追加了「禁止观战者发言」的功能。(518c49d)
    li.change 怪诞狂热者如果在变成人狼的同时被占卜师占卜的话，在以前根据具体场合占卜的结果不一致，现在统一为显示变化前的结果。(2a3ab04, 箱庭)
    li.bugfix 修正了二重身变化职业后不能使用能力的bug。(1428f0d)
    li.bugfix 修正了猫又有可能被提示“手滑了”却复活了正确的目标的bug。(ea805eb, Sunev)
    li.bugfix 修正了巫女如果在发动能力的情况下被威吓的狼威吓，巫女的能力将延长1天的bug。(4242bc2)
    li.bugfix 修正了弗兰肯斯坦的怪物如果在被威吓的狼威吓的状态下吸收了死者的能力，被吸收的能力能够发动的bug。(045a9e6)
  h2 v1.14.8 (2019-02-10)
  ul
    li.change 根据「Cosplayer」出处的「牢獄の悪夢」，「Cosplayer」的灵能结果由「村人」变更为「人狼」。(68e6253, 箱庭)
    li.change 黑暗火锅中在调整人外阵营人数时，参加人数只有10人・11人时，不会再配置多达3名人狼系了。(934c0f6, 箱庭)
    li.change 在游戏开始时存在影响占卜结果的职业时，占卜结果会从「立刻知道」自动变更为「次日天亮才知道」的功能，现在从仅限黑暗火锅扩展为适用于所有规则。(e8f3502, 箱庭)
    li.change 现在在灵界追加了黑猫的下毒目标是谁的记录。(66d9608, 箱庭)
    li.change 游戏的中途才出现暴徒时，选择保安时的基数由「全员的人数」变更为「生存者的人数」。(b08c08d, 箱庭)
    li.change 游戏的中途才出现暴徒时，死者变更为不再会被选为保安。(306c12a, 箱庭)
    li.bugfix 修正了二重身在两次变化职业后，无法选择第三次的目标的bug。(35db5b3)
    li.bugfix 修正了黑暗火锅中在调整阵营人数时，过多地分配村人阵营职业的bug。(3231264)
    li.bugfix 修正了设定中使用「占卜初日白通知」的时候，仙狐可能被列为占卜对象的bug。(829fea7, 箱庭)
    li.bugfix 修正了灵能者复活时，会显示很久以前的灵能结果的bug。(0ae9e72)
    li.bugfix 修正了游荡猎人在复活时，会变得不能守护自己死亡时守护过的人的bug。(2109c00)
    li.bugfix 修正了村人阵营以外的人被怪盗盗走职业后，还没有发觉自己被盗就可以看到女王观战者是谁的bug。(19bc1a5)
    li.bugfix 修正了被怪盗盗走了职业的人在次日早上不被偶像按村人计数的bug。(7bc8865, 箱庭)
    li.bugfix 修正了被怪盗盗走了职业的人如果在次日早上被处刑，弗兰肯斯坦的怪物从此人吸收的职业不是「怪盗」而是其本来的职业的bug。(6b0c07e)
    li.bugfix 修正了手调黑暗火锅中，把人狼系的职业全部排除后仍然可以开始游戏的bug。(d4dc8fb)
    li.bugfix 修正了炼成人狼模式下，被人狼占卜师变成了「帮手」后，帮手在白天不能发言的bug。(848b38d)
    li.bugfix 修正了炼成人狼模式下，被人狼占卜师变成了「帮手」后，帮手在夜间即使选择帮助对象也不会有事情发生的bug。(8374342)
    li.bugfix 修正了中途加入Endless黑暗火锅的玩家在战绩中的职业被记为「观战者」的bug。(b04ddba)
    li.bugfix 修正了变成保安的玩家可以突破限制在初日使用能力的bug。(c4305eb)

  h2 v1.14.7 (2018-12-31)
  ul
    li.new 追加新职业「探亲者」「奇术师」。(ec29889, b43338d)
    li.bugfix 修正了v1.14.5更新后，炸弹魔的炸弹不会炸死吸血鬼的bug。(0ce7350)
    li.bugfix 修正了Endless黑暗火锅中，转生后可能变成「暴动者」「保安」的bug。(187c409, Sunev)
    li.bugfix 修正了「暴徒」「暴动者」「保安」对变态杀人狂使用技能后不会死的bug。(e6fc92d, 箱庭)

  h2 v1.14.6 (2018-12-24)
  ul
    li.new 追加新职业「暴徒」。此职业在万圣节·圣诞节·新年期间将以较高概率出现。(da58028)
    li.change 在猫又失手复活了错误的目标后，现在在灵界追加了这个复活信息的记录。(d687f49, Sunev)
    li.bugfix 修正了炼成人狼模式下，如果跟踪狂跟踪了无阵营的玩家时，被跟踪者败北时，跟踪狂获胜的bug。(6052e54)
    li.bugfix 修正了舌祸狼在被处刑后又复活的时候，会显示过时的品尝结果的bug。(3bb3b95)
    li.bugfix 修正了在女糕点师送出巧克力的同夜，如果本命的对象死亡了，女糕点师不会自尽的bug。(91a6ec4, 箱庭)

  h2 v1.14.5 (2018-12-16)
  ul
    li.change 称号一览与头衔编辑的功能由「个人页面」移动至专用的页面，点击个人页面中的「查看称号一览·编辑头衔」链接以查看。(b5d9dda)
    li.change 由于在手机浏览器中通过「拖动」的方式来编辑称号很难用，现在追加「点击选中→点击释放」的方式来编辑称号。(b5d9dda)
    li.change 以前如果在二重身被怪盗盗取职业的同时二重身变化了自己的职业，「在职业被盗后仍然能够触发二重身的技能转化职业」变更为「在职业被盗后无法再度触发二重身的技能」。(257fe1b)
    li.bugfix 修正了Endless黑暗火锅中，偶像的粉丝死亡、转生变路人后，仍被偶像识别为粉丝的bug。(73171d4, Sunev)
    li.bugfix 修正了被炸弹魔装上炸弹的人如果同时被护卫并被人狼袭击时，人狼不会触发炸弹死去的bug。修正为「被装上炸弹的人」「护卫他的人」「人狼」三人都会死去。(738fc10)

  h2 v1.14.4 (2018-12-06)
  ul
    li.change(style="color:red;") 变态杀人狂的职业技能变更为只能在夜间触发。（对变态杀人狂使用技能的独裁者·威吓的狼不会被杀）(8dced59, 箱庭)
    li.change(style="color:red;") 在Endless黑暗火锅模式下，替身君变更为不再能够转生。(4833826, 箱庭)
    li.bugfix 修正了手机浏览器中量子人狼的概率表不能正确显示的bug。(1f03593)
    li.bugfix 修正了黑暗火锅中的阵营调整没有包括「狂爱者」的bug。(7b07e8b)
    li.bugfix 修正了炼成人狼模式下，变态杀人狂在右侧时，变态杀人狂的技能不被触发的bug。(c2823fb, Sunev)
    li.bugfix 修正了变成了恋人的玩家在被怪盗盗取职业后，直到次日夜晚之前恋人的信息会重复显示的bug。(de892cf)
    li.bugfix 修正了威吓的狼死亡后在白天能看到技能窗口的bug。(6aa0146)
    li.bugfix 修正了占卜师夜间猝死，同时见习占卜师转化为占卜师的时候，即使犹豫时间已经耗尽，在见习占卜师使用夜间技能前，游戏不会继续进行的bug。(449a313)
    li.bugfix 修正了灵能结果不是「村人」的职业在被怪盗盗取职业后立刻被处刑的时候，灵能结果不是显示怪盗所预期的「村人」，而是显示原本职业结果的bug。(7bfe336)
    li.bugfix 修正了一定条件下囮狼能够在第1天夜间使用能力的bug。(985e8ec)
  h2 v1.14.3 (2018-11-25)
  ul
    li.new 追加新职业「狂爱者」。(8d019f6)
    li.change 死亡者的详细死因、埋毒者·猫又下毒的对象、巫女·圣职者防御发动的具体原因这些情报现在将于记录中显示。这些记录只能在灵界或者游戏结束后查看。(0fd4ee2, Sunev)
    li.bugfix 修正了使用「以相同设定建立新房间」功能后，在房间之间移动的话保存的设定中的时间会消失的bug。(088d396)
  h2 v1.14.2 (2018-11-23)
  ul
    li.change 在手机浏览器的文字大小设定中，追加了「极小」选项。(ff62367)
    li.change 如果怪诞狂热者占选中的目标同时持有人狼和占卜师的能力（例如：人狼收到了占卜师套装的礼物，或者「人狼×占卜师」、「占卜师×人狼」），怪诞狂热者的能力效果由「优先变成占卜师」变更为「优先变成人狼」。(5c47c0b)
    li.change 房主在展开开始画面后，加入退出房间、前往其他页面等操作的时候，现在不会丢失房间的配置信息了。(8785e69)
    li.change 修正了炼成人狼模式下，怪盗虽然只盗取目标左侧的职业，却可以得知目标左右两侧的职业的问题。变更为怪盗只能知道目标的左侧职业是什么。(76e02c9)
    li.bugfix 修正了v1.14.0更新后，Google Chrome不能完整显示内容较长的房间的bug。(7103497)
    li.bugfix 修正了炼成人狼模式下，强制使用的职业在右侧时会显示为「任意」的bug；同时修正了炼成人狼模式下，替身君不使用右侧职业的能力导致猝死的bug。(fcceb0b)
    li.bugfix 修正了炼成人狼模式下，如果有「面包店×面包店」存在，早上的面包店信息会出现两次的bug。(92db3f1)
    li.bugfix 修正了逃亡者被催眠师催眠能力无效化的夜里，如果人狼袭击了逃亡者的逃亡目标的时候，虽然逃亡者的能力被无效化，仍会死于人狼的袭击的bug。(d74ae6c)
    li.bugfix 修正了v1.14.0更新后，替身君是人狼系的时候，替身君会抢先于其他人狼袭击的bug。(8abdbad, Sunev)
    li.bugfix 修正了乌鸦人数从1人增至超过1人，又重新降回1人或更少的情况下，乌鸦的啼鸣不正确显示的bug。(99a39bc, Sunev)
    li.bugfix 修正了游戏开始时显示职业配置的时候和规则的职业一览显示中，怪诞狂热者、被诅咒者、血腥玛丽会显示两次的bug。(be1a2e3)
    li.bugfix 修正了血腥玛丽死亡并使用能力后，在灵界和游戏结束后职业名不能正确显示的bug。(b581a88)
    li.bugfix 修正了在小红帽被人狼袭击的同夜，如果这名人狼死亡、小红帽复活的话，小红帽的死亡原因不正确显示的bug。(5bb9e9b)
  h2 v1.14.1 (2018-11-18)
  ul
    li.change 顶部菜单中追加「设定」项，可以设置是否使用为手机浏览器设计的用户界面。(549c242)
    li.bugfix 修正了早期版本iOS及Edge中，手机浏览器页面显示崩溃的bug。(549c242)
    li.bugfix 修正了v1.14.0更新后，游戏结束后在玩家一览中职业名与「拒绝复活」重叠显示的bug。(549c242)
  h2 v1.14.0 (2018-11-18)
  ul
    li.change 改善了使用手机浏览器进行月下人狼时的用户界面。(3fe3de1)
    li.change 改善了「规则一览」的用户界面。(3fe3de1)
    li.change 在使用「n秒规则」时，现在会显示禁止发言的残余时间了。(e82e1ae)
    li.bugfix 修正了被怪盗盗取职业后，恋人会消失的bug。(8a98b70)
    li.bugfix 修正了变成恋人等的时候，强制使用的技能栏中显示「任意」的bug。(c636b6a)
    li.bugfix 修正了在使用二重身的能力转化职业后，由于其他职业的能力又进行了职业变化的话，下一次二重身的能力在满足条件后不被正确触发的bug。(d79162c)
    li.bugfix 修正了狩猎者在被炸弹魔装上炸弹后，会导致狩猎者死亡后的枪击被跳过的bug。(18156ec)
  h2 v1.13.17 (2018-11-01)
  ul
    li.change(style="color:red;") 圣职者与巫女的能力变更为「不能够抵抗猝死」。(b04f8c7)
    li.bugfix 修正了v1.13.16更新后，狡猾的狼在假死复活时有时会失败的bug。(15bd945)
    li.bugfix 修正了炼成人狼模式下，如果小偷在右侧的话，供选择的职业只有「村人」的bug。(a9a2e3a)
    li.bugfix 修正了小偷选择了职业变化对象后，系统记录不显示的bug。(8672ddd)
    li.bugfix 修正了怪盗同时属于「村人系」与「职业变化系」的问题，变更为只属于「职业变化系」。(fda74fc)
    li.bugfix 修正了v1.13.16更新后，职业一览中不显示NEET的bug。(03bed67)
    li.bugfix 修正了囮狼对变态杀人狂使用技能后不死的bug。(b26bce8)
    li.bugfix 修正了骗子的夜间能力被无效化的次日早上，会显示无效化之前结果的bug。(d645ce6)
    li.bugfix 修正了策士策反的对象如果在当夜追随某人自尽，会在死亡前变成更生者的bug。(14d4903)
    li.bugfix 修正了「人狼占卜师」把狂人系变成「占卜师的妈妈」后，占卜师的妈妈立刻得知占卜师是谁的bug。(73c0fc5)
  h2 v1.13.16 (2018-10-28)
  ul
    li.new 追加新职业「囮狼」。(e8fdf0d)
    li.change 在游戏开始时的系统通知中，与游戏界面「规则」了的出现职业一览中，职业的排列顺序由「按照职业的名字排序」变更为「按照职业的阵营排序」。(07ba320, 6388017)
    li.bugfix 修正了对话中出现超长了链接时，会破坏页面排版的bug。(f46984f)
    li.bugfix 修正了村人阵营玩家的帮手不能得知女王观战者是谁的bug，并且现在帮手可以直观地知道帮助对象的阵营了。(f87e0ec)
    li.bugfix 修正了帮手协助的对象在变成恋人后，虽然该对象的阵营等信息会立刻更新，但是帮手要到次日早上才能更新的bug。(78298d9)
    li.bugfix 修正了二重身在第二次职业变化后，遗言会消失的bug。(824e2ee, Sunev)
    li.bugfix 修正了被诅咒者变成人狼的系统消息重复出现的bug。(cd29905, Sunev)
    li.bugfix 修正了替身君是模仿者时，如果在第一天模仿了魅惑的女狼，替身君会猝死的bug。(7ad7156)
    li.bugfix 修正了一些情况下，职业一览中无法列出NEET等一部分职业的bug。(79d9f7d)
    li.bugfix 修正了黑暗火锅以外的模式下，如果设为不公开职业一览的话，规则设定中会出现「黑暗火锅安全性」选项的bug。(5cac02c)
    li.bugfix 修正了被咒言师禁言的人如果同时被追加了其他的附加状态，白天将能够说话的bug。(937bb0b)
  h2 v1.13.15 (2018-10-10)
  ul
    li.change 在Endless黑暗火锅中，即使「灵界表示」设定为「有」，也不会在灵界显示职业信息了。(772be5f)
    li.change 法医学者的死亡耐性判定中，雪女的判定结果由「没有死亡耐性」变更为「持有死亡耐性」；小狐的判定结果由「持有死亡耐性」变更为「没有死亡耐性」。(f7ca804)
    li.bugfix 修正了炼成人狼模式下，老人的衰老等部分具有自杀能力的职业在右侧时，能够无视圣职者守护的bug。(c29ba50)
    li.bugfix 多名怪盗盗取同一个人的职业、一名怪盗盗取另一名怪盗的职业时，以前有时会导致被盗的职业增殖、有时会导致被盗的职业消失，现在修改为职业的数量不发生变化。(c2f4dd8)
    li.bugfix 修正了遗言文本框不能在纵向拉伸的bug。(2092fd7)
    li.bugfix 修正了炼成人狼模式下，跟踪狂达成了胜利条件也不能获胜的bug。(f7ca804)
    li.bugfix 修正了决胜投票被设为「总是」，并有要一天处刑多个人的时候，从第二个人开始不进行决胜投票的bug。(30aa13b)
    li.bugfix 修正了硬汉在被人狼袭击后又被处刑的情况下，硬汉会死两次的bug。(8c45bc8)
    li.bugfix 修正了在满足了游戏的结束条件应该立刻结束时，替身君也能够在游戏结束前进行行动的bug。(e456f8d)
    li.bugfix 修正了如果被同时赋予了多个如猎人的护卫这种有效期1天的附加状态的话，附加状态的效果时间有时会延长的bug。(d93dae5)
    li.bugfix 修正了GM在复活玩家后，复活通知不立刻出现的bug。(b5b1992)
    li.bugfix 炼成人狼模式下，人狼等能够进行夜间会话的职业在右侧时，夜间发言频道默认的第一位由「自言自语」变更为「该职业默认的夜间会话」。(39694ee)
    li.bugfix 修正了如果在吃下女糕点师送来的巧克力同时被催眠师催眠，吃下巧克力的效果将延迟到下一个夜间才能显示的bug。(d3c648a)
    li.bugfix 修正了炼成人狼模式下，如果右侧是占卜师的话，即使占卜师已经死亡了，也会显示占卜结果的bug。(6fa9d99)
    li.bugfix 修正了由弗兰肯斯坦的怪物吸收，或者由商人等赠与的占卜师之类的副职业本应是「非强制」使用技能的，但是技能选项中显示为「必须」的bug。(c44602a)
    li.bugfix 修正了烟火师施放焰火后如果狩猎者死亡了，狩猎者无法选择射击对象的bug。(8e6737d)
    li.bugfix 修正了如果GM在白天处死狩猎者，会导致狩猎者的技能结束后的夜晚被跳过的bug。(87c20af)
    li.bugfix 修正了特定条件下狂人狼能够选择人狼的袭击对象的bug。(d8aa673)
    li.bugfix 修正了硬汉人狼的能力使用后仍然会显示能力使用选项的bug。(9af13d9)
    li.bugfix 袭击过小红帽的人狼死亡的时候，以前是「在小红帽复活之前进行胜负判定」，现在修改「在小红帽复活之后进行胜负判定」。(fdb32eb)
    li.bugfix 修正了恶灵凭依本人的发言与转发的灵界发言之间，能够依靠头像的有无、发言筛选等进行区分的bug。(60a7bfc)
    li.bugfix 修正了恶灵凭依在被咒言师禁言的情况下，依然能够转发灵界发言的bug。(ac14575)
    li.bugfix 修正了在狩猎者选择射击目标的期间，帮手的发言会变成自言自语的bug。(03a1068)
    li.bugfix 修正了第二天以后变成小偷的时候，不能选择职业的bug。(f0bf8db)
    li.bugfix 修正了炼成人狼模式下，小偷一定胜利的bug。(f0bf8db)
  h2 v1.13.14 (2018-09-23)
  ul
    li.new 个人页面内「配色设定」的功能现在加强了，能够设置更多更详细的配色了。(c7d8f98)
    li.change 弗兰肯斯坦的怪物如果吸收了衰老死亡的老人的话，以前是「弗兰肯斯坦的怪物会在接下来的晚上衰老死去」，现在修改「弗兰肯斯坦的怪物会立刻衰老死去」。(8dda87e)
    li.change 所属阵营变化为人狼阵营的参加者如果被人狼占卜师占卜了，以前不是「狂人系」的职业也会发生狂人变身，现在修改为「只有狂人系的职业被人狼占卜师占卜后才会发生狂人变身」。(0b73c9d)
    li.bugfix 修正了不论有无能力，替身君均会使用超常现象研究者的能力的bug。(4a340fb)
    li.bugfix 修正了由猝死导致游戏结束的时候，游戏结束后仍然会提示投票的bug。(e593996)
    li.bugfix 修正了被GM复活的替身君会猝死的bug。(49d8bf6)
    li.bugfix 修正了如果碍事狂人被人狼占卜师占卜的话，碍事狂人在妨碍其他人的时候，被妨碍的一方不会出现被妨碍通知的bug。(5ce5955)
    li.bugfix 修正了硬汉在被人狼袭击的次日如果遭到威吓人狼威吓，就能够再多活一天的bug。(298600e)
    li.bugfix 修正了从女糕点师哪里得到本命巧克力的玩家，在吃下巧克力之前就能知道自己变成了恋人阵营的bug。(02cef1f)
    li.bugfix 修正了炼成人狼模式下，如果左侧是持有袭击耐性的职业、右侧是恶魔的时候，即使被袭击也无法达成恶魔胜利条件的bug。(85e6f26)
    li.bugfix 修正了炼成人狼模式下，跟踪狂即使达成了胜利条件也会败北的bug。(e7c48e1)
    li.bugfix 修正了吸血鬼被怪盗盗取后，次日白天被盗一方在吸血鬼一览中看不到自己而是看到盗取自己职业的怪盗的bug。(0f8df48)
    li.bugfix 修正了妖狐系被怪盗盗取后，被盗的一方在妖狐一览中可以同时看到自己和怪盗的bug。(61e6a0c)
    li.bugfix 修正了被怪盗盗取职业的人如果在次日白天死掉了，次夜自己变成怪盗的通知不出现的bug。(2a4969a)
    li.bugfix 修正了国王被怪盗盗取的时候，次日白天被盗的人的投票数仍是2票的bug。(29dbd4c)
  h2 v1.13.13 (2018-09-20)
  ul
    li.bugfix 狂人改变职业同时死亡被弗兰肯斯坦的怪物吸收的时候，被吸收的狂人职业也会发生变化的bug，现在修正为不会发生变化。(3297f1d)
    li.bugfix 修正了玩家的名称包含特定字符时自言自语的发言记录显示出现错误的bug。(38af6db)
    li.bugfix 修正了v1.13.12更新后，替身君死亡后仍然能够使用能力，以及决定人狼的袭击对象的bug。(8c52272)
    li.bugfix 修正了v1.13.12更新后，怪盗在盗取职业的当夜死亡后，仍会发生职业变更的bug。(9575cd5)
    li.bugfix 修正了v1.13.12更新后，炼成人狼模式下二重身一定会胜利的bug。(5207ada)
  h2 v1.13.12 (2018-09-18)
  ul
    li.change 血腥玛丽的胜利条件如果变更为「人狼阵营的胜利」，血腥玛丽的阵营现在也将一同变成「人狼阵营」。(bffe7de)
    li.change 炼成人狼模式下圣诞老人在离开村子后由「必须是村人阵营获胜圣诞老人才能获胜」修改为「不论哪个阵营获胜圣诞老人都能获胜」。(2bef89e)
    li.change 由人狼占卜师导致的狂人职业变化以前视情况可能会立刻发生，现在修改为「狂人的职业变化只会在天亮时发生」。(28d2198)
    li.change 被人狼占卜师占卜的狂人如果在当天夜里死亡了，「狂人的职业变化」修改为「不会发生」。(f52d4ab)
    li.change 处刑投票如果需要处死多名参加者的时候，在完成了一个人的处刑开始下一个人的投票的时候，剩余的重新投票次数由「不会重置」修改为「重置为三次」。(841ac5b)
    li.change 房间设定中使用了「狼的仆从」选项后，被指定为狼的仆从的参加者由「立刻变成狼的仆从」修改为「在天亮的同时变成狼的仆从」。(0ff3a50)
    li.change 现在犹豫时间不能设为小于1分钟。剩余的犹豫时间如果已经小于1分钟，GM将不能继续缩短犹豫时间。(8c2c801)
    li.bugfix 修正了参加者在被雪女守护的状态下，如果因为其他原因死亡了，死亡通知不正确显示的bug。(273ece6)
    li.bugfix 修正了职业变化时遗言可能会消失的bug。(015cd1a)
    li.bugfix 被炸弹魔装上炸弹的人如果在夜间同时被猎人守护和被人狼袭击，以前只有猎人会因为炸弹死去而人狼不会，现在修正为「猎人与人狼都会因为炸弹死去」。(7e88262)
    li.bugfix 如果在变成白天的同时由于人狼死亡导致当天的天数超过了老人的寿命上限的话，以前老人是否立刻寿命耗尽死去是随机的，现在修正为「老人会立刻寿命耗尽死去」。(1cb448a)
    li.bugfix 修正了变成更生者、狼的仆从的玩家的阵营显示不正确的bug。(87b399a)
    li.bugfix 修正了手调黑暗火锅中，使用「第三阵营系」等选项，黑锅安全性设为「高」以上的时候，职业数如果不正确游戏就无法开始的bug。(d431f9e)
    li.bugfix 修正了被诅咒者由于咒言师的能力不能发言时候，如果变成了人狼，咒言师的禁言效果会格外增加一天的bug。(5a3803a)
    li.bugfix 修正了量子人狼中，如果占卜师概率设为可见，概率表不能正确显示的bug。(94c6e3d)
    li.bugfix 在逃亡者逃到人狼系的家里同夜，如果这名人狼系死亡的话，以前会逃亡者是否死亡是随机的，现在修正为「逃亡者会死亡」。(437c710)
    li.bugfix 修正了由独裁者使用能力导致胜负判定的时候，胜负的通知会出现两次的bug。(129ed5d)
    li.bugfix 修正了房间选项「多组恋人相互独立」设定为「否」，场上有多组恋人生存，并且有不是恋人的参加者生存时，不被结算为恋人胜利的bug。(f8cbd81)
    li.bugfix 修正了被策士策反的更生者无法知道女王观战者是谁的bug。(cb8502e)
    li.bugfix 修正了参加者被多个人同时选为复活能力目标的时候，有关复活的系统通知会多次出现的bug。(bd08234)
    li.bugfix 修正了由于雪女的能力导致的人狼袭击失败的时候，瞳狼不能正确识别原因的bug。(c81c9a5)
    li.bugfix 修正了硬汉人狼由于护卫等原因与袭击目标同归于尽后，看板娘等应该在被人狼袭击死亡时应该触发的能力没有正确触发的bug。(c4cfa79)
    li.bugfix 修正了替身君是模仿者，并模仿了自己的时候，会导致意外决定人狼的袭击对象的bug。(64e76ab)
    li.bugfix 修正了替身君是怪盗的时候，可能会盗取自己的职业的bug。(64e76ab)
    li.bugfix 修正了炼成人狼模式下，被碍事狂人妨碍后，如果右侧的职业是占卜师，可以不受影响进行占卜的bug。(70d0798)
  h2 v1.13.11 (2018-09-08)
  ul
    li.new 追加新职业「雪女」「乌鸦」。(ffaa9e3, 7364e7b)
    li.change 玩家界面中显示职业名与其他附加情报的部分有所变更。即使在炼成人狼模式以外也将一直显示玩家所属在阵营，根据阵营的不同还会改变颜色。(f5bcdec)
    li.change 人狼占卜师占卜了变态杀人狂的时候，以前人狼占卜师是不会死的，现在变更为「人狼占卜师死亡」。(37bcdd8)
    li.change 炼成人狼模式下，在选择夜间发言频道是时候,「自言自语」与各职业的固有选项（「人狼的会话」等等）之间以前有上下顺序不固定的情况，现在变更为职业固有的对话频道一定比「自言自语」更为优先。(78c6111)
    li.change 现在起，即使游戏平局了，猝死的玩家也将被判为败北。(bd2ece0)
    li.change 占卜师等职业如果被复活的时候，以前会显示死亡前使用的技能结果，现在变更为「不显示死亡前使用的技能结果」。(d3c699e)
    li.change 占卜师等职业如果暂时被禁止使用能力的时候，以前会多次显示重复内容的技能结果，现在变更为「不显示这些重复的技能结果」。(d3c699e)
    li.change 在人狼选择袭击对象的画面中，如果可袭击次数超过一次的话，现在将显示可以袭击的次数具体有几次。(725a99d)
    li.bugfix 修正了恶魔在被处刑后满足了胜利条件的时候，游戏结束画面中恶魔没有死去的bug。(1f3c1cb)
    li.bugfix 修正了怪盗盗取职业的时候，能够看到职业上附加的诸如恋人等情报的bug。(0420c13)
    li.bugfix 修正了恶女将一人同时选为本命和手玉时，被选中的人只被视为手玉，不被视为恋人的bug。(2505620)
    li.bugfix 修正了替身君是猎人或邪教主时，会把已死亡的玩家列为能力对象的bug。(6c04ed9)
    li.bugfix 修正了疯狂科学家对变态杀人狂使用技能后不会死的bug。(1cbb874)
    li.bugfix 修正了犬的饲主死亡后，仍然出现袭击饲主选项的bug。(aa03f98)
    li.bugfix 修正了黑暗火锅安全性在「低」以上的时候，仙狐不会在黑暗火锅中出现的bug。(9f89cc9)
    li.bugfix 修正了帮手在犹豫时间不能发言的bug。(8b97058)
    li.bugfix 如果策士选择了人狼系的目标同夜这名人狼系的玩家死亡的话，以前策士是否死亡的情况都有可能出现，现在统一修正为「策士死亡」。(51edf39)
    li.bugfix 被策士选为目标的人如果在同夜死亡的话，以前目标被策反与不被策反的情况都有可能出现，现在起统一修正为「不被策反」。(6809ab2)
    li.bugfix 如果狂犬使用袭击能力的同时被人狼占卜师占卜的话，「狂犬的袭击失效」的bug被修正为「狂犬的袭击有效」。(37bcdd8)
    li.bugfix 在有GM，并且隐藏职业配置的房间中，规则显示变更为像黑暗火锅的房间那样显示与各个职业相关的所有规则。(e7d3532)

  h2 v1.13.10 (2018-08-24)
  ul
    li.new 追加新职业「潜伏者」。(d1c38a2)
    li.change 炼成人狼模式下，醉鬼自身的职业显示由「村人」变更为「村人×村人」。(fb7f84a)
    li.change 「怪盗」不再能够盗取自己的职业了。(2548b1b)
    li.change 恶魔如果被人狼袭击的同时受到了猎人等职业的守护没有达成胜利条件时，变更为不再出现被袭击通知。除外，被袭击通知的内容也更明确的告知玩家达成了恶魔胜利条件。(400ac93)
    li.bugfix 修正了炼成人狼模式下，醉鬼的能够看到自己实际阵营的bug。(c0d829c)
    li.bugfix 修正了炼成人狼模式下，替身君有时会猝死的bug。(55daa9e)
  h2 v1.13.9 (2018-08-21)
  ul
    li.bugfix 当替身君是「丑时之女」「狼少年」「狮子舞」「仙狐」时，替身君将不再使用这些非强制的技能。(0acefd9)
    li.bugfix 修正了炼成人狼模式下，「被诅咒者」变化为人狼时，导致游戏停止的bug。(77b1e48)
    li.bugfix 修正了v1.13.6更新后，在游戏中发生职业变化后，称号、战绩以变化后在职业记录的bug。(fb149d9)
    li.bugfix 修正了v1.13.7更新后，「人狼占卜师」的玩家无法查看当前结束的房间的bug。(ba7ec35)
  h2 v1.13.8 (2018-08-16)
  ul
    li.bugfix 修正了v1.13.6更新后，炼成人狼模式下，「二重身」等职业在变化时会导致两侧的职业都消失的bug。(1f28ade)
    li.bugfix 修正了v1.13.0更新后，量子人狼的概率表不能查看的bug。(ad97ecf)
    li.bugfix 修正了炼成人狼模式下，「小红帽」在右侧时，能力不能正确发动的bug。(eb6617b)
    li.bugfix 修正了「模仿者」模仿了「占卜师的妈妈」等职业后，本来只能由本人看到的技能提示变得对所有人可见的bug。(4aa1c35)
  h2 v1.13.7 (2018-08-16)
  ul
    li.bugfix 修正了v1.13.6更新后，收到「猎人」等护卫的「占卜师」的占卜结果不能正确显示的bug。(bc15d6f)
  h2 v1.13.6 (2018-08-15)
  ul
    li.bugfix 修正了v1.13.0更新后，设为「匿名（结束后公开ID）」的房间中，玩家的ID没有正确公开的bug。(67928a2, Sunev)
    li.bugfix 修正了炼成人狼模式下，右侧的「二重身」在第二次变更职业后不正确动作的bug。(e770a08)
    li.bugfix 修正了烟火师使用能力后，已经死亡的玩家生存时的职业能力将被错误触发的bug。(486e9a3)
    li.bugfix 修正了炼成人狼模式下，如果玩家阵营发生了变化，阵营的显示不能更新的bug。(68b7294)
    li.bugfix 修正了炼成人狼模式下，「人狼占卜师」对狂人系列进行占卜的时候，右侧的狂人职业不发生变更的bug。同时，如果两侧都是狂人系列的职业，两侧的职业将同时更新。(511df2c)
    li.bugfix 修正了采用房间规则「替身安全性」时，替身君可能变成求爱者的问题。(c04f89d)
  h2 v1.13.5 (2018-08-12)
  ul
    li.bugfix 修正了在由于「弗兰肯斯坦的怪物」「商人」等职业的效果同时持有多个相同的职业时，其中从第二个该职业开始无法正常使用技能的bug。(294a51d)
    li.bugfix 修正了炼成人狼模式下，「二重身」的变身效果不正常的bug。(eb15a72)
    li.bugfix 修正了v1.13.0更新后，游戏中GM工具画面显示不正确的bug。(9cd9a52)
    li.bugfix 修正了v1.13.0更新后，量子人狼相关内容不正确显示的bug。(effe1ee)
    li.bugfix 修正了v1.13.0更新后，死亡后仍然显示能力对象选择画面的bug。(f78731c)
    li.bugfix 修正了v1.13.0更新后，对特定玩家发言进行高亮强调的功能对部分玩家不能正确工作的bug。(04969aa)
    li.bugfix 修正了v1.13.0更新后，在有GM和帮手时，自由配置下无法开始游戏的bug。(77fc46b)
  h2 v1.13.4 (2018-08-07)
  ul
    li.change 硬汉被人狼系袭击后死去的时间由「次日的夜晚到来时」变更为「次日的夜晚结束时」。(6f0121f)
    li.bugfix 修正了炼成人狼模式下，对变态杀人狂使用技能后，不会死的bug。(15f9a95)
    li.bugfix 修正了炼成人狼模式下，仆从选择者在选择了狼的仆从后，只能够得知目标左侧职业名称的bug。(2b3c5d0)
    li.bugfix 修正了采用房间规则「死亡笔记」时，获得笔记的人不知道自己得到了笔记的bug。(2ccc7d5)
    li.bugfix 修正了采用房间规则「死亡笔记」时，如果不使用死亡笔记，这个副职业就不会自动消掉的bug。(8494098)
    li.bugfix 修正了v1.13.0更新后，昼夜切换后发言的种类不进行适当切换的bug。(17accbf)
    li.bugfix 修正了炼成人狼模式下「逃亡者」是右侧职业的玩家，逃到人狼系的玩家家里，逃亡者不会死去的bug。(2bca31d)
  h2 v1.13.3 (2018-08-07)
  ul
    li.bugfix 修正了v1.13.0更新后，Microsoft Edge浏览器无法选择投票或使用能力目标的bug。(f7f9e0a)
    li.bugfix 修正了v1.13.0更新后，手调黑暗火锅中，职业除外的设定被无视的bug。(5f6e46d)
  h2 v1.13.2 (2018-08-06)
  ul
    li.bugfix 修正了v1.13.0更新后，黑暗火锅中设定为显示阵营人数时「人狼系」等阵营的名称不显示的bug。(832f7b5)
    li.bugfix 修正了v1.13.0更新后，参加者一览中生存者・死亡者的人数不显示的bug。(02c6518)
  h2 v1.13.1 (2018-08-06)
  ul
    li.bugfix 修正了v1.13.0更新后，房间内有帮手存在时，会导致游戏停止的bug。(a9fb9a7)
    li.bugfix 修正了恋人等胜利判定不正确的bug。(4bb04d5)
  h2 v1.13.0 (2018-08-06)
  ul
    li.new 变更了游戏的UI。(7d13f15)
    li.change 炼成人狼模式下弗兰肯斯坦的怪物现在可以同时吸收左右两侧的职业了。(ede0b9c)
    li.bugfix 修正了炼成人狼模式下如果「商人」向持有强制使用的技能的玩家赠送占卜套装和守护套装时，该玩家如果不使用套装技能会猝死的bug。(bd9f1a4)
    li.bugfix 修正了炼成人狼模式下如果右侧是「死亡笔记」,死亡笔记会消失的bug。(99e347a)
    li.bugfix 修正了炼成人狼模式下变成狐凭的人被人狼袭击后会死的bug。(d643bf0)
    li.bugfix 修正了炼成人狼模式下多名的结果不一致的bug。(78b9f7d)
    li.bugfix 修正了炼成人狼模式下「逃亡者」逃到右侧是人狼系的玩家家里，逃亡者不会死去的bug。(78b9f7d)
    li.bugfix 修正了炼成人狼模式下如果先使用了「模仿者」的能力，其他职业的能力可能无法正常使用的bug。(7a969f2)
    li.bugfix 修正了炼成人狼模式下满足了恶魔的胜利条件但是没有获得恶魔胜利的bug。(3a458bc)
    li.bugfix 修正了人数过少时如果选择希望役职制开始游戏，会导致房间由于bug停止的问题。(159b856)
    li.bugfix 修正了烟火师发动能力后，在其他人狼还活着的时候，孤独的狼出现「可以袭击他人」误报的bug。(8c6321b, Sunev)
    li.bugfix 修正了替身君是狼少年的时候，可以选择已经死亡的玩家发动能力的bug。(6540850, Sunev)
    li.bugfix 修正了职业变化后「拒绝复活」会被解除的bug。(f5c2a91, Sunev)
  h2 v1.12.16 (2018-07-28)
  ul
    li.bugfix 修正了阎魔有2人及以上的时候，只要尚有生存的阎魔，死去的阎魔也能看到能力结果的bug。(e6f40b2)
    li.bugfix 修正了炼成人狼模式下包含了「妖怪」「模仿者」等不被计数的职业时，玩家的种族计数会出现错误的bug。(198f54d)
    li.bugfix 修正了炼成人狼模式下「狩猎者」「复仇者」的能力有时不会发动的bug。(1600a81)
    li.bugfix 修正了炼成人狼模式下包含了NEET，但是不投票会猝死的bug。(602019e)
    li.bugfix 修正了炼成人狼模式下「大狼」「小狐」的特殊灵能结果变成「村人」的bug。(bd1fbf4)
    li.bugfix 修正了炼成人狼模式下仙狐在透视他人职业时，连商人赠送的礼物套装都包含在结果内的bug。(6fa9064)
    li.bugfix 修正了炼成人狼模式下「狼少年」「南瓜魔」等能够改变占卜结果的职业不能正常生效的bug。(711ac6d)
    li.bugfix 又一次修正了炼成人狼模式下游戏开始后有玩家消失变成观战者的bug。(7dab534)
  h2 v1.12.15 (2018-07-19)
  ul
    li.bugfix 修正了炼成人狼模式下如果存在狮子舞，将在胜负判定时导致游戏终止的bug。(53eafbe)
    li.bugfix 修正了炼成人狼模式下右侧职业是跟踪狂时，如果胜负判定时出现循环跟踪，将导致游戏终止的bug。(553ee41)
    li.bugfix 修正了圣诞老人离开村子时如果被圣职者的能力阻止，将导致游戏终止的bug。(484725c)
    li.bugfix 修正了炼成人狼模式下狡猾的狼、血腥玛丽死亡后不能正确使用技能的bug。(aa817b8)
    li.bugfix 修正了炼成人狼模式下由求爱者、恶女变成的恋人，不能正确地自尽和不能够正确辨别恋人的bug。(daaa3f0, 3c05a94)
    li.bugfix 对于醉鬼等副职业，仙狐的透视结果修正为不显示。此外，炼成人狼模式下舌祸狼、跟踪狂等可以得知其他玩家职业名称的职业，由只能获知目标玩家左侧职业的名称变更为可以获知目标玩家左右两侧的职业。(4bf4366)
    li.bugfix 修正了「替身君」能够向在早上追随他人自尽的玩家投票的bug。(e886c2a)
    li.change 被女糕点师选为本命的玩家吃下巧克力前在灵界视角显示的职业由没有特殊显示变更为显示「本命」。(1ee3db0)
  h2 v1.12.14 (2018-07-17)
  ul
    li.new 追加新职业「仙狐」。(0432407)
    li.bugfix 修正了「犬」护卫的人有时能被吸血鬼杀死的bug。(53b3ab8, Sunev)
    li.bugfix 修正了「替身君」在决胜投票时，可以投票给不是最高得票玩家的bug。(2faa7f8, Sunev)
    li.bugfix 修正了房间选项「多组恋人相互独立」设定为「否」，并且场上有多组恋人生存时，虽然已经达成了胜负条件但是游戏不能正确结算的bug。(55d41b3, Sunev)
    li.bugfix 修正了替身君是人狼系，但其他人狼因为偶像死去不能使用技能时，替身君不袭击的bug。(2d79837)
  h2 v1.12.13 (2018-06-18)
  ul
    li.new 追加新职业「偶像」。(8962301)
    li.new 死亡玩家的头像将变为灰色，并打上红叉(e5cfe2c, Sunev)
    li.change 「巫女」在使用能力后多次不投票导致平局的，将被列入「猝死惩罚投票」的名单。(1f81530, Sunev)
    li.bugfix 修正了决胜投票设为「总是」时，最高票数玩家有多人时不进行重新投票的bug。(3e87656)
    li.bugfix 修正了威吓的狼和烟火师同时使用能力时，烟火师的技能提示不正常显示而生效，并且生效两次的bug。(a8a5752)
    li.bugfix 修正了炼成人狼模式下人狼系只有1人的时候，游戏开始后有玩家消失变成观战者的bug。(0880370)
  h2 v1.12.12 (2018-05-17)
  ul
    li.new 追加新职业「舌祸狼」「黑猫」。(ca0c36b, ee8d8fe)
    li.bugfix 修正了「血腥玛丽」选择使用能力的目标后，系统记录不正确显示的bug。(61774ef, Sunev)
    li.bugfix 修正了夜间诞生的「忍者」（通过模仿等）在当天夜间使用忍者的技能后，第二天早上不显示结果的bug。(80feaac)
  h2 v1.12.11 (2018-04-08)
  ul
    li.bugfix 修正了「手调黑暗火锅」模式，安全性设为低以上的时候，如果指定了「人狼系」职业的时候，会导致出场的人狼系职业过多的问题。同时，修正了炼成人狼中使用手调黑暗火锅时，出场职业中人狼系和其他阵营数量过多的问题。(28ac7ab)
  h2 v1.12.10 (2018-04-06)
  ul
    li.change 「黑暗火锅」、「手调黑暗火锅」模式下，可以使用「炼成人狼」了。(a124be0)
    li.bugfix 修正了替身君是「威吓人狼」时，替身君有时会猝死的bug。(4113469, Sunev)
    li.bugfix 判定变更：同一天晚上亵渎者和占卜师对同一个人使用技能的时候，这个人「当夜是否会被咒杀」从「根据亵渎者和占卜师的手速随机发生」，变更为「一定会被咒杀」。(e7aa41a)
    li.bugfix 修正了「炼成人狼」模式中，「弗兰肯斯坦的怪物」等职业，在满足特定条件是，应该触发死亡，但是不会死的bug。(f8900c6)
    li.bugfix 修正了「炼成人狼」模式中，如果被亵渎的玩家右侧持有反弹亵渎者技能的职业时（例如「〇〇×骗子」），亵渎者不会正确地变为狐凭的bug。(81493e5)
    li.bugfix 判定变更：「炼成人狼」模式中持有「人狼系×吸血鬼」这样职业的玩家在胜负结算时同时被记为人狼和吸血鬼，导致无法获胜。这种情况现在变更为玩家将只被记为吸血鬼，可以作为吸血鬼获胜。(765cf5d)
    li.bugfix 修正了「炼成人狼」模式中职业发生变化时，职业名称在灵界和结束后显示错误的bug。(9fa64ec)
  h2 v1.12.9 (2018-02-24)
  ul
    li.bugfix 修正了替身君是「陷阱师」时，用陷阱守护死者的bug。(821a5f0)
    li.bugfix 修正了「魔女」在收到巧克力时，使用魔药后不生效的bug。(178be34)
  h2 v1.12.8 (2018-01-29)
  ul
    li.change 修订了一部分系统提示，统一了标点的使用和一些措辞的不同。(1de6f04)
    li.bugfix 修正了Firefox中游戏开始界面设置职业数量时，UI崩溃的bug。(d877832)
    li.bugfix 修正了Firefox「以相同设定建立新房间」按钮不正常工作的bug。(60e4469)
    li.change 现在「退出」功能从页面顶部移动到「个人页面」最下方。(cdac412)
  h2 v1.12.7 (2017-12-31)
  ul
    li.bugfix 修正了存在复数狮子舞的时候，狮子舞无法获胜的bug。(782a1bc,679a2e3)
  h2 v1.12.6 (2017-12-27)
  ul
    li.new 追加新职业「瞳狼」。(88a0475)
    li.change 在黑暗火锅中展示出场阵营的时候，邪教主的阵营从「其他阵营」中独立出来，成为「邪教主阵营」。(43d8586) 
    li.new 但是，在本次同时追加的设定「是否隐藏单独阵营」(默认为隐藏)设为「隐藏」时，吸血鬼・恶魔・邪教主将被计入「其他阵营」。(3840cc6) 
    li.bugfix 修正了独裁者处死「狩猎者」或「复仇者」之后，在「狩猎者」与「复仇者」的技能结束后不进入夜晚的bug。(fed7e87)
    li.bugfix 修正了结束时如果有中途变为「无赖」的生存者存在，可能导致游戏失去响应的bug。(bed9eb3)
  h2 v1.12.5 (2017-12-10)
  ul
    li.new 追加新职业「尖叫狂人」「阎魔」。(b5e3a58, f3cea61)
    li.bugfix 「催眠师」现在被视为能够干扰占卜结果的职业。(f64d992)
    li.bugfix 「以相同设定建立新房间」功能，现在能够正确的保存手调黑暗火锅的配置与除外职业了。(b3299ea)
    li.bugfix 修正了逃亡者与策士对已经转化为恋人阵营的人狼系或者吸血鬼使用技能后，会死亡的bug。(6e73a46, d3686f5)
    li.change 点击房间的「规则」按钮时，现在包含关于时间长短的各项设定了。(cc761fa)
  h2 v1.12.4 (2017-11-30)
  ul
    li.change 在战绩「参加过的房间一览」中，可以查看自己在各个房间的职业与胜败情况。(cafecf0)
  h2 v1.12.3 (2017-11-19)
  ul
    li.new 追加新职业「狩猎者」「复仇者」。同时，追加设定「绝地反击」。(06f65d2)
    li.new 参加者可以投票处罚猝死玩家。(4e5dcf0, Sunev)
  h2 v1.12.2 (2017-11-12)
  ul
    li.new 追加「投票专用时间」功能。如果此时间设定不为零，白天的讨论期间将禁止投票，改为只在投票专用时间投票。(fdca4dd)
    li.change 设定中使用「占卜初日白通知」的时候，被占卜的候选人中不再包括妖狐。(83b8864)
  h2 v1.12.1 (2017-11-04)
  ul
    li.change 技能变更：<strong style="color:red;">怪盗对变态杀人狂使用技能的时候，变更为怪盗不会死去、而是成功盗取变态杀人狂的职业</strong>。(d0837ba)
    li.change 猎人系列的规则（是否可以保护自己等等）现在也对Cosplayer生效了。(6b7a8ea)
    li.bugfix 修正了魔女第一天虽然不能使用技能，但是会显示技能栏的bug。(c20a577)
    li.change 技能变更：<strong style="color:red;">「替身君」设定为「无（玩家会被杀）」的时候，猎人系列可以在第一天夜里使用技能了</strong>。(0b77500)
    li.bugfix 修正了忍者使用能力后结果不出现的bug。(f5457bd)
    li.change 参加者的复活记录出现的时机有所改变，移动至死亡记录之后。(1003016)
  h2 v1.12.0 (2017-10-10)
  ul
    li.new 追加「战绩表示机能」。现在可以在个人页面查看自己的战绩，在用户页面公开自己的战绩。(98e43cd)
  h2 v1.11.21(2017-10-07)
  ul
    li.bugfix 修正忍者对变态杀人狂使用技能而不死的bug。(98e43cd)
    li.bugfix 修正「占卜初日白通知」选中后替身君会进行占卜的bug。(a015fb2)
    li.bugfix 修正希望役职制房间在输入了无效配置仍然进入职业选择界面的bug。(58173a1)
    li.bugfix 修正了恶魔等职业在黑暗火锅模式中即使被排除了仍会出现的bug。(8fa9b95)
  h2 v1.11.20(2017-09-29)
  ul
    li.new 追加新职业「双胞胎」。(2a7f163)
    li.change 恋人阵营与背德者系列自杀的提示信息<strong style="color:red;">不再区分「追随着恋人自尽了」「追随着妖狐自尽了」，统一为「追随着某个人自尽了」</strong>。双胞胎也相同。(da14a0b)
    li.new 打开房间后会再次提示有无密码・是否是匿名模式。(b76eeda)
  h2 v1.11.19(2017-09-22)
  ul
    li.new 追加新职业「妖怪」「忍者」。(2a8d174)
  h2 v1.11.18(2017-09-16)
  ul
    li.new 追加新职业「法医学者」「Cosplayer」。(544a0e8)
    li.bugfix 修正了某些情况下会出现「空白玩家」的bug。(8bfbb26)
  h2 v1.11.17(2017-08-15)
  ul
    li.bugfix 「隐藏投票结果」选项重新启用。选择「隐藏」的话，只有灵界能够看到投票结果。(e6991f9)
  h2 v1.11.16(2017-08-13)
  ul
    li.bugfix 修正了罕见情况下，替身君「狂人狼」能够袭击他人的bug。(3e6d8ee, Sunev)
    li.bugfix 修正了替身君「吸血鬼」能够袭击死者的bug。(2c87327, Sunev)
  h2 v1.11.15(2017-07-13)
  ul
    li.change 调整了黑暗火锅安全性「中」、「低」的平衡性。(d69237b, 85e9c5c)
  h2 v1.11.14(2017-07-09)
  ul
    li.new 将参与者踢出房间的同时，可以选择「禁止其再次加入」。(59bb3f3)
  h2 v1.11.13(2017-03-18)
  ul
    li.new 追加「连续护卫」选项。设定猎人・游荡猎人是否可以连续守护同一个人。默认为「是」。 (d0064f1)
    li.new 追加「占卜初日白通知」选项。如果设为「是」的话，占卜师首天晚上将自动从占卜结果为「村人」的人中随机选择一个人进行占卜。默认为「否」。 (9e2d9e9)
    li.new 追加「投票数相同时的处理」选项。除了一直以来的「重新投票」以外，追加了「随机处刑」「谁也不被处刑」「全员处刑」的选择。 (c159756)
    li.new GM现在可以以30秒为单位增减各阶段的剩余时间了。 (78a9b06)
    li.bugfix 修正了少数情况下，「弗兰肯斯坦的怪物」可以多次吸收村人阵营技能的bug。 (39064e5)
    li.bugfix 修正了决胜投票时如果发生猝死，或者当天需要处刑超过一个人时，投票候补者会只剩一个人的bug。 (7983a93)
    li.bugfix 修正了早上复活的人无法被投票的bug。 (f806b40)
  h2 v1.11.12(2017-03-16)
  ul
    li.new 追加了灵界的自言自语选项。在灵界视野开启的时候，现在可以进行只有自己能看到的发言了。灵界的自言自语不会被「恶灵凭依」转发。 (fa18dd6)
    li.change 「弗兰肯斯坦的怪物」不再能够吸收「弗兰肯斯坦的怪物」的技能。 (bea436f, Sunev)
    li.bugfix 修正了「陷阱师」在与「猎人」守护同一目标时，袭击该目标的「人狼」会死亡的bug。 (731c8ca)
  h2 v1.11.11(2017-02-25)
  ul
    li.new 追加新职业「南瓜魔」「疯狂科学家」「恶灵凭依」。 (83053cc, 92f378e)
  h2 v1.11.10(2017-02-22)
  ul
    li.new 现在可以为您的账号绑定一个认证邮箱，认证成功后可以用于重置登录密码。(0ca2462, Sunev)
    li.bugfix 修正了在「炼成人狼」中，「策士」动作处理不正确的bug。(24f1f60)
  h2 v1.11.9(2017-02-01)
  ul
    li.bugfix 修正了替身君成为「狡猾的狼」时会导致服务器崩溃的bug。(f2b384e)
    li.bugfix 修正了复合职业有时在处理顺序上不正常的bug(例如有时猎人的守护不生效)。(89e8e7d, Sunev)
    li.bugfix 修正了「手调黑暗火锅」中，部分第三阵营职业会无视房主的「除外职业设置」的bug。(1f50787)
    li.change 禁止行为・注意事项 有所变更。(c0ef570)
  h2 v1.11.8(2017-01-06)
  ul
    li.bugfix 修正了「烟火师」被「威吓的狼」威吓时如果使用烟火，没有技能提示、效果持续2夜的bug。 (da63dee, Sunev)
    li.bugfix 修正了一部分称号不翼而飞、无法获得称号「压岁钱」的bug。 (9792354, Sunev)

  h2 v1.11.7(2016-12-30)
  ul
    li.new 追加新职业「狮子舞」。(ad31453)
    li.bugfix 修正了「恋人阵营」的胜利/败北称号不能正常取得的bug。(715bdf6, Sunev)
  h2 v1.11.6(2016-10-29)
  ul
    li.new 追加新职业「狡猾的狼」。(5cb6a7a)
  h2 v1.11.5(2016-10-23)
  ul
    li.new 房间开始时，改进了「自由配置」与「手调黑暗火锅」模式下选择职业数量的GUI。(64c85e1)
    li.new 「手调黑暗火锅」中，现在可以排除特定职业（即使随机分配也不会出现）了。(64c85e1)
  h2 v1.11.4(2016-10-08)
  ul
    li.bugfix 修正了「狂犬」等职业如果是被「人狼占卜师」转化出来的话，可以无视限制，在第一天夜里使用夜间技能的bug。(75e3b93, Sunev)
    li.bugfix 修正了「炼成人狼」模式中「硬汉」的被袭击后能够看到灵界、不会正常死去的bug。(72ea47c, Sunev)
    li.change 在有GM的场合，现在变成在黑暗火锅以外的模式中也可以在「职业公开」选项里设置是否「只公开阵营数」。(4c9d488)
  h2 v1.11.3(2016-08-30)
  ul
    li.bugfix 修正了在「炼成人狼」中，形如「占卜师×占卜师」的夜间强制技能职业，即使使用了夜间技能也会猝死的bug。(e4202b3)
    li.bugfix 修正了在「炼成人狼」中，「王子」·「硬汉」为右侧职业时，其技能不能被正确触发的bug。(93ec755)
    li.bugfix 修正了在「炼成人狼」中，「变态杀人狂」为右侧职业时，其技能不能被正确触发的bug。(214b8ad)
    li.bugfix 修正了在「炼成人狼」中，「女王观战者」为右侧职业时，村人阵营看不到女王观战者是谁的bug。(fb236f8)
    li.change 在「炼成人狼」中，以前存在两个职业之一是村人阵营就可以看到「女王观战者」的问题，现在修正为必须两个职业都属于村人阵营才能看到「女王观战者」。(797fa2b)
    li.change 在「炼成人狼」中，追加了显示自己所属阵营（获胜阵营）的提示。(2e091c1)
  h2 v1.11.2(2016-08-28)
  ul
    li.bugfix 修正了进入匿名房间后立刻可以看到参加者ID的bug。(cdda3b5)
    li.bugfix 修正被踢出了房间的人的发言和名称变得奇怪的bug。(ddab3fa)
  h2 v1.11.1(2016-08-11)
  ul
    li.change 房间的匿名设置设为「匿名（结束后公开ID）」并且有GM时，GM变为在游戏结束前即可获知参加者的真实ID。(24a0cb9)
    li.new 追加设定「炼成人狼」。(d43acca)
  h2 v1.11.0(2016-03-17)
  ul
    li.new 追加新职业「狂犬」「催眠师」。(418a949)
  h2 v1.10.9(2016-02-14)
  ul
    li.new 追加情人节新职业「女糕点师」。(d058044)
  h2 v1.10.8(2016-01-21)
  ul
    li.bugfix 修正了「人狼占卜师」将狂人转变为灵能者后，灵能结论显示「null」的bug。(98518be, Sunev)
    li.bugfix 修正了「狼的仆从」的职业说明不能正常显示的bug。(b053ce2, Sunev)
  h2 v1.10.7(2015-12-15)
  ul
    li.bugfix 修正了贪狼发动技能后，任何一天没咬死人的时候，贪狼会死的bug。(402f236, Sunev)
    li.bugfix 修正了独裁者处死具有死亡连坐能力的人时，服务器会崩溃的bug。(f06ce45, Sunev)
    li.bugfix 修正了亵渎者选择变态杀人狂为技能目标后，亵渎者不会死的bug。(bfceab6, Sunev)
    li.new 追加设定「人狼袭击有毒对象」。人狼袭击猫又、埋毒者时的默认动作，变更为「连坐袭击者」，但是根据房主的配置，仍可以随机连坐。(2ef2fa0)
  h2 v1.10.6(0736e0a;2015-10-25)
  ul
    li.change 背德者が、妖狐が全滅した場合にまだ子狐や狐憑きが残っているのに自殺してしまうバグを修正しました。 (045679e)
  h2 v1.10.5(ae9b27b;2015-10-08)
  ul
    li.change 亵渎者の出现人数が黑暗火锅安全性低以上で調整されるようになりました。(9a61dc8)
  h2 v1.10.4(9a61dc8;2015-08-26)
  ul
    li.change 亵渎者が一部の职业を冒涜した場合に、冒涜相手ではなく自己が狐憑きとなるように变更しました。(0578740)
  h2 v1.10.2(08775a1;2015-07-21)
  ul
    li.new 新职业「亵渎者」「丑时之女」を追加しました。(50cc506)
    li.change 黑暗火锅のとき、替身君が求爱者になれるように变更しました。また、替身君が求爱者になった場合求愛しないように变更しました。また、2日目以降に求爱者に変化した場合求愛できるように变更しました。(50cc506)
  h2 v1.10.1-9(2015-07-01)
  ul
    li.change 威吓的狼の効果で対象の圣职者の护卫・猎人の护卫等を無効化できていたのを、できないように修正しました。また、威吓的狼の効果では死亡判定時に発動する効果を無効化できないように修正しました。(a45dea3)

  h2 v1.10.1-8(85e8d46;2015-05-26)
  ul
    li.bugfix 贪婪的狼が能力を発動すると同時に狼之子が死亡した場合、襲撃に失敗しても贪婪的狼が死亡しないバグを修正しました。(a8746d)
    li.change 硬汉人狼と贪婪的狼が同時に能力を発動した場合の挙動が変わりました。従来は後から発動したほうのみデメリットが適用されていたのを、両方適用されるように变更しました（硬汉人狼が優先されます）。(a8746d)
  h2 v1.10.1-7(85e8d46;2015-05-23)
  ul
    li.bugfix 间谍が村を去ったと同時に恶女に変化した場合、恶女が能力の対象を选择しても反映されなくなるバグを修正しました。(27a994e)
  h2 v1.10.1-6(f325239;2015-04-28)
  ul
    li.bugfix 人狼系・吸血鬼・妖狐が陷阱师に护卫されたまたは炸弹魔に爆弾を仕掛けられた状态で人狼に襲撃された場合、陷阱师・炸弹魔の効果が発動しないバグを修正しました。(5c0066a)
  h2 v1.10.1-5(2b2f974;2015-03-21)
  ul
    li.bugfix 替身君が决定者などのサブ职业を持った状态で模仿者になり模仿者を模仿者した場合、游戏が停止するバグを修正しました。(932ba98)
    li.bugfix Endless黑暗火锅に途中参加する場合、参加前の昼に参加者と同じログで发言できるバグを修正しました。(97b4c9e)
  h2 v1.10.1-4(2015-03-19)
  ul
    li.change 「女王感戦者」の名字はやはり「女王观战者」が正しかったことが判明したため、「女王观战者」に戻しました。(b21a634)
  h2 v1.10.1-3(73d220a;2015-02-10)
  ul
    li.bugfix 策士が吸血鬼をカウンセリングした場合、その夜に策士が猎人などによって护卫されていた場合策士が死亡しないバグを修正しました。(41318bd)
  h2 v1.10.1-2(f8e82c3;2015-02-01)
  ul
    li.change Endless黑暗火锅に途中参加する場合、部屋の人数の上限に達していても拒绝复活の人がいる場合はその枠に入れるようになりました。(ead3f31)
    li.bugfix Endless黑暗火锅に途中参加した場合头像が表示されないバグを修正しました。(ead3f31)
    li.new 昼間の背景色は評判が悪かったため戻りました。マイページの「色设定」から游戏画面の色を自由に设定できるようになりました。(eea8ea8)
    li.new 拒绝复活を行なった場合ログが出るようにしました（本人と灵界に対して表示）。(4cd711a)
  h2 v1.10.1-1(02a9244;2015-01-31)
  ul
    li.bugfix Endless黑暗火锅で転生人数が多すぎると游戏が停止するバグを修正しました。(943580d)
  h2 v1.10.1(e157944;2015-01-31)
  ul
    li.bugfix Endless黑暗火锅で配置・出现阵营情報が表示されないバグを修正しました。(aa1c03b)
    li.bugfix Endless黑暗火锅で途中参加した人が参加尚未分配の間に发言した場合、ログが全员に見えていたのを观战者にしか見えないように修正しました。(0df7afb)
    li.new 「拒绝复活」機能を追加しました。蘇生を辞退すると死亡した後に蘇生されません。また、猝死した場合は自動的に拒绝复活となります。(6021481)
    li.change 昼間の背景色を变更しました。(d98b6b4)
    li.change Endless黑暗火锅の転生確率を調整しました。(af0f287)
  h2 v1.10.0(8d4b46c;2015-01-30)
  ul
    li.bugfix 替身君が国王の場合投票が2票分にならないバグを修正しました。(c47b058)
    li.bugfix 二重身等が変化した場合职业名の表示がおかしくなることがあるバグを修正しました。(42215b6)
    li.bugfix 替身君が人狼系で他の生存している人狼系が全て孤独的狼の場合、替身君が襲撃せずに猝死するバグを修正しました。(da1492f)
    li.change 孤独的狼が襲撃可能になった後に他の人狼系が襲撃可能な状态になった場合、孤独的狼は襲撃不可能に戻るようになりました。(da1492f)
    li.new 新配置「Endless黑暗火锅」を追加しました。主に游戏性がまだα版です。(232f155)
  h2 v1.9.10-1(79c9b96;2015-01-01)
  ul
    li.bugfix 同じ人に複数の炸弹魔が爆弾を仕掛けてその人が处刑により死亡した場合、1人しか道連れにしないバグを修正しました。(f0ba0d5)
    li.bugfix 「女王观战者」の名称が出典と異なっていたため、「女王感戦者」に变更しました。(ce519fd)
    li.bugfix 怪盗が决定者・权力者になった場合に游戏が停止するバグを修正しました。(a0e8386)
  h2 v1.9.10(4cfde47;2014-12-24)
  ul
    li.new 新职业「炸弹魔」を追加しました。(0727296)
    li.bugfix 弗兰肯斯坦的怪物が面包店を吸収しても面包店として扱われないバグを修正しました。(46da76d)
    li.bugfix 面包店が死亡した後蘇生して再度死亡した場合にそれを知らせるログが出现しないバグを修正しました。(5d42c01)
  h2 v1.9.9-3(a0224b5;2014-12-20)
  ul
    li.bugfix 妖术师が何らかのサブ职业（猎人の护卫・カルトなど）を持った状态で人狼占卜师に占われた場合に游戏進行が停止するバグを修正しました。(49e4e99)
    li.bugfix 襲撃可能な人狼が替身君しかいない状态で、狼之子の効果により2人以上襲撃可能な状态でも替身君が1人しか不袭击バグを修正しました。(366828b)
    li.bugfix 替身君が妖术师になった場合に夜的职业実行を2回行うバグを修正しました。(9c4f98e)
    li.bugfix 骗子が猎人・游荡猎人・犬の护卫を受けている場合に占卜结果が表示されないことがあるバグを修正しました。(5d00239)
  h2 v1.9.9-2(b0dd475;2014-10-28)
  ul
    li.bugfix 黑暗火锅安全性「高」以上で见习占卜师が単独で出现することがあるバグを修正しました。(fd90a88)
  h2 v1.9.9-1(ca43c43;2014-09-23)
  ul
    li.bugfix 看板娘を吸収した弗兰肯斯坦的怪物が人狼に襲われて死亡したときに効果が発動しないバグを修正しました。(b8db251)

  h2 v1.9.9(fd5a544;2014-08-29)
  ul
    li.new 新职业「面包店」を追加しました。(3e65016)
    li.bugfix 碍事的狂人に邪魔された場合の占卜结果のログが正しくないバグを修正しました。(0776baa)
  h2 v1.9.8-2(7610870;2014-08-24)
  ul
    li.bugfix 手调黑暗火锅で配置に「人狼系」を设定しなかった場合、配置に「人狼系1」と表示されるバグを修正しました。(a9eab8c)
  h2 v1.9.8-1(46b7db7;2014-08-08)
  ul
    li.bugfix 弗兰肯斯坦的怪物が老人を吸収した場合、圣职者・巫女の能力で老衰を防げないバグを修正しました。(e377f88)
    li.bugfix 二重身が变态杀人狂を対象选择しても死亡しないバグを修正しました。(2f72f48)
    li.bugfix 弗兰肯斯坦的怪物が闹事者を吸収して能力を使用した場合、その夜に死亡すると能力がキャンセルされるバグを修正しました。(a639ffa)
    li.bugfix 3日目以降に怪诞狂热者が能力を使用できないバグを修正しました。(37e93ee)
  h2 v1.9.8(d77098a;2014-07-26)
  ul
    li.new 期間限定职业「烟火师」を追加しました。(1b67df5)
  h2 v1.9.7-7(2162d20;2014-07-20)
  ul
    li.change 配置「疯狂的世界」の内訳を变更しました。(23ad317)
    li.change 最小开始人数（替身君を含めた人数）を4人から6人に变更しました。(787438a)
  h2 v1.9.7-6(2f4be1f;2014-07-18)
  ul
    li.bugfix 碍事的狂人・咒言师・猎人などの効果が重なった場合、2日以上続くことがあるバグを修正しました。(867176b)
    li.change 女王观战者・狂人狼の安全性高以上での出现確率が1/10になりました。(7166a31)
  h2 v1.9.7-5(b64ac5c;2014-07-13)
  ul
    li.bugfix 替身君が吸血鬼になった場合サーバーが停止するバグを修正しました。(877c010)
    li.bugfix 替身君に恋人等のサブ职业が付加された場合猝死することがあるバグを修正しました。(8264297)
    li.change 配置「疯狂的世界」の内訳を变更しました。(83b0238)
  h2 v1.9.7-4
  ul
    li.change 怪盗に职业を盗まれた場合、恋人などのサブ职业が消滅するように变更しました。(ff607ba)
  h2 v1.9.7-3(0b73490;2014-06-23)
  ul
    li.bugfix 2人以上处刑する場合、1人目の处刑後に游荡猎人がもう护卫できなくなるバグを修正しました。(0ead889)
    li.bugfix 独裁者が变态杀人狂を能力の対象に選んでも死亡しないバグを修正しました。(ef7190b)
    li.bugfix 狂人系が人狼占卜师により帮手に変化した場合に发言や投票ができなくなるバグを修正しました。(670ba4e)

  h2 v1.9.7-2(b556a59;2014-05-25)
  ul
    li.bugfix 恋人が複数組存在して设定「恋人はそれぞれ独立する」がありの場合、恋人胜利のメッセージの人数が間違っているバグを修正しました。(b4377c2)
    li.change 恋人が複数組生存していて设定「恋人はそれぞれ独立する」がありの場合、生存者が全员恋人の場合は恋人胜利で终了するように修正しました。(b4377c2)
  h2 v1.9.7-1(0901f21;2014-04-28)
  ul
    li.bugfix 替身君が人狼占卜师・威吓的狼になった場合猝死するバグを修正しました。(f8fa062)
    li.bugfix 替身君が陷阱师・吸血鬼になった場合猝死することがあるバグを修正しました。(dedaa5f)
    li.bugfix 替身君が狼少年になった場合、各职业が正常に動作しないことがあるバグを修正しました。(fde4998)
    li.bugfix 死亡すると同時に职业が変化した場合、死亡しなかったことになることがあるバグを修正しました。(4d9a29c)
    li.change 「黑暗火锅安全性」の「超（β）」が「超（β2）」になりました。(0663da5)
    li.change 商人が1日目の夜に能力を使用できないように变更しました（出典元に合わせた修正）。(d3f50b5)
    li.new 「黑暗火锅安全性」に「走召（α）」を追加しました。超とどちらが上なのかよくわかりません。(3ddea03)
    li.new 帮手時に帮手先に表示されている各種情報（仲間の狼・女王观战者など）が帮手にも表示されるようになりました。(e2150e6)
  h2 v1.9.7(a789679;2014-03-11)
  ul
    li.new 新职业「看板娘」「慎重的狼」を追加しました。(7efc238)
    li.bugfix 死亡している变态杀人狂に能力を使用しても能力使用者が死亡しないバグを修正しました。(3ca6def)
  h2 v1.9.6-3(7a06ceb;2014-03-08)
  ul
    li.bugfix 弗兰肯斯坦的怪物が蘇生能力を持つ职业を吸収した場合、弗兰肯斯坦的怪物がまだ生存していても灵界で参加者的职业が見えてしまうことがあるバグを修正しました。(ee02cf1)
  h2 v1.9.6-2(f092a00;2014-03-02)
  ul
    li.bugfix 模仿者・二重身などが职业変化した際に、恋人などのサブ职业が解除されるバグを修正しました。(63285da)
  h2 v1.9.6-1(23c9708;2014-02-21)
  ul
    li.bugfix 策士が一匹狼をカウンセリングしても死なずに更生するバグを修正しました。(1e33174)
    li.bugfix 弗兰肯斯坦的怪物が国王を吸収しても投票が2票分にならないバグを修正しました。(21ec3ce)
    li.bugfix 村人阵营以外の人が商人からセットを受け取った場合に女王观战者を把握できるようになるバグを修正しました。(5ddebbf)
    li.change 咒言师の効果を初日の夜には発動できないように修正しました。(6affba3)
    li.bugfix 孤独的狼が襲撃可能になったときに襲撃ログが表示されない問題を修正しました。(284a7b0)
    li.bugfix 人狼占卜师が狂人系を占ったときにログが正しく表示されないバグを修正しました。(cec9ab4)
    li.bugfix 2回以上恋人・手玉になったときに恋人が全员表示されないバグを修正しました。(0d8b7be)

  h2 v1.9.6(8665618;2014-02-07)
  ul
    li.bugfix 替身君が犬になったときに猝死することがあるバグを修正しました。(338bbb2)
    li.new 新职业「恶女」を追加しました。(3d49e4f)
  h2 v1.9.5-4(f6221d2;2014-02-07)
  ul
    li.bugfix 逃亡者が一匹狼に逃げても死亡しないバグを修正しました。(97fb376)
  h2 v1.9.5-3(7b7f2f6;2014-02-04)
  ul
    li.new 量子人狼に新选项「初日の襲撃」を追加しました。ありにした場合1日目夜にも人狼の襲撃を行います。デフォルトはなしになりました。(8db2c1d)
  h2 v1.9.5-2
  ul
    li.bugfix 占卜师などが变态杀人狂を占った場合に死亡しないことがあるバグを修正しました。(6cadd65)
  h2 v1.9.5-1
  ul
    li.bugfix 小狐・妖术师が妖狐を占った場合呪殺してしまうバグを修正しました。(457e1d9)
    li.change 犬は自己を飼い主にできないように修正しました。(457e1d9)
  h2 v1.9.5(02620ce;2014-01-26)
  ul
    li.new 新职业「怪盗」を追加しました。(98e61cb)
  h2 v1.9.4-9(2014-01-26)
  ul
    li.bugfix 恋人が死亡しているのに恋人胜利で终了することがあるバグを修正しました。(7420b28)
  h2 v1.9.4-8(6fc2b7e;2014-01-24)
  ul
    li.bugfix 人狼占卜师が占卜师を占った場合に人狼占卜师が逆呪殺されなくなっていたバグを修正しました。
    li.bugfix 选项「恋人はそれぞれ独立する」が「あり」の場合に複数組の恋人のうちいずれかが死んでいた場合に残りの恋人が胜利できないバグを修正しました。
  h2 v1.9.4-7(44d18c0;2014-01-22)
  ul
    li.new 黑暗火锅安全性に「逆（α）」が追加されました。バランスの悪さを目指します。(023ae1d)
  h2 v1.9.4-6(4f7b401;2014-01-21)
  ul
    li.change 恶魔の灵能结果が「村人」だったのを、原典に合わせて「人狼」に修正しました。(e365388)
    li.change 策士が1日目夜から能力使用可能だったのを、原典にあわせて2日目夜からに修正しました。(e365388)
    li.bugfix 替身君が逃亡者だった場合1日目夜に替身君が死亡しないバグを修正しました。(e365388)
    li.change 黑暗火锅安全性の「超（α）」は「超（β）」に变更されました。(e365388)
    li.change <a href="/manual/prohibited">禁止行為</a>が一部修正されました。(6697783)
  h2 v1.9.4-5(4c7da28;2014-01-19)
  ul
    li.bugfix 陷阱师に守られていた人が死んだ場合游戏進行が停止することがあるバグを修正しました。(231d692)
    li.new <a href="/manual/prohibited">禁止行為</a>が定められました。(dbf105a)
  h2 v1.9.4-4(4e0204f;2014-01-02)
  ul
    li.bugfix 闹事者が能力を使用した夜に死んだ場合、能力が無効になるバグを修正しました。(3e41489)
    li.new 新しい选项「恋人はそれぞれ独立する」を追加しました。「あり」の場合、恋人が複数組発生した場合に後追い判定がカップルごとに独立します。また、恋人から他のカップルの恋人が分からなくなります。(2d385fb)
  h2 v1.9.4-3(ae50850;2014-01-02)
  ul
    li.change 「规则」ボタンの表示を改良しました。(e78946f)
  h2 v1.9.4-2(8d59445;2013-12-29)
  ul
    li.bugfix 夜の能力発動で死んだ职业の能力が発動しないことがあるバグを修正しました。(51743dc)
  h2 v1.9.4-1(5104f87;2013-12-28)
  ul
    li.bugfix 占卜结果「立刻知道」で人狼占卜师が占卜师を占った場合、翌朝になる前に死亡するバグを修正しました。(38482c8)
    li.new 黑暗火锅安全性に「超(α)」を追加しました。「高」以上にバランスのいい配置を行いますが、まだ実験段階の機能となっています。(eff95e8)
  h2 v1.9.4(35a4f34;2013-12-24)
  ul
    li.new 期間限定职业「圣诞老人」を追加しました。(e1a5f43)
  h2 v1.9.3-1(920922f;2013-12-22)
  ul
    li.bugfix 魔女が蘇生薬・毒薬を使用した状況によって、次に薬を使用したときに違う種類の薬が使われることがあるバグを修正しました。(0be9aee)
    li.change 猝死した人は勝敗判定が常に「败北」になるように修正しました。(8d4c8c3)
  h2 v1.9.3(6a3b5d8;2013-12-17)
  ul
    li.new 新职业「变态杀人狂」を追加しました。(aec741c)
    li.change 「身代わり安全性」がありの場合、替身君が贵族・求爱者にならないように变更しました。(a285080)
    li.new 称号を120種類追加しました。(85e4e5f)
  h2 v1.9.2(0ab80dd;2013-12-16)
  ul
    li.new 「ミラーズホロウの人狼」から新しい选项「决胜投票」を追加しました。「なし」の場合は従来通りの動作です。「重新投票」にした場合は重新投票時に候補者が上位のみになります。「常に行う」にした場合は投票後に必ず上位の候補者のみの决胜投票が行われます。(7bbacc4)
    li.new 新职业「国王」を追加しました。(0b5677b)
    li.new 灵界で职业か見えるかどうかの选项名を「灵界表示」に变更し、选择肢を「あり」「なし」から「常にあり」・「あり」（デフォルト）・「なし」の3段階に变更しました。「あり」は誰かが蘇生する可能性がある場合のみ表示しません（游戏中でも、蘇生可能性が無くなった場合表示されるようになります）。「常にあり」では蘇生职业があっても职业などを表示します。また、これに伴って、黑暗火锅で蘇生职业が出现した場合に「蘇生职业が存在するため「蘇生职业が存在するので、天国から职业が見られなくなりました。」というメッセージは出现しないようになりました。(502222e)
  h2 v1.9.1-2(734377f;2013-12-15)
  ul
    li.bugfix 威吓的狼に威嚇された人が商品から荷物を受け取ったり圣职者に护卫されたり教会信者になったりした場合にその後ずっと能力が使用できなくなるバグを修正しました。(d8bfab2)
  h2 v1.9.1-1(bab1863;2013-12-07)
  ul
    li.new 新职业「弗兰肯斯坦的怪物」を追加しました。(4e394d7)
  h2 v1.9.1(9b53e31;2013-12-07)
  ul
    li.new 新职业「碍事的狂人」を追加しました。(55586db)
    li.new 新职业「闹事者」を追加しました。(a57b4b5)
    li.bugfix 陷阱师に守られた职业の能力が発動しないことがあるバグを修正しました。(7843743)
    li.change 被诅咒者が吸血鬼に襲われた場合に吸血鬼に変化するように修正しました。(ba9112b)
  h2 v1.9.0(7ebfcdb;2013-12-03)
  ul
    li.new 新职业「游荡猎人」を追加しました。(44919bb)
    li.bugfix 恋人・背德者などが後追いで死亡する場合で、2連鎖目以上の場合死亡しないことがあるバグを修正しました。(1b281e3)
    li.change 黑暗火锅安全性が中以上の場合に、配置の人狼の数がより安定するように修正しました。(2bfa2ec)
  h2 v1.8.9-2(389afc5;2013-11-30)
  ul
    li.bugfix 贪婪的狼・硬汉人狼が能力をした場合に、その夜だけでなく次以降の夜にも効果が継続するバグを修正しました。(5da7967)
    li.bugfix 小狐が妖狐を占った時に呪殺してしまうバグを修正しました。(5da7967)
    li.new 量子人狼で夜の長さが1分より長い場合は注意を表示するようになりました。(8f10acc)
  h2 v1.8.9-1(c55bab4;2013-11-26)
  ul
    li.bugfix 模仿者や二重身が2日目以降に怪诞狂热者・跟踪狂・丘比特・无赖・魅惑的女狼に変化した際に、対象选择できなかったり猝死したりするバグを修正しました。(c5a251d)
    li.change 逃亡者の能力使用先が吸血鬼に襲われたときに、逃亡者が死ななかったのを死ぬように修正しました。(222d9ea)
  h2 v1.8.9(d44e993;2013-11-26)
  ul
    li.change マイページの战绩展示および黑暗火锅の阵营表示において、蝙蝠の阵营を「蝙蝠」から「其他」に、吸血鬼の阵营を「其他」から「吸血鬼阵营」に变更しました。(531994d)
    li.change 逃亡者が吸血鬼の襲撃および魔女の毒薬の対象になったときの動作を、「死ぬ」から「死なない」に变更しました。これに加えて人狼に襲撃されても死にませんが、其他の要因では死亡します。(facfe1a)
    li.change 逃亡者・策士が猎人または陷阱师に护卫されている状态で能力の対象に人狼を选择した場合の動作が、「死なない」だったのを「死ぬ」に修正しました。(facfe1a)
    li.change 逃亡者・策士が狂人狼を対象に选择した場合の動作を「死ぬ」から「死なない」に变更しました。(7ea3146)
    li.bugfix 占卜结果が「立刻知道」の设定のときに占卜师が妖狐を占った場合に、夜明けに死亡ログが出る前に灵界に移動するバグを修正しました。(b9559a4)
    li.bugfix 咒言师に呪いをかけられた人が、次の日になっても发言できないままになるバグを修正しました。(adf1e63)
    li.change 吸血鬼・死亡笔记・魔女が1日目の夜に能力を発動できないように修正しました。また、贪婪的狼が1人目の対象选择した後に欲張る能力を発動できないバグを修正しました。(f774e74,f609fdc)
    li.bugfix 人狼占卜师が商人から占卜套装を受け取った場合に、対象选择画面がわかりにくい問題を改善しました。(68b3d44)
    li.change 黑暗火锅安全性中以上で、占卜师・猎人が出现する確率が上昇しました。さらに、狂人狼が出现する場合必ず狂人系职业も出现するようになりました。また、黑暗火锅安全性高以上で女王观战者が2人以上出现しないようになりました。(ca3411a)
    li.bugfix 硬汉人狼が能力を発動して圣职者に守られた人を襲った場合に、死なないままチャットが灵界に移動して昼に投票もできなくなるバグを修正しました。(86b6b9e)
    li.change 猎人・陷阱师が吸血鬼の襲撃を守れるように变更しました。陷阱师に护卫されている人を吸血鬼が襲った場合、その吸血鬼が死にます。(7325719)
    li.change 吸血鬼が埋毒者・猫又を襲った場合の動作を、「全员からランダムに一人毒で死ぬ」から「その吸血鬼が毒で死ぬ」变更しました。(7325719)
    li.new 量子人狼に「死亡率を表示しない」选项を追加しました。(0e02ce2)
    li.new 称号に使用できる助詞「だ」「ぜ」「ん」を追加しました。(aee8e9f)
    li.new マイページの战绩展示で表示した详细情報を隠すことができるようになりました。(aee8e9f)
  h2 v1.8.8 (ce32693; 2013-11-23)
  p これより前の更新履歴はありません。（書いていなかったので）

