section.manual
  h1 期间活动·弹丸论破
  p 喂喂，试一试音，试一试音
  p 听到了吗
  p 各位，自我介绍一下，我就是受到全世界爱戴的，希望之峰学园长黑白熊，呜噗噗噗噗，很惊讶吧
  p 我想你们最近也注意到了，在这个平凡的「月下人狼」，村子里，出现了一个名为「弹丸论破」的主题房间
  p 一些心急的孩子们已经迫不及待的走了进去，唔噗噗噗，会发生些什么呢？
  p 
  p: b残念，什么都不会发生！
  p 
  p 因为，这个充满了喜悦悲伤感动愤怒惊喜失落的房间，还没有完成呢！
  p 唔噗噗噗，现在只是打个招呼而已，说不定明天这个房间又消失了kuma
  p 
  p 等正式开幕之后，我会作为校长，为各位举行一个盛～～～大的欢迎仪式哦，相信不久之后，我们就能再见了，而且作为校长，也会各位准备丰富的奖品的！
  p 
  p 尤其是为了让世界陷入绝望的精英们，会好好奖励你们的，唔噗噗噗噗
  p 
  p .......
  p 
  p 
  p 哦差点忘了，或许有些村人们还未听说过「弹丸论破」这个作品呢，我的帅气的样子，有些人还从来没见过呢，真是残念，简直是残念一生的事情啊！
  p 
  p 那么在装修完毕之前的这段时间，你们就好好的(再一次)欣赏一下，这让全世界变得无比美丽动人，变得光彩夺目的，名为<b>「绝望」</b>的英姿吧！
  p 
  p 记得按顺序哟～
  p: a(href="http://www.bilibili.com/video/av5529968/")第一作游戏视频
  p: a(href="http://www.aixifan.com/v/ac824018")第二作游戏视频
  p 
  p では、また！