section.manual
  p: a(href="/manual") 返回
  h1 這個人狼的特徵
  
  h2 即時性
  p 這個人狼不論在哪個瀏覽器都能遊玩，並且有著<strong>完全即時</strong>的特徵。
  p 所謂的即時並不是指遊戲中的日夜對應著現實的日夜那種所謂的長期人狼，而是<strong>不需要更新在誰發言的這個瞬間全體便會立刻接收到</strong>這樣。
  p 這個是透過和之前的CGI完全不同的新技術(WebSocket)來實現的。
  p 因此，可以在不用等待自動更新或費工夫地按下更新按鈕的情況下愉快地享受人狼吧。因為即時技術，也不會為伺服器和玩家帶來高負荷。
  
  h2 註冊制
  p 這個人狼採<strong>註冊制</strong>。玩家註冊後才能參加人狼。玩家註冊必須輸入<b>帳號ID</b>與<b>密碼</b>才能進行。
  p 註冊後就不能修改帳號，基本上參加村莊的情況下帳號ID是公開的，名稱也是直接使用帳號ID（名稱可以另外修改）。
  p 但是，也有不公開帳號ID並且於參加時另外決定名稱的<b>匿名</b>模式。

  h2 豐富的職業
  p
    | 現在有
    b#number_of_jobs ???
    | 個職業可供使用。
  p 除了標準的職業以外，也實裝了來自各式各樣版本的人狼的特殊職業。
  p: a(href="/manual/joblist") 職業一覽
  
  h2 高自由度
  p 這個人狼，除了標準的配置以外還能使用<strong>自由配置</strong>，可以自行組合各式各樣的職業來進行想要的村莊。
  p 另外，也有<strong>闇鍋</strong>。
  p 其他方面，也可以進行<strong>詳細的規則設定</strong>。
  h3 規則設定的例子
  ul
    li 跟人數無關，可以設定<b>決定者</b>・<b>權力者</b>為ON/OFF。
    li 可以選擇是否加入<b>死神的筆記</b>・究極的人狼的<b>狼的部下</b>・<b>喝醉</b>。
    li 可以選擇<b>替身君</b>（初日犠牲者）為ON/OFF。
    li 可以以秒為單位設定日・夜的時間。
    li 可以設定<b>遺言</b>為ON/OFF。
    li 可以設定人狼的遠吠聲・共有者的悄悄話是否要讓其他玩家聽見。
    li 占卜結果・靈能結果可以設定夜晚顯示或早晨顯示。
    li <b>戀人陣營</b>的勝利條件可以選擇「結束時生存」和「結束時僅有戀人生存」2種。
    li 可以使用來自究極的人狼的<b>GM靈能</b>（靈能結果公開給全體得知）。
    li 可以選擇是否使用<b>15秒規則</b>，還可以更改以秒為單位的時間。
    li 可以使用<b>敗北村</b>。
    li 可以玩<a href="/manual/quantumwerewolf">量子人狼</a>。
  p 其他，請參閱<a href="/manual/spec">這個人狼的設定</a>。
