section.manual
  p: a(href="/manual") 返回
  h1 關於登入
  p 要參與本人狼伺服器的遊戲，需要您<b>註冊帳號</b>。
  p 註冊帳號之後能夠提升遊戲的安全性，並且便於管理<strong>稱號</strong>系統。
  p 用戶必須使用<b>帳號</b>與<b>密碼</b>進行登入。
  
  h2 如果您已經註冊
  p 請在「登入」表單中輸入您的帳號和密碼，以加入遊戲。
  
  h2 如果您尚未註冊
  p 立刻完成註冊，您即可加入遊戲享受「紫月人狼」的樂趣。
  p 請在「註冊」表單中輸入您想要使用的帳號、密碼，進行註冊。帳號只能使用半形英數字，一旦註冊成功，帳號將不能改變。
  p 然後設定一個名稱與頭像（頭像是可選的），即可完成註冊加入遊戲。