section.manual
  p: a(href="/manual/play") 返回
  h1 遊戲開始後的流程
  p 現在說明遊戲的流程。
  p 月下人狼這個遊戲，在進行遊戲的時候<strong>不必手動重新整理網頁</strong>。他人的發言可以實時在頁面上顯示，日夜的切換也是全員同時進行。
  p 遊戲從第一天夜裡開始，之後則反覆進行日夜交替。

  h2 日
  p 白天用於對話和投票處刑。雖然在對話中隨時可以進行處刑投票，但請注意<strong>一旦投完票就無法反悔</strong>，所以建議還是先通過對話來尋找線索。
  p
    img(src="/images/manual-play-game-1.png",alt="白天的投票・發言框體")
  p 白天的發言框體如上圖所示。上方是處刑投票用的框體，投票時先選好要投票的對象，而後點擊「投票」按鈕。
  p 下方則是發言框體，夜間也可以使用。
  p 在顯示著「普通」的下拉框中可以選擇「小聲」、「普通」、「大聲」來選擇發言字體。想要吸引他人注意，或發表重要言論時，可以選擇大聲。
  p 在旁邊的「向全體發言」下拉框中，可以選擇發言的種類。如果是白天，可以選擇向全員發言的「向全體發言」或者只有自己能看見的「自言自語」。結束遊戲了的人也可以看見自言自語，在這裡抒發本心的話也能為看見的人增加一些樂趣吧。
  p 如勾選「複數行」復選框，則發言時可以輸入複數行。
  p 右側的「日 5:23」表示的是現在的狀態（日/夜）及剩餘時間。圖中文字表示的是，白天的對話時間還有5分23秒就要結束。
  p 再右側的「<b>遺言</b>」按鈕，只有當想要設定遺言的時候才使用。所謂遺言，指的是玩家被處刑或被襲殺時留下的信息。玩家活著的時候，任何時候都可以修改遺言。
  p 點擊遺言按鈕，頁面會顯示編輯遺言的文字欄，編輯完畢後點擊「確定」，文字欄會自動關閉。
  p 再右側的「<b>規則</b>」按鈕，可用來顯示本局遊戲的角色一覽，以及其他規則信息。
  p 最末尾的「全部」下拉框，則可以用來篩選對話記錄。
  p 對話記錄可以按日篩選，如果只看今天的對話可以選「今日」。
  hr
  p
    img(src="/images/manual-play-game-2.png",alt="投票後的框體")
  p 投票後，界面上會顯示類似圖中的綠色記錄，玩家的投票記錄<strong>只有自己能看見</strong>所以不必擔心暴露。
  p 投票完畢後，上方的投票框體會被隱藏。
  p 白天結束時，如果存在還未投票的人，系統會進入猶豫時間。猶豫時間中，玩家不能發言、只能投票。如果猶豫時間結束時仍沒有投票的人會<strong>暴斃死</strong>。因為暴斃死<strong>非常不可取</strong>所以請盡量避免。

  h2 夜
  p 全員投票結束後，得票最高的人會被處刑，而後遊戲會切換到夜間。
  p 在夜晚，人狼們可以互相對話，占卜師和獵人等夜間可以使用能力的人也可以選擇對象並使用能力。
  p
    img(src="/images/manual-play-game-3.png",alt="獵人在夜晚的界面")
  p 上圖表示了獵人在夜晚的界面。在原本顯示投票框體的地方顯示了護衛框體。此外，夜間的發言框體也有所變化，人狼及共有者以外的玩家只能選擇「自言自語」。自言自語<strong>不會被別人看見</strong>。可以把自己的推理寫上去，而後回過頭來對照。
  p 發動能力時，界面上會顯示類似圖中的紅色記錄，因為這也<strong>不會被別人看見</strong>所以敬請安心。
  p
    img(src="/images/manual-play-game-4.png",alt="人狼在夜晚的界面")
  p 上圖表示了人狼在夜晚的界面。人狼可以選擇要襲擊的人，但不管有幾頭人狼，只有最手最快的人狼可以選擇成功，所以還請人狼們通過對話來確定要襲擊的對象。
  p 人狼除了自言自語，還可以選擇「人狼的對話」，與其他人狼進行對話。人狼間的對話，就如下圖所示，對於人狼以外的玩家，都會用「嗷嗚——」來進行打碼，不會被看見具體內容。
  p
    img(src="/images/manual-play-game-5.png",alt="村人在夜晚的界面",title="※不要欺騙村人")
  h2 靈界
  p
    img(src="/images/manual-play-game-6.png",alt="靈界的界面")
  p 如上圖所示，被處刑或被襲殺的人會進入被稱為<b>靈界</b>的場所。
  p 在靈界中的玩家可以看見全部人的角色和對話，隨意觀戰。此外，靈界中的發言只能被同樣在靈界中的人看見，所以可以安心對話。
  h2 遊戲結束後
  p 隨著日夜不斷交替，玩家的人數也逐漸減少，直到遊戲結束。遊戲結束後，全部人都可以像已在靈界中的玩家一樣，看見全員的職業和發言，也可以從頭查看全部的遊戲記錄。
  p 此時，「以相同設定建立新房間」按鈕會出現在全員的界面中。如果點擊此按鈕，則會以相同的設定建立下一個房間，只是，房間的名字需要另起一個。新建房間後，仍可以修改遊戲的設定。另外請大家不要重複建太多房間，要建房間的人事先向大家說明一下。建房間的方法，請參考<a href="play-owner">房主指南</a>。
  h2 如果出現異常
  p 本遊戲中，基本不需要手動重新整理網頁，但偶爾會發生計數器故障導致的異常。比如，若是發現別人的發言都被重複了2次、或者日夜倒計時為0但界面不自動切換時，<strong>請點擊瀏覽器的重新整理按鈕</strong>或者<strong>按下F5按鈕</strong>以<strong>重新整理頁面</strong>的方法來解決問題。