section.manual
  p: a(href="/play") 返回
  h1 房主的流程
  p 在這邊說明建立新房間的流程。

  h2 建立新房間
  p <a href="/rooms">房間一覽</a>的頁面下方有<a href="/newroom">新房間</a>的連結，點擊後會到達新房間設定頁面。
  h3 輸入房間的設定
  p 「房間的名稱」，請輸入新房間的名稱。
  p 「密碼」打勾且輸入的話，在進入房間時不輸入這個密碼就不能進入。在建立私人村的情況下很方便。若希望誰都能進入的話請不要勾選並輸入。<strong>關於有密碼的房間，在結束後也會公開給全體</strong>。請不要在房間內寫出個人資訊。
  p 「附註」是在房間一覽中會顯示的短語，可以留空。
  p 「人數」是<strong>最大人數</strong>。就算沒有聚集滿這個數量也能開始遊戲。但是，最少需要4個人。
  p 「匿名」開啟的話<strong>在進房的時候需要決定名稱，並且隱藏參加者的帳號ID</strong>。可以在不知道誰是誰的狀態下進行人狼。關閉的情況下，因為帳號ID會公開，也會用其設定的名稱，所以可以知道誰是誰。
  p 「GM」開啟的話<strong>房主會成為GM</strong>。GM（遊戲主持人）不會參加遊戲。遊戲中可以確認所有人的職業和發言，並且可以對個人發送訊息。
  h3 房間的建立
  p 其他的設定，在建立房間後才會進行。
  p 以上的設定都完成後，按下「建立」按鈕來建立房間。按下建立房間後，會自動移動到新的房間。

  h2 房間建立後
  p
    img(src="/images/manual-play-owner-1.png",alt="建立房間之後的房主的情況的圖像")
  p 房主會有「參加遊戲」「開啟遊戲開始畫面」「參加者剔除」「廢棄房間」按鈕。除了「參加遊戲」以外都是房主專用。
  p 按下「參加遊戲」就會成為參加者。關於匿名的房間，則是會在這個時後跳出決定名稱的輸入欄位。
  p 參加遊戲後，作為取代「參加遊戲」會變為「離開遊戲」「準備完畢/準備中」「助手」3個按鈕。這部分和房主以外的人一樣，詳細請參閱<a href="play-other">房主以外的流程</a>。
  h3 配置設定
  p 按下「開啟遊戲開始畫面」後，會出現規則設定畫面（最初から出ているときもあります）。
  p
    img(src="/images/manual-play-owner-3.png",alt="規則設定畫面")
  p 設定規則後，按下「開始」按鈕就會開始遊戲。
  p 「現在的人數:」這行，是顯示以現在的參加者的人數，會產生的該人數的<b>配置</b>（各職業的人數）。
  p 要變更配置的情況下，在下面的「職業」選單中變更
  p 配置方面，有一般人狼所使用的「普通1」和「普通2」「普通3」，要使用特殊職業的情況下也可以選擇其他特殊配置。
  h4 自由配置
  p 若選擇在選單下方的<b>特殊規則</b>內的<strong>自由配置</strong>的話，就可以完全自由決定配置，紫月人狼的全部職業選項都會出現。
  p 村人的數量會是參加者的人數減掉其他分配的職業的數量後餘下的數。要是村人的數量成為負的就代表參加者不夠，這樣這個配置就不能夠開始。
  h4 闇鍋
  p 另外，<strong>闇鍋</strong>是隨機決定配置的模式。選擇闇鍋的話會出現「闇鍋」選項。
  p 在闇鍋若一個人狼都沒有也會感到困擾的吧，所以闇鍋選項中可以設定人狼的數量，請根據人數恰當地設定吧。另外，妖狐的數量也能設定。
  p 其下方的選項，是公開職業配置的設定。「公開職業一覽」是在遊戲開始後，會公開所有有出現的隨機分配的職業，透過「規則」按鈕能參閱。「公開陣營的數」是公開村人陣營，人狼陣營（人狼及狂人等），妖狐陣營等的各自數量。若是「不公開」的話就不會有任何訊息。
  h4 追加要素的設定
  p 其下方的「決定者」「権力者」「死神的筆記」「狼的部下」「喝醉」選項，是可以使用的追加要素。一般人狼基本上不會使用。
  dl
    dt 決定者
    dd 從參加者挑選一人成為「決定者」（本人不會知道）。白天的處刑投票同數的情況下，決定者的投票對象優先處刑。
    dt 權力者
    dd 從參加者挑選一人成為「權力者」（本人會知道）。白天的處刑投票，權力者的票數為2票。
    dt 死神的筆記
    dd 每晚，參加者任一人會獲得死神的筆記（死亡筆記）。擁有死神的筆記的人，可以任意挑選一人殺害。
    dt 狼的部下
    dd 第一天的夜晚，人狼陣營的其中一人，會獲得從其他參加者中選擇成為狼的部下的權利。 被選為狼的部下的人，能力不會變動但會成為人狼陣營。
    dt 喝醉
    dd 參加者當中任一人會「喝醉」。喝醉的人，直到第2天的夜晚都會以為自己的職業是「村人」，如果真正身分是占卜師之類的也不會發動能力。第3天才會酒醒。

  h3 規則的設定
  p 接下來「規則」欄位可以設定各種規則。
  h4 替身君的設定
  p 「第一天夜」的部分，可以進行關於<strong>替身君</strong>（初日犠牲者）設定。
  p 人狼在第一天夜晚就會開始襲擊，第一天夜晚就被襲擊的人，什麼都還沒玩到就死亡了，好像太可憐了，<strong>替身君</strong>就是為此替代而死的NPC。是網路人狼一般都會有的設定。
  p 設定為「替身君死亡」的話，會使用替身君。
  p 設定為「參加者死亡」的話，不使用替身君，參加者任一人會從第一天就死亡。
  p 設定為「誰都不會死」的話，雖然不使用替身君，不過，第一天夜晚人狼也不能襲擊。就結果上和「替身君死亡」是差不多的，一般來講都會使用前者。

  h4 時間的設定
  p 接下來可以設定「日」「夜」「猶豫」的時間。
  p 「日」是白天討論的時間。這個時間內可以進行討論和投票。
  p 「夜」是人狼討論的時間。這個時間內可以進行能力對象的選擇。
  p 「猶豫」是白天與夜晚時間結束後選擇投票和能力對象的猶豫時間。設定為0的話就沒有猶豫時間。這個時間內不能討論。

  h4 其他的設定
  p 在其下方，還有更多其他詳細的設定。若要遊玩一般的人狼，基本上是不用理會的。如果講究詳細的設定的話還請研究。
  p 各設定的說明，只要將鼠標停留在其上面就會顯示。另外，根據所使用的職業可設定的項目也會增減。
  h2 遊戲開始
  p
    img(src="/images/manual-play-owner-2.png",alt="全體皆[ready]的狀態")
  p 設定遊戲後就可以開始遊戲了。
  p 各參加者（包含房主）按下<b>準備完畢/準備中</b>按鈕後，名稱下方會顯示<b>[ready]</b>標誌。有這個標誌的話，就代表這個人已經做好遊戲開始的準備了。只要再次按下按鈕就會解除這個標誌。只要大家都有<b>[ready]</b>標誌，按下「開始」按鈕後就會開始遊戲。
  p 或許會有進入房間但沒有<b>[ready]</b>標誌的人，這個時後透過「參加者剔除」按鈕就可以讓該玩家強制離開了。
  p 另外，參加者太少沒辦法在這個房間進行人狼的情況下，可以按下「廢棄房間」進行廢村處理。不玩人狼的時候請務必將房間結束掉。

  h2 遊戲開始後
  p 請參閱<a href="play-game">遊戲中的過程</a>。

