section.manual
  p: a(href="/manual/play") 返回
  h1 房主以外的操作流程
  p 接下来介绍如何加入已经建好的房间。

  h2 查找房间
  p 在<a href="/rooms">房间一览</a>里，会列出现存的房间。状态显示为「募集中」的房间，即为可以加入的房间。
  p <img src="/images/lock.png" alt="锁">小锁的标志表示房间被加密，需要密码才能加入。<strong>即使对房间加密了，在游戏结束后也会像全员公开，请注意保护您的自身隐私。</strong>
  p <img src="/images/blind.png" alt="匿名模式">带有这个标志表示这个房间是<b>匿名模式</b>的。一般的房间，是以注册时的ID与<a href="/my">个人页面</a>中设置的昵称加入的；而匿名房间是以随机生成的ID与临时决定的昵称加入的，玩家之间不能凭此互相辨别。
  p <img src="/images/gm.png" alt="GM">这个标志表示这个房间里有GM。GM不会加入游戏，能够看到游戏中的所有信息，可以在游戏进行中向任何人发言（例如，向新人解说规则）。
  p 点击房间名的链接即可加入房间，但是此时<strong>尚未加入游戏</strong>，因此可以任意的加入房间。

  h3 加入游戏前
  p 加入房间后的初始状态是以观战者的身份旁观游戏。不需要加入游戏即可发言。
  p 点击「加入游戏」的按钮即可加入游戏。匿名模式的房间还需要输入一个昵称。
  h3 加入游戏后
  p 加入游戏后，会显示「退出游戏」「准备/取消准备」「帮手」三个按钮。
  p 点击「退出游戏」即可退出游戏。
  p 点击「准备/取消准备」后，参加者一览中自己的名字下方将会显示<b>[ready]</b>的标志。到此为止，游戏开始前的准备工作就结束了。房主在全员<b>[ready]</b>之前无法开始游戏，如果准备好了，请及时<b>[ready]</b>。
  p 由于<b>[ready]</b>游戏随时可能开始，请保持您的注意力集中不要离开页面。如果确有必要，请务必取消<b>[ready]</b>。
  p 点击「帮手」后，自己即可成为某人的<b>帮手</b>。帮手不能加入游戏，是向某个参与者提供建议的角色。
  p 帮手在游戏进行过程中，可以共享帮助对象的视野，并且发言只有帮助的对象一个人能够看到。被帮助的人通过自言自语即可与帮手达成会话。
  p 希望取消帮手身份时，请再点击一次「帮手」按钮，然后点击取消。
  p 变成帮手的人会持有<b>[帮手]</b>标志。请注意，变成帮手后仍然需要<b>[ready]</b>。

  h3 游戏开始后
  p <b>[ready]</b>后稍待片刻，房主即可开始游戏。游戏开始后的事项，请查看<a href="play-game">游戏开始后的流程</a>。
