section.manual
  p: a(href="/play") 返回
  h1 房主以外的流程
  p 在這邊說明已經有房間的參加流程。

  h2 尋找房間
  p <a href="/rooms">房間一覽</a>中，會顯示現在存在的房間一覽。狀態為「募集中」的房間，就是可以參加的房間。
  p <img src="/images/lock.png" alt="鑰匙">附有鑰匙標誌的房間是有密碼的房間，進入時需要輸入密碼。<strong>有密碼的房間，在結束後會公開給全體。</strong>
  p <img src="/images/blind.png" alt="匿名">這個標誌代表這是<b>匿名</b>的房間。一般的房間，會使用註冊時設定的帳號ID或自行設定的顯示名稱來參加房間。但是關於匿名的房間，名稱是在進入時決定的，也不會公開帳號ID，無法得知誰是誰。
  p <img src="/images/gm.png" alt="GM">這個標誌代表這個房間是有GM的房間。GM是不參加遊戲僅關注著遊戲動向的人。
  p 點擊房間名稱的連結就會進入房間頁面，<strong>但是這還不代表您已經參加遊戲</strong>，所以可以放心地點開來看。

  h3 參加遊戲
  p 打開房間後最初是以觀戰者的身分來觀看房間。即使沒參加遊戲，也可以進行發言。
  p 會顯示「參加遊戲」按鈕，按下的話就會參加遊戲。匿名的情況下會要您輸入名稱。
  h3 參加遊戲之後
  p 參加遊戲之後，會顯示「離開遊戲」「準備完畢/準備中」「助手」共3個按鈕。
  p 「離開遊戲」按鈕按下之後會從參加狀態下離開。
  p 「準備完畢/準備中」按鈕按下之後，參加者一覧的自己的名稱下方會顯示<b>[ready]</b>標誌。代表您做好遊戲開始的準備。房主需要大家都有<b>[ready]</b>標誌才能開始遊戲，所以請記得<b>[ready]</b>。
  p <b>[ready]</b>之後到遊戲開始前，請不要移開您的眼睛，若不得不離開的話，請記得解除<b>[ready]</b>。
  p 「助手」按鈕按下後自己會成為<b>助手</b>。助手並不會參加遊戲，而是陪同其他任一人給予指導的角色。
  p 助手在遊戲中，享有和協助對象一樣的視點，其發言只有協助對象能看見，協助對象可以透過自言自語，跟助手進行交談。
  p 欲解除助手身分，只要再按下一次「助手」按鈕後點擊關閉即可。
  p 擁有助手身分的人其名稱下方會有<b>[helper]</b>標誌。另外助手也是需要<b>[ready]</b>標誌才能開始遊戲的還請注意。

  h3 遊戲開始後
  p 在<b>[ready]</b>狀態下慢慢等待，房主之後會開始遊戲的。關於遊戲開始之後，請參閱<a href="play-game">遊戲中的流程</a>。
