section.manual
  p: a(href="/manual") 返回
  h1 遊戲方式
  p 這個頁面是解說紫月人狼的遊戲方式。
  p 關於人狼的基本規則請參閱<a href="/manual/rule">這裡</a>。
  
  h2 註冊
  p 這個伺服器採<b>玩家註冊</b>的方式來參加遊戲。在<a href="/">首頁</a>可以進行註冊。
  p 為了註冊，必須輸入帳號和密碼。
  p 之後，在<a href="/my">個人資訊</a>可以變更顯示的<b>名稱</b>。
  p 這個名稱在參加人狼時會被使用，但ID依然是公開的。另外如果是<b>匿名</b>房間的情況下，在參加時要另外決定名稱且不公開ID。
 
  h2 遊戲進行
  p 為了遊玩人狼，任何人都可以建立<strong>房間</strong>。建立房間的人即為<b>房主</b>，可以設定遊戲的規則並且負責遊戲開始的職位，<strong>但房主並不是GM</strong>（不過，也可以成為GM）。遊戲開始後，和其他玩家一樣是參加者。
  p 如果已經有房間就參加那個房間，如果沒有則建立房間聚集人吧。
  p 到遊戲開始為止的詳細的過程請參照以下頁面。
  ul
    li
      a(href="play-owner") 房主的流程
    li
      a(href="play-other") 房主以外的流程
  
  h2 遊戲開始
  p 請參閱<a href="play-game">遊戲中的流程</a>。
  
  h2 注意
  p 參加人狼之前，請先閱覽過<a href="prohibited">禁止行為</a>。
  p 另外，人狼中的發言是任何人都能看見的（就算是有密碼的房間結束後也會公開），所以請不要透露個人資訊。
  
