section.manual
  p: a(href="/manual") 返回
  h1 禁止行為・注意事項
  p 以下行為由於會妨礙人狼遊戲的正常進行所以被<strong>禁止</strong>。
  p 惡意違反此規則可能會被封鎖（同時禁止該IP）。
  dl
    dt 利敵行為
    dd
      p 利敵行為一般指包括<b>真實狂人</b>（由於這種行為本身的瘋狂不可理喻故稱。例如占卜師co狼）·<b>村騙</b>（村側故意說謊。例如獵人co占）等一切故意的對自己陣營不利的行為。
      p 這些行為由於會誤導同伴，擾亂推理而被禁止。
      p 但是，在遊戲開始前參加者全員同意的情況下，村騙的<b>自定義規則</b>（後述）是可以接受的。
      p: small ※對己方陣營並無不利的村騙不會被禁止。例如最終日PP（Power Play，綁票）時村人假裝人狼的情況，並不會對推理造成困擾也不會對己方陣營產生不利影響，所以不會被禁止。
    
    dt 故意暴斃死
    dd
      p 指的是以讓己方陣營獲得優勢/擾亂遊戲過程為目的而<em>故意暴斃死<em>的行為。
      p 故意或非故意的暴斃死都會對遊戲展開產生非常惡劣的影響，因此惡意暴斃死的行為是被絕對禁止的。
      p 此外，即使是非故意的暴斃死，過度多次暴斃死也可能會被禁止連入伺服器，請注意。
    dt 同時進行多個遊戲
    dd
      p 指的是同時參與兩個以上房間的遊戲的行為。
      p 同時參加多個遊戲會影響自己的思考與發言，對推理產生不利影響，所以基本上是被禁止的。
      p 但，每個人的能力有所不同，如果經過考量確定不會對推理和其他玩家帶來影響的話，那多重遊戲也不是會被硬性禁止的事情。
      p 當在某個房間的角色已經死去只能在靈界觀戰的時候，並不禁止加入其他遊戲。但是出於遊戲禮儀的考慮不建議玩家這樣做。
    dt 在遊戲外討論尚未結束的遊戲
    dd
      p 指的是將遊戲相關的情報通過人狼房間以外的其他手段傳達給其他參加者的行為。
      p 一旦傳遞了並非向全員公開的情報（例如自己的職業），會對推理產生不公正的影響，所以是被禁止的。
      p 此外，在遊戲房間以外交流的信息很難傳達到所有人，也會擾亂參加者的推理過程。
      p 除了直接向參加者傳達信息的行為以外，在SNS等其他參加者可能閱覽到的場所公開的行為也是禁止的。
      p 但是，在確保全員都可以共享到信息的前提下，使用別的交流工具（例如Skype）代替房間聊天來進行白天的討論是可以接受的。
    dt 其他顯著妨礙人狼遊戲進行的行為
    dd
      p 除了上述行為以外，嚴重擾亂遊戲進行的行為也可能會被封鎖。

  p 以下行為由於會讓參與者感到不愉快而被<strong>禁止</strong>。與上述行為同樣有被封鎖的可能。
  dl
    dt 不適當的發言·圖像
    dd
      p 在討論中發表不適宜在公共場合討論的內容，以及使用不適當的頭像的行為，由於會使其他參與者感到不愉快，所以是被禁止的。
    dt 不以進行遊戲為目的建立房間
    dd
      p 這種行為與本人狼伺服器否定了本伺服器作為一個遊戲平台的意義，所以是被禁止的。
      p 具體而言，就是建立房間後立即廢棄、建立房間後一直放置等等的行為。
      p 建立房間後由於沒能湊夠參與者而廢棄的場合不屬於此列。
    dt 要求他人複製系統提示
    dd
      p 這種行為否定了推理的意義，也令人十分不快，所以是被禁止的。
      p 有部分玩家認為只要要求他人複製帶時間的系統提示，就能簡單地辨別co的真偽。
      p 但是首先，是否複製系統提示是他人的自由；其次，如果只靠對方能否提供複雜的信息來判別真偽，這個遊戲就變成了密碼學的對抗，而不是推理對抗；最後，哪怕這樣複雜的信息也並不是不能簡單的偽造的。為了遏制這種風氣，曾經有玩家編寫了能夠偽造所有系統提示的工具（此處不提供）。

  h2 關於<b>自定義規則</b>
  p 每個房間可以自由設定自定義規則。自定義規則指的是上述規則以外的僅適用於當前房間的禁止行為或行動規則。但是，自定義規則不能違反上述的禁止規則。
  p 自定義規則需要在遊戲開始前<strong>通知全體參與者並得到全員同意</strong>。自定義規則可以由參與者合議討論，但是最終由房間建立者決定，並將不同意自定義規則的參與者移出房間。
  
  h2 注意事項
  p 以下行為雖然<strong>不被本伺服器方面禁止</strong>，但是可能會作為自定義規則被禁止。
  p 很多房主開房時會禁止以下行為，所以雖然以下行為不被伺服器方面禁止，但是可能會違反房間的自定義規則，請多加注意。
  p 但是，<strong>以下的舉例並不作為約定俗成的房間自定義規則存在，如果房主有下面的要求，仍應當告知並徵得全員同意。</strong>

  dl
    dt 按照系統提示格式發表信息
    dd
      p 指的是發表占卜結果等信息的時候直接複製系統提示信息來發言的行為。
      p 如果有人捏造了系統提示來獲取他人的輕信，可能會造成不愉快。
      p: small ※捏造信息是對抗中的合理手段，所以並不是禁止行為。
    dt co新人
    dd
      p 指的是白天交流中公開說明或暗示自己是新玩家的行為。
      p 公開表明自己是新人的場合下，會給人造成「這個人不太可能說假話」的印象導致輕信，可能會造成不愉快。
      p: small ※由於並不妨礙遊戲的進行，所以並不作為禁止行為。