section.manual
  p: a(href="/manual") 返回
  h1 禁止行为・注意事项
  p 以下行为由于会破坏其他玩家的愉快心情以及妨碍人狼游戏的正常进行所以被<strong>禁止</strong>。
  p 恶意违反此规则可能会被封号（同时禁止该IP）。
  dl
    dt 利敌行为
    dd
      p 利敌行为一般指包括<b>真实狂人</b>（由于这种行为本身的疯狂不可理喻故称。例如占卜师co狼）·<b>村骗</b>（村侧故意说谎。例如猎人co占）等一切故意的对自己阵营不利的行为。
      p 这些行为由于会误导同伴，扰乱推理而被禁止。
      p 但是，在游戏开始前参加者全员同意的情况下，村骗的<b>自定义规则</b>（后述）是可以接受的。
      p: small ※对己方阵营并无不利的村骗不会被禁止。例如最终日PP（Power Play，绑票）时村人假装人狼的情况，并不会对推理造成困扰也不会对己方阵营产生不利影响，所以不会被禁止。
    
    dt 故意猝死
    dd
      p 指的是以让己方阵营获得优势/扰乱游戏过程为目的而<em>故意猝死<em>的行为。
      p 故意或非故意的猝死都会对游戏展开产生非常恶劣的影响，因此恶意猝死的行为是被绝对禁止的。
      p 此外，即使是非故意的猝死，过度多次猝死也可能会被禁止连入服务器，请注意。
    dt 同时进行多个游戏
    dd
      p 指的是同时参与两个以上房间的游戏的行为。
      p 同时参加多个游戏会影响自己的思考与发言，对推理产生不利影响，所以是被禁止的。
      p 当在某个房间的角色已经死去只能在灵界观战的时候，并不禁止加入其他游戏。但是出于游戏礼仪的考虑不建议玩家这样做。
    dt 在游戏外讨论尚未结束的游戏
    dd
      p 指的是将游戏相关的情报通过人狼房间以外的其他手段传达给其他参加者的行为。
      p 一旦传递了并非向全员公开的情报（例如自己的职业），会对推理产生不公正的影响，所以是被禁止的。
      p 此外，在游戏房间以外交流的信息很难传达到所有人，也会扰乱参加者的推理过程。
      p 除了直接向参加者传达信息的行为以外，在SNS等其他参加者可能阅览到的场所公开的行为也是禁止的。
      p 但是，在确保全员都可以共享到信息的前提下，使用别的交流工具（例如Skype）代替房间聊天来进行白天的讨论是可以接受的。
    dt 除此之外的，可能影响愉快游戏氛围的，或者显著影响游戏进行的行为
    dd
      p 除了上述列举的行为以外，用户如果对游戏进行故意地、持续地妨碍，使游戏难以进行的话，将禁止其接入服务器。

  p 以下行为由于会让参与者感到不愉快而被<strong>禁止</strong>。与上述行为同样有被封号的可能。
  dl
    dt 不适当的发言·图像
    dd
      p 在讨论中发表不适宜在公共场合讨论的内容，以及使用不适当的头像的行为，由于会使其他参与者感到不愉快，所以是被禁止的。
      p 此处的不当内容是指，罗列无意义的文字；向其他玩家发出挑衅、辱骂、骚扰等发言；发布涉及性的或其他敏感内容的图片等行为。
    dt 不以进行游戏为目的建立房间
    dd
      p 这种行为与本人狼服务器否定了本服务器作为一个游戏平台的意义，所以是被禁止的。
      p 具体而言，就是建立房间后立即废弃、建立房间后一直放置等等的行为。
      p 建立房间后由于没能凑够参与者而废弃的场合不属于此列。
    dt 要求他人复制系统提示
    dd
      p 这种行为否定了推理的意义，也令人十分不快，所以是被禁止的。
      p 有部分玩家认为只要要求他人复制带时间的系统提示，就能简单地辨别co的真伪。
      p 但是首先，是否复制系统提示是他人的自由；其次，如果只靠对方能否提供复杂的信息来判别真伪，这个游戏就变成了密码学的对抗，而不是推理对抗；最后，哪怕这样复杂的信息也并不是不能简单的伪造的。为了遏制这种风气，曾经有玩家编写了能够伪造所有系统提示的工具（此处不提供）。
    dt 讨论其他房间内容的行为
    dd
      p 关于已经结束房间的讨论，请放在该房间进行，不要带到其他房间去。在其他房间讨论已经结束的游戏内容对新房间的使用有不利的影响。

    dt 其他助长不当行为的行为
    dd
      p 禁止发表鼓励、煽动其他用户进行禁止行为等的言论和行为，因为这会导致服务器的不安定。
      p 特别是，应避免与发出侮辱性发言的玩家继续对话，因为这从结果而言很可能会促进其发出更多的不当言论。
      p 只是一两句劝诫的话姑且不论，如果与其进行了更多的对话，也可能导致账号被封禁。

  h2 关于<b>自定义规则</b>
  p 每个房间可以自由设定自定义规则。自定义规则指的是上述规则以外的仅适用于当前房间的禁止行为或行动规则。但是，自定义规则不能违反上述的禁止规则。
  p 自定义规则需要在游戏开始前<strong>通知全体参与者并得到全员同意</strong>。自定义规则可以由参与者合议讨论，但是最终由房间建立者决定，并将不同意自定义规则的参与者移出房间。
  
  h2 注意事项
  p 以下行为虽然<strong>不被本服务器方面禁止</strong>，但是可能会作为自定义规则被禁止。
  p 很多房主开房时会禁止以下行为，所以虽然以下行为不被服务器方面禁止，但是可能会违反房间的自定义规则，请多加注意。
  p 但是，<strong>以下的举例并不作为约定俗成的房间自定义规则存在，如果房主有下面的要求，仍应当告知并征得全员同意。</strong>

  dl
    dt 按照系统提示格式发表信息
    dd
      p 指的是发表占卜结果等信息的时候直接复制系统提示信息来发言的行为。
      p 如果有人捏造了系统提示来获取他人的轻信，可能会造成不愉快。
      p: small ※捏造信息是对抗中的合理手段，所以并不是禁止行为。
    dt co新人
    dd
      p 指的是白天交流中公开说明或暗示自己是新玩家的行为。
      p 公开表明自己是新人的场合下，会给人造成「这个人不太可能说假话」的印象导致轻信，可能会造成不愉快。
      p: small ※由于并不妨碍游戏的进行，所以并不作为禁止行为。

  p 本页面由<b>魔法少女智乃</b>提供翻译。
