section.manual
  p: a(href="/manual") 返回
  h1 關於量子人狼
  p 這個伺服器可以玩<strong>量子人狼</strong>。量子人狼的原案為<a href="http://puzzle.cisra.com.au/2008/quantumwerewolf.html" target="_blank">Quantum Werewolf</a>。

  h2 量子人狼的簡介
  p 在量子人狼的遊戲中，登場的職業僅限村人、人狼、占卜師。量子人狼遊戲的參加者處於複述職業疊加的不確定態，僅當參加者死亡的時點，量子波動函數收束，參加者的職業才會被確定。
  p 遊戲中每天都會公佈<b>概率表</b>。概率表會記載各參與者的目前為止是人類·人狼·死亡的概率。
  p 白天投票被處刑的參與者一定會死亡（死亡概率變為100%）。
  p 每天的夜晚，所有占卜師概率不為0的玩家可以選擇占卜對象占卜並獲得結果（同時會影響概率表）。所有人狼概率不為0的玩家可以選擇襲擊對象。被襲擊的對像不會立刻死亡（同時會影響概率表）。

  h2 勝負判定
  p 參加者的職業在死亡時才會被確定。
  p 所有人狼都已確定死亡的場合，遊戲結束，村人側勝利。
  p 同樣，存活的參加者可以確定人狼的場合，人狼人數超過存活者半數的情況下游戲結束，人狼側勝利。
  p 根據各個參與者的選擇情況，遊戲可能會出現矛盾的情況（非常罕見），這種情況下以平局處理。

  h2 如何開始量子人狼
  p 和普通的人狼一樣建立房間後參加 (參閱<a href="play">遊戲方式</a>）。
  p 配置選擇「量子人狼」後，就可以玩量子人狼了。

  h2 設定項目
  p 這個伺服器可以設定以下項目。
  dl
    dt 概率表的顯示方法
    dd 
      p 概率表的表示方法可以選擇以<b>玩家名</b>表示或者以<b>玩家編號</b>表示。原案中的表示方法是以玩家編號表示。
      p 以玩家編號表示的情況下，每個玩家會獲得一個只有自己知道的玩家編號。概率表不會顯示玩家的具體玩家名，但是會話與對象選擇都會以玩家名為基準。
    dt 是否顯示占卜師的概率
    dd 原案中的概率表只會顯示「人類的概率」「人狼的概率」「已經死亡的概率」三種，根據設定不同，人類概率中可以細分為「村人的概率」「占卜師的概率」並分別表示。


  h2 概率變動的詳細
  p 量子人狼在開始的時候會將所有可能的職業分配量子態全部列舉，並以此計算概率表。之後根據各個參加者的行動來刪除不可能的量子態，從而重新計算概率表。
  h3 處刑時的概率變動
  p 參加者被處刑時死亡概率確定為100%，確定會死亡。此時被處刑的參加者的職業會收束，根據當前的概率基準隨機決定出職業。此時所有與確定職業相違背的量子態都會被刪除。舉例來說，當被處刑的參加者收束為人狼的時點，這個參加者已經不可能是占卜師和村人，所以所有將此玩家分配為占卜師和村人的量子態都會被刪除，從結果來說這個參加者的人狼概率就會上升至100%。
  p 另外，當某個玩家被處刑死亡的時點，這個玩家在處刑前所有可能被人狼襲擊的量子態也都會被清除。舉例來說，玩家A在第四天白天的投票中被處刑，那麼在前三天晚上選擇襲擊玩家A的所有玩家都不可能是決定襲擊目標的人狼（關於人狼順位，見後述），相應的量子態也會被清除。
  h3 占卜時的概率變動
  p 占卜的結果以在「自己是占卜師」的前提下根據概率表隨機得出結果，與占卜結果相違背的量子態會被清除。舉例來說，占卜目標得出人狼的結果的情況下，「自己是占卜師同時目標是村人」的量子態都會被清除。一般這種情況下，由於目標是村人的可能性被清除了一部分，目標的人狼概率會上升（也存在下降的情況）。
  h3 襲擊時的概率變動
  p 參加者選擇襲擊命令襲擊另一名參加者的時點，這兩名參加者都是人狼的量子態會被清除（人狼無法襲擊人狼）。同時，「自己是人狼同時目標不是人狼」的所有量子態中，目標會死亡。
  p 另外，存在2名以上人狼的情況下襲擊目標也只能選擇一人。因此各個人狼在內部會有優先順位的設定（α、β、γ等），所有生存的人狼中順位最高的人狼可以決定襲擊目標。優先順位不同的量子態會被視為不同的量子態，舉例來說，玩家A與玩家B都是人狼的情況下也會存在「玩家A-人狼α，玩家B-人狼β」和「玩家A-人狼β，玩家B-人狼α」兩種情況。
  h3 處刑以外參加者死亡的場合
  p 一般來說，夜晚被襲擊時死亡的概率會上升。當死亡的概率上升到100%時就會立刻死亡，職業發生收束。但是，這種情況職業不會收束為人狼，因為在不被處刑的情況下當死亡概率達到100%的時候，任何可能的量子態都已經被人狼襲擊，這種情況下自己是人狼的量子態已不存在。

  h3 具體舉例
  p 量子人狼會根據各個參與者的選擇迴避矛盾進行。例如玩家A對玩家B的占卜結果是人狼，玩家B被處刑後收束為村人的場合，玩家A的占卜師概率就會變為0。另外，當某人被處刑後收束為最高順位人狼的場合，這名參與者之前所有的襲擊都會被落實，所有被襲擊的目標都會立刻死亡，所以處刑結束後有多個人同時死亡的情況是正常情況。
