section.manual
  p: a(href="/manual") 返回
  h1 关于量子人狼
  p 本服务器可以进行<strong>量子人狼</strong>游戏。量子人狼的原案为<a href="http://puzzle.cisra.com.au/2008/quantumwerewolf.html" target="_blank">Quantum Werewolf</a>。

  h2 量子人狼的简介
  p 在量子人狼的游戏中，登场的职业仅限村人、人狼、占卜师。量子人狼游戏的参加者处于复数职业叠加的不确定态，仅当参加者死亡的时点，量子波动函数收束，参加者的职业才会被确定。
  p 游戏中每天都会公布<b>概率表</b>。概率表会记载各参与者的目前为止是人类·人狼·死亡的概率。
  p 白天投票被处刑的参与者一定会死亡（死亡概率变为100%）。
  p 每天的夜晚，所有占卜师概率不为0的玩家可以选择占卜对象占卜并获得结果（同时会影响概率表）。所有人狼概率不为0的玩家可以选择袭击对象。被袭击的对象不会立刻死亡（同时会影响概率表）。

  h2 胜负判定
  p 参加者的职业在死亡时才会被确定。
  p 所有人狼都已确定死亡的场合，游戏结束，村人侧胜利。
  p 同样，存活的参加者可以确定人狼的场合，人狼人数超过存活者半数的情况下游戏结束，人狼侧胜利。
  p 根据各个参与者的选择情况，游戏可能会出现矛盾的情况（非常罕见），这种情况下以平局处理。

  h2 如何开始量子人狼
  p 与普通的人狼游戏相同由房主建立一个房间（参照<a href="play">游戏方法</a>）。
  p 在配置列表中选择「量子人狼」即可进行量子人狼游戏。

  h2 设定项目
  p 本服务器可以对以下项目进行设定。
  dl
    dt 概率表的表示方法
    dd 
      p 概率表的表示方法可以选择以<b>玩家名</b>表示或者以<b>玩家编号</b>表示。原案中的表示方法是以玩家编号表示。
      p 以玩家编号表示的情况下，每个玩家会获得一个只有自己知道的玩家编号。概率表不会显示玩家的具体玩家名，但是会话与对象选择都会以玩家名为基准。
    dt 是否显示占卜师的概率
    dd 原案中的概率表只会显示「人类的概率」「人狼的概率」「已经死亡的概率」三种，根据设定不同，人类概率中可以细分为「村人的概率」「占卜师的概率」并分别表示。


  h2 概率变动的详细
  p 量子人狼在开始的时候会将所有可能的<b>职业分配量子态</b>全部列举，并以此计算概率表。之后根据各个参加者的行动来<b>删除不可能的量子态</b>，从而重新计算概率表。
  h3 处刑时的概率变动
  p 参加者被处刑时死亡概率确定为100%，确定会死亡。此时被处刑的参加者的职业会收束，根据当前的概率基准随机决定出职业。此时所有与确定职业相违背的量子态都会被删除。举例来说，当被处刑的参加者收束为人狼的时点，这个参加者已经不可能是占卜师和村人，所以所有将此玩家分配为占卜师和村人的量子态都会被删除，从结果来说这个参加者的人狼概率就会上升至100%。
  p 另外，当某个玩家被处刑死亡的时点，这个玩家在处刑前所有可能被人狼袭击的量子态也都会被清除。举例来说，玩家A在第四天白天的投票中被处刑，那么在前三天晚上选择袭击玩家A的所有玩家都不可能是决定袭击目标的人狼（关于人狼顺位，见后述），相应的量子态也会被清除。
  h3 占卜时的概率变动
  p 占卜的结果以在「自己是占卜师」的前提下根据概率表随机得出结果，与占卜结果相违背的量子态会被清除。举例来说，占卜目标得出人狼的结果的情况下，「自己是占卜师同时目标是村人」的量子态都会被清除。一般这种情况下，由于目标是村人的可能性被清除了一部分，目标的人狼概率会上升（也存在下降的情况）。
  h3 袭击时的概率变动
  p 参加者选择袭击命令袭击另一名参加者的时点，这两名参加者都是人狼的量子态会被清除（人狼无法袭击人狼）。同时，「自己是人狼同时目标不是人狼」的所有量子态中，目标会死亡。
  p 另外，存在2名以上人狼的情况下袭击目标也只能选择一人。因此各个人狼在内部会有优先顺位的设定（α、β、γ等），所有生存的人狼中顺位最高的人狼可以决定袭击目标。优先顺位不同的量子态会被视为不同的量子态，举例来说，玩家A与玩家B都是人狼的情况下也会存在「玩家A-人狼α，玩家B-人狼β」和「玩家A-人狼β，玩家B-人狼α」两种情况。
  h3 处刑以外参加者死亡的场合
  p 一般来说，夜晚被袭击时死亡的概率会上升。当死亡的概率上升到100%时就会立刻死亡，职业发生收束。但是，这种情况职业不会收束为人狼，因为在不被处刑的情况下当死亡概率达到100%的时候，任何可能的量子态都已经被人狼袭击，这种情况下自己是人狼的量子态已不存在。

  h3 具体举例
  p 量子人狼会根据各个参与者的选择回避矛盾进行。例如玩家A对玩家B的占卜结果是人狼，玩家B被处刑后收束为村人的场合，玩家A的占卜师概率就会变为0。另外，当某人被处刑后收束为最高顺位人狼的场合，这名参与者之前所有的袭击都会被落实，所有被袭击的目标都会立刻死亡，所以处刑结束后有多个人同时死亡的情况是正常情况。

  p 本页面由<b>魔法少女智乃</b>提供翻译。