section.manual
  p: a(href="/manual") 返回
  h1 規則
  p 請把握最低限度的遊戲規則，以免給其他參加者造成不必要的困擾。
  
  h2 遊戲背景
  p <b>人狼</b>裝扮成人類的樣子潛入了某個村子。每天夜晚<b>人狼</b>都會襲擊村人。
  p 村人們由於不知道人狼是誰，為了剷除人狼，每天都會將一個被認為是人狼的人處刑殺死。
  
  h2 遊戲概要
  p 登場的村人們全員都是<b>參加者</b>。參加者都是某個村子的一員。替身君（後述）以外所有人都不是NPC。
  p 參加者分別從屬於兩個（或更多）<b>陣營</b>（隊伍），以陣營為單位追求勝利。陣營主要由<b>村人陣營</b>與<b>人狼陣營</b>組成，根據情況也可能會有<b>妖狐</b>這樣的第三陣營。村人們不知道彼此的真正身份，不知道誰是敵人，誰是同伴。能夠確定無誤的只有自己的立場。
  p 參加者們被設定為以村人和人狼的<b>職業</b>（後述）參與遊戲，遊戲開始時參加者將被分配各種職業。被分配為<b>人狼</b>與<b>狂人</b>將屬於人狼陣營。遊戲開始後即將得知自己的職業和自己所屬的陣營，向著本陣營獲得勝利的目標前進吧。
  h2 勝利條件
  p 通過處刑將全部人狼處死後<b>村人陣營</b>即獲得勝利。所以村人陣營的目的是按照這個目標將人狼全滅。
  p 人狼在一對一的情況下能夠毫無疑問地捕食村民，如果村人的人數很多這就辦不到了。通過減少村人的人數，把村人的人數減少為與人狼相同或更少，人狼們就能夠一對一的把村人全部捕食。這就是<b>人狼陣營</b>的勝利。人狼陣營的目的是，成功的躲過村人對人狼的處刑，並減少村人的人數。
  p 此外，第三陣營的<b>妖狐</b>存在時，如果村人或人狼的一方達成了勝利條件，而此時妖狐還活著，妖狐將會從旁奪取勝利的果實。因此，妖狐的目的是不擇手段的活下去。
  p 妖狐存在的時候，村人陣營除了人狼也不得不將妖狐全滅。人狼陣營也是同樣。
  
  h2 遊戲的進行
  p 遊戲以<b>晝</b>與<b>夜</b>為單位進行。
  p 遊戲以<b>第一天夜裡</b>一名村人被人狼襲擊<b>這一事件的發生</b>作為一場遊戲的開端。
  
  p 在夜間，<b>人狼</b>能夠相互對話，<b>能力者</b>（後述）能夠發動能力。然後，夜間人狼們進行商議（人狼以外不能得知談話的內容），襲殺一名村人（被殺的人將在第二天早上被發現）。
  p 經過了一定得時間之後，夜晚結束，變為<b>第二天白天</b>。
  p 在白天裡村子裡的所有人進行商議，並舉行向懷疑為人狼的人投票的<b>處刑投票</b>活動。這個投票的內容是一人一票向村子裡的某人投票，得票最多的人將被<b>處刑</b>。
  p 因為村人們不知道誰是人狼，白天的商談人狼們和村人們是混雜在一起的。人狼陣營的人，會將談話向對人狼有利的方向引導。
  p 投票結束後將進行處刑，接著就是<b>第二天夜裡</b>。此後將不斷重複晝夜，直到遊戲結束。
  p 像這樣，每天夜裡（被人狼殺死）與白天（被村人處刑）不斷重複在減少人數，直到某一方的勝利條件達成了，即宣告遊戲結束。
  p 死掉的人，基本上就只能看著遊戲繼續進行下去了，不能夠再參與村子裡的討論。但是，死亡並不意味著敗北，即使自己死了如果自己的陣營取勝了，自己也能勝利，所以一直觀戰到最後吧。
  
  h2 職業
  p 人狼遊戲的每一名參加者都會被分配一個<b>職業</b>。遊戲開始時就能獲知自己的職業。
  p 各個職業都持有各自不同的能力。以下將介紹一些常見的職業。
  h3 村人陣營的職業
  p <b>村人陣營</b>的職業是村人的同伴，以根絕人狼為目的進行遊戲。在白天的談話中一般如前述以村人的立場看待問題，村人陣營的人一般是不說謊的。明明是村人還說謊的話對村人陣營是十分不利的<small>（リア狂）</small>擾亂推理的，十分嚴重的不良行為<small>（然而，村人撒謊反而對村人陣營有利的例外情況也是存在的）</small>。
  p 第一個講解的職業是一般的<b>村人</b>。這個職業沒有特別的能力，只是為了村人陣營的勝利而協力，<strong>向他人投票將其處死</strong>這樣的事情。為了推理與判斷而生。
  p 順便一提，在說到「村人」一詞的時候，可能有有「參加者全員」、「村人陣營的人」與職業名的「村人」這三種意思，請注意語境進行區別。
  
  hr

  p <b>占卜師</b>是向勝利做出最直接貢獻的人。在夜間可以選擇一人進行占卜，判斷其是否為人狼。
  p 占卜師一般會向村民們CO<small>（coming out；出櫃：跳占）</small>公佈占卜結果，將村子向對村人有利的方向引導。
  p 但是必須注意，跳占的不一定是真占。後述的人狼陣營的人為了引起村民的混亂假冒占卜師跳占的可能性也很高。普通人由於無法簡單的判斷占卜師的真偽，請冷靜的判斷完成自己的使命。
  p 除此之外，占卜師還有咒殺妖狐（後述）的能力。
  hr
  
  p <b>靈能者</b>是判斷<strong>被處刑殺死</strong>的人是否是人狼的職業。由於夜間人狼襲擊的人一定是村人，靈能者可以把握現在活著的人中有幾名人狼。
  p 前述的有複數人跳占的時候，確認其真假正是靈能者大顯身手的機會。
  hr
  
  p <b>獵人</b>能夠在夜間選擇一個人進行守護，使其免遭人狼侵害，成功護衛的情況一般稱為GJ<small>（Good Job）</small>。
  p 人狼因為害怕被占卜師占卜而襲擊占卜師的時候；前述的靈能者判斷跳占真假時，人狼陣營為了阻止這一判斷成功而襲擊靈能者的時候。獵人是在這些時候確保占卜師、靈能者的生存，向對村子有利的方向推動遊戲的職業。
  hr
  
  p <b>共有者</b>一般為兩人。共有者能夠辨認其他共有者，夜間共有者之間能夠進行對話。
  p 因為共有者能夠互相確認，2人CO的時候幾乎是確定白<small>（白：不是人狼而是村人。確定白即有決定性證據證明不是人狼）</small>。
  p 之所以這麼說，是因為偽裝成共有者需要人狼陣營有兩人同時這麼做，這樣風險很高，可以認為基本不會發生。
  
  h3 人狼陣營的職業
  p 人狼陣營的目的是擾亂村子的推理以減少村民人數。那麼在談話中說謊簡直是理所當然的事。
  p <b>人狼</b>正如前述是襲擊村人的職業。人狼能夠在夜間襲擊並殺死一個村人。這是人狼減少村人人數的最直接手段。此外，在白天的處刑中盡量處死村人也是重要的手段。
  p 人狼有兩人以上的時候，每天夜裡也只能殺死一人。為此，人狼們會在夜間就「殺死誰」這一問題展開討論。
  hr
  
  p 人狼陣營的其他職業都是<b>狂人</b>或者狂人的變種。這些人雖然是村人，卻以人狼的勝利為目標推進遊戲。
  p 占卜師和靈能者會將狂人判斷為村人。狂人們會善用這一特性創造有利條件。經常會跳占<small>（跳占給出假的占卜結果）</small>和跳靈能來擾亂村民的視線。
  p 狂人在本質上來講是村人，在人狼進行勝利判定時也會被記為村人，例如「普通村人2人、狂人1人、人狼2人」這樣的5人生存的時候，雖然人狼陣營十分有優勢，但是遊戲不會直接結束。
  p 雖說這時候一般會PP<small>（power play: 人狼側的合計票數過半，人狼與狂人聯合強行票死村人）</small>，相應的村人只好GG。
  
  h3 妖狐
  p <b>妖狐</b>這一職業，是既不屬於村人側也不屬於人狼側的<strong>第三陣營</strong>，會遭到人狼與村人兩方的合力狙殺。按照一般的規則妖狐是只有一人的。
  p 妖狐與人狼的目的同樣是支配村子，妖狐的勝利條件是<b>生存下去直到村人與人狼一方獲勝為止</b>。例如，妖狐生存，但是人狼全滅的時候，妖狐將獲得勝利。這將導致村人的敗北，因此村人在全滅人狼之前一定要先幹掉妖狐。
  p 此外，妖狐在勝利判定的時候既不記算為村人，也不記算為人狼。這一事實關係到了人狼的勝利判定。人狼的勝利條件是「村人的人數小於人狼的人數」，例如，參加者人生存，其中村人2人，人狼2人，妖狐1人的時候，妖狐不會被記為任何一方，遊戲將因此得出勝負（妖狐勝利）。

  p 殺死妖狐的手段有兩個。其一為<b>「處刑」</b>，其二為「咒殺」。咒殺是指占卜師占卜了妖狐之後，導致妖狐死亡。這正是在有妖狐的村子裡，占卜師的一個重要作用<small>（不止如此，由於妖狐對人狼側來說是十分礙事的存在，人狼反過來因此不去襲擊占卜師的可能性也是有的）</small>。
  p 另外，咒殺是判斷占卜師真偽的有效方法。由於假的占卜師無法實施咒殺，所以一旦確定了複數占卜師中是誰咒殺了妖狐，這個占卜師的真偽就能夠確定了。
  p 人狼襲擊妖狐的場合下，妖狐是<strong>不會死的</strong>（平安夜）<small>（平安夜：到了早上沒有人死亡。會在妖狐被咬的時候、獵人GJ的時候、人狼襲擊人狼的時候出現）</small>。
  p 成為妖狐的時候，盡量不被占卜，不被處刑努力地活到最後吧。此外，由於人狼是咬不死妖狐的，人狼自爆指認妖狐的可能性也是有的，可能的話還是盡量避開這種情況。
  
  h2 其他
  p 接下來介紹一下其他需要知道的事項。
  h3 替身君
  p <b>替身君</b>是按照房間設定混入參加者中的NPC。
  p 「第一天夜裡就被人狼殺死的人，只能幹看著遊戲發展實在是太可憐了」，替身君基於這種考慮作為第一夜的犧牲者誕生的。
  p 因此，替身君默認情況下是不能成為人狼或妖狐的（占卜師、靈能者、狂人等等人狼與妖狐以外的職業，替身君則可能出現，考慮到這一點進行推理是十分有必要的）。
  
  p 規則的閱讀到此結束，接下來請閱讀<a href="/manual/welcome">人狼入門</a>加入遊戲吧。