section.manual
  h1 参考手册
  p 本游戏的参考手册。
  p 各职业的详细介绍，请以
    a(href="http://jinrou-doc.uhyohyo.net/",target="_blank") 公式文档（日文）
    |为准。
    a(href="https://doc.werewolf.com.cn/",target="_blank") 公式文档（中文）
    |仍在建设中。
  p 欢迎加入官方QQ群：[月下人狼] 250355869<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=de72f048bbbb5dc370f88b177f2a72c8ce93c5af295e017a5e63ff3f2e690c18"><img border="0" src="https://pub.idqqimg.com/wpa/images/group.png" alt="[月下人狼]" title="[月下人狼]"></a>
  h2 BUG报告
  p 如果发现了任何bug，请于<a target="_blank" href="https://github.com/Sunev/jinrou/issues/new?template=bug--.md">GitHub</a>汇报（需要在GitHub注册账号，以便接收关于bug处置的回信）。
  h2 页面一览
  ul
    li: a(href="/manual/features") 游戏特色
    li: a(href="/manual/spec") 游戏说明
    li: a(href="/manual/rule") 游戏规则
    li: a(href="/manual/play") 游戏流程
    li: a(href="/manual/joblist") 职业一览
    li: a(href="/manual/welcome") 新手入门（翻译完成，分期更新中）
    li: a(href="/manual/prohibited") 禁止行为・注意事项
    li: a(href="/manual/casting/index") 房间配置一览
    li: a(href="/manual/changelog") 更新履历
    li: a(href="/manual/danganronpa") 期间活动·弹丸论破
