section.manual
  h1 參考手冊
  p 本遊戲的手冊。
  p 各職業的詳細介紹請參閱
    a(href="http://cheshire.pinomeng.com:81/",target="_blank") 官方檔案（中文）
    |及
    a(href="http://jinrou-doc.uhyohyo.net/",target="_blank") 官方檔案（日文）
  p 部分翻譯參考、借用自<a href="http://www.werewolf.online/" target="_blank">月下人狼（中國）</a>。
  h2 頁面一覽
  ul
    li: a(href="/manual/features") 這個人狼的特徵
    li: a(href="/manual/spec") 這個人狼的設定
    li: a(href="/manual/rule") 人狼的規則
    li: a(href="/manual/play") 這個人狼的遊戲方式
    li: a(href="/manual/prohibited") 禁止行為・注意事項
    li: a(href="/manual/welcome") 人狼入門（沒翻譯完，請參考人狼Wiki）
    li: a(href="/manual/joblist") 職業一覽（↑上面的官方網站比較清楚）
    li: a(href="/manual/casting/index") 配置一覽
    li: a(href="/manual/changelog") 更新履歷
