section.manual.long
  p: a(href="/manual") 返回
  h1 人狼入门
  p 人狼是相当复杂的游戏。本页面主要面向新手与刚接触在线人狼游戏不久的玩家介绍一些基本的心得。
  p 在阅读本页之前请先阅读<a href="rule">规则</a>页面。
  p 本页面的入门解说，将基于普通配置的人狼游戏来展开。对于更复杂的人狼游戏，请开动脑筋多多思考。
  
  section
    h2 基本的进行
    p 正如规则所述，人狼是通过<b>昼</b>、<b>夜</b>交替展开的游戏。一般来说，白天的第一件事是<b>问好</b>。总之先说一句「早上好」吧（然而，有职业的人不这样做的场合还是有的）。
    p 然后，往往能力者们就会开始<b>CO</b>（coming out; 公开自己职业）了。参加者们根据这些信息展开推理，然后最终迎来白天的结束并进行处刑投票。
    p 然后游戏环节将进入夜晚。在夜晚，能力者可以发动能力，无能力者则无法行动。请在夜晚也积极推理吧。将白天的大家的发言整理一遍认真推敲一遍是个不错的选择。
    p 接着白天再次到来，大家会发现<strong>尸体</strong>。这就是夜晚被人狼所袭击的人。一般来说每天早上会出现一具尸体，但是一些情况下可能会没有尸体，或者出现2具尸体。
    p 这些被人狼袭击或者被处刑的玩家无法继续参与游戏，转而变成只能旁观的状态。死后可以与其他死亡的玩家对话，但是这些对话无法传递给仍然存活的玩家。死后的状态被称为<b>灵界</b>。
    p 关于人狼的方面，自己明明不是人狼却遭到猜疑的情况并不罕见。遇到这样的情况请不要过于激动。
    p 此外，自己明明不是人狼却被占卜师（后述）指认为人狼的情况也时有发生。会发生这种情况只是因为占卜师是假的。也请不要激动，稍稍为推理素材的增加而高兴吧。

  section
    h2 各个职业的心得
    p 人狼游戏中有许多具体的职业。各个职业都有所属的<b>阵营</b>，请为了自己<strong>所属阵营的胜利</strong>努力吧。

  section
    h2 村人阵营
    p 村人阵营的目的是将<strong>人狼</strong>全灭，以及如果有<strong>妖狐</strong>的话也要将妖狐全灭。
    p 但是，如果在妖狐还存活的情况下将人狼全灭就会让妖狐阵营取得胜利，所以如果有妖狐的话要在人狼全灭之前先将妖狐全灭。
    p 为此，如果能够判明一名人狼是<b>LW</b>（Last Wolf: 最后一名活着的人狼）的话，可以把LW一直留到刚刚好能够吊死他的最后一刻来剿灭妖狐。
    p 值得注意的是，村人侧基本不说假话，因为即使说谎村人也无法得到好处。即使存在例外的情况，村人侧也尽量不要说假话。

    section
      h3 村人
      p <b>村人</b>没有任何特殊能力，唯一能做事情的就是推理，唯一拥有的武器就是投票处刑。所以请谨慎推理然后慎重投票。认真考虑的话村人可能要比后述的占卜师要难。
    section
      h3 占卜师
      details
        summary 占卜师要占卜<strong>灰名单</strong>的身份。占卜结果要尽可能快地传达给其他村人。

        p 作为<b>占卜师</b>的第一要务，就是<strong>向村子传达情报</strong>。
        p 占卜师每晚可以选择一个人进行占卜，判断目标是否是人狼。对于村侧来说找到人狼无疑是有巨大帮助的，因此占卜师的首要目标是寻找人狼。毋庸多言，即使得出了目标不是人狼的的结果，也可以把目标从处刑候补名单中去除，并不是无用功。
        p 占卜师中有很多人会在第二天的白天（最初的白天）CO，也会有人选择潜伏（不CO而选择隐藏在村人中）。如果是初心者不是很明白的话，CO也没有什么问题。如果选择了潜伏，并且房间允许使用<b>遗言</b>（死亡时自动公开的信息，需要提前编辑保存）的话，请在遗言中CO，并且认真记录所有的占卜结果。
        section
          h4 关于CO
          details
            summary 没有什么特别考虑的话立即CO也没有关系。
            p 占卜师CO的时机正如前文所述在第二天白天比较好，CO的时候不必拘泥于「早上好」之类的问候，可以直接发表占卜结果。根据状况的不同，其他村人可能会视情况判断占卜师的真伪。虽然这么说，占卜师为了肃清假占也有装作普通村人正常地打招呼的情况，不能一概而论。
            p 特别的，早占卜结果将某人<b>判定为人狼</b>的场合下迅速CO出比较有利。为了尽快CO出，可以夜晚在发言栏事先输入好「占卜师CO，××是」之类的文字。
            p 另外，占卜师作为村侧强力职业，对人狼来说是非常大的威胁。因此，人狼会寻找机会将占卜师咬死（袭击）（但是，如果有复数占卜师CO的话，人狼也可能会因为不知道谁是真的占卜师而犹豫）。在占卜师早CO的情况下，<strong>猎人</strong>（后述）可以保护占卜师。占卜师对村侧来说非常重要，所以猎人很有可能去保护占卜师，因此人狼也可能会犹豫咬不咬占卜师。对此而言，后述的灵能者也会出现相似的情况。
        section
          h4 关于占卜目标
          details
            summary 基本上优先占卜<b>灰名单</b>。最好避免占卜CO占卜或CO灵能的人。如果不清楚应该占卜谁可以与村人商量。
            p 占卜师能否完成职责很重要的一点是<strong>选择占卜目标</strong>。
            p 首先，<strong>排除灰名单</strong>是第一要务。灰名单指的是尚未被占卜的村人。特别是是序盘的<b>完全灰</b>（没有被任何占卜师占卜过的人）可以作为优先占卜的目标。
            p 关于完全灰名单，由于自己知道自己是真占，所以明白其他的占卜师可能是伪物，但是对于其他的参加者来说无法判断占卜师真伪，所以尽量提供多的情报会比较有帮助。但是，相对的也有因为「希望判定出<b>确定村人</b>」等理由而去占卜其他伪占卜师占卜过的名单的行为。有复数占卜师，特别是CO出来的所有占卜师都给出白判定的话，目标是村人（非狼）的可能性极高。
            p 另外，已经CO过身份的人不被计入灰名单。需要注意的是，应该尽量避免去占卜其他职业者（灵能者等），以及和自己对抗的伪占卜师。究其原因，因为得出的情报对其他参加者基本没有意义。假设占卜了和自己对抗的伪占卜师，黑判定（目标是人狼）和白判定（目标是村人）都有可能得出。如果判定为村人，那么这名伪占卜师就是<b>狂人</b>。如果判定为人狼，那么这名伪占卜师就是<b>人狼</b>。狂人虽然属于人狼阵营但是在胜负判定时的时候会被记为村人，尽管可能会出现「没有吊死狂人的余裕」（如果不立刻吊死人狼村人就要输了）的情况，但大部分时候对方不论是狂人也好、人狼也罢，总之对方是敌人（村人阵营以外的人）的话吊死就可以了，因此追究伪占卜师究竟是人狼还是狂人的做法，在大多数情况下价值很低。
            p 占卜灵能者也是一样的情况。无论如何，灵能者的占卜结果是白的话也无法判断是真灵能还是狂人伪装的假灵能，所以基本上没有什么意义。
            p 还有，占卜灰名单的时候，也尽量不要选择「放着不管也可能会被吊死的人」比较好。比如说沉默寡言的人。即使不去占卜，处刑后也可以由<b>灵能者</b>来判断身份（后述），如果处刑到狼就是运气好。因此，占卜一些看起来比较容易活下来的玩家是相对有意义的。另外，灵能者自身也是很容易被处刑的职业，所以放着不去占卜也没有什么问题。
            p 另外，发表占卜结果的时候附带上「占卜理由」会更容易使人相信。游戏刚开始的第一天夜里因为没有情报所以不需要什么理由，第一天之后所有灰名单玩家的「发言内容」、「向某人投票」等都可以成为占卜的根据。
        section
          h4 关于咒杀
          p 占卜师占卜到妖狐的时候，妖狐会被<strong>咒杀</strong>。出现咒杀的时候，次日早上<b>会出现2具尸体</b>（但是，人狼袭击失败的情况下（袭击到妖狐或者猎人GJ（后述））仍然只会出现1具尸体）。出现了多具尸体的时候，占卜师即可判明哪一具尸体是被咒杀的妖狐，而普通村人则无法分辨妖狐与普通被袭击的尸体。无论如何，此时如果某个占卜师自称占卜了两具尸体以外的人，就会露出致命的破绽（不可能是真的占卜师）。
          p 发生咒杀的话可以很容易证明真占。真的占卜师可以立即发表占卜结果，而假的占卜师要修改自己准备的假占卜结果以免出现破绽从而发言会比较晚。
          p 顺便一提，如果没有开启「咒杀提示」，就只有早上出现2具尸体的时候才可以确定妖狐死亡的情况。

    section
      h3 灵能者
      details
        summary 灵能者的任务一般只有发表灵能结果。基本上在占卜师之后CO出，但是占卜师给出狼判定后潜伏的居多。
        p <b>灵能者</b>是被动职业，即使是初心者玩也只需要每天发表灵能结果就可以达成任务的相对简单的职业。
        p 灵能者可以分辨「被处刑的人」是村人还是人狼，这个信息会在第二天早上自动显示。由于「被人狼袭击的人」不会是人狼，灵能者可以判断出已经死亡的人狼数目，换言之，可以正确把握残存的人狼数目。
        p 灵能者活跃的场合一般是在占卜师判定某人是人狼的时候。一般来说即使无法判断占卜师的真伪，占卜师判定某人是人狼的时候几乎依然会吊死目标，这是为了使<strong>灵能者迅速辨别占卜师的真伪</strong>。
        p 举例来说，占卜师A给出的黑判定目标被处刑后，第二天灵能者B对被处刑的目标给出了黑判定，这时称A与B之间<b>就达成了逻辑一致</b>。反过来，如果灵能者B给出了白判定，那么A与B就<b>至少有一人是假冒的</b>。
        p また、占卜师Aと灵能者B、占卜师Cと灵能者Dがそれぞれラインが繋がった場合、「Aが本物ならばBも本物」「Cが本物ならばDも本物」、あるいはその逆が成り立ちそうだ（絶対とは言えません）ということが見えてきます。このようなことから真占いや真灵能を推理するためにラインは重要な情報です。
        p とはいえ、実際には、灵能者はすぐ处刑されてしまうことも多いです。なぜかというと、やはり占卜师のほうが情報の重要度が高いとみなされるので、例えば灵能者が2人COした場合、どちらかが人狼の可能性が高いとして<strong>ローラー</strong>（COした人を全员处刑してしまうこと）が行われることも多いからです。この方法ならば偽者も確実に处刑できます。
        section
          h4 COのタイミングについて
          p 灵能者がCOするタイミングは、色々パターンがありますが、初心者でよく分からないならば2日目に占卜师の後くらいにCOするのがよいでしょう。
          p ただし、占卜师が誰かに人狼判定を出した場合は潜伏することが多いです。これは、人狼に誰が灵能者であるかを分からなくするためであり、猎人の护卫先を絞り込みやすくするためです。

    section
      h3 猎人
      details
        summary 猎人は人狼に襲われたくない人を守ります。基本はCOしてはいけません。
        p <b>猎人</b>は、前述の通り人狼から村人を守る职业です。猎人の役目とはつまり、<strong>死んでほしくない人を確実に守ること</strong>です。
        p 人狼にとって、猎人はとても邪魔な存在です。殺したい人を殺せないかもしれないからです。また、GJ（Good Job: 猎人が护卫に成功すること）が起こると<strong>吊り回数</strong>が増えることがあり、そうすると人狼は不利になります。
        p 吊り回数というのは、例えば现在10人のとき、处刑で1人、人狼に襲われて1人死ぬので1日で計2人死ぬと考え、これを「10→8→6→4→2」などと書きます。人狼が生き残ったまま残り2人になると負けですから、あと4回处刑を行うことができ、これを「吊り回数4回」であるといいます。
        p そこで、10→8のところで猎人がGJしたと仮定しましょう。すると、10の次は9になります。すると「10→9→7→5→3→1」となります。すると、吊り回数は5回に増えていることがわかります。これを吊り回数が増えたといいます。
        p さて、前述のように猎人は邪魔な存在ですから、人狼は猎人を是が非でも殺したいはずです。なので、猎人は基本<strong>COしてはいけません</strong>。猎人は自己を守ることはできないので、COしたらその日の夜にほぼ確実に殺されることでしょう。もし猎人がCOするとしても、終盤になってからですが、基本はCOしないものとみていいでしょう。
        p また、猎人がCOしないのにはもう一つ理由があります。猎人は人狼の噛みに対する抑止力ですから、猎人が死んだのがばれてしまったら人狼は自由に殺したい人を殺せます。これはまずい状況です。ですから、猎人は死んだ後も人狼に対して<b>プレッシャー</b>を与えつづける必要があるのです。猎人が死んだことを悟られてはいけないのです。
        p ただし、終盤には人狼が猎人を騙ってくることがあります。そういうときもしこちらもまだ生き残っていたら、出たほうがよいでしょう。そういう場合は人狼も追い詰められていることも多く、人狼候補を2択に絞れることもあるからです。こういうときのために、猎人は<strong>猎人日記</strong>を用意しておくのが一般的です。これは、2日目以降について「誰を护卫したか」「誰が噛まれたか」を毎日記録しておくものです。これも、占卜师同样に理由があると望ましいでしょう。猎人の場合誰を护卫したかというのは、得にGJがあったときには重要な情報ですので、COしたからにはなるべく情報を村に与えるという観点からこれを発表することになります。他の村人たちも、これをみて猎人の真偽を判断したりします。
        p 猎人に守られた人は、その人が妖狐で呪殺でもされない限り、朝になったら死んでいることはありません。逆に言うと、わりとレアなケースですが、护卫していた人が朝死んでいたら、その人以外を呪殺したと主張する占卜师は偽であることが明らかになります。終盤の場合には、猎人なのにCOしてこれを指摘することが稀にあるかもしれません。こうすることで、その日の夜に猎人は噛まれるでしょうが、その場合誰が占卜师か分かるし、その占卜师が最低一日は生き残ります。

    section
      h3 共有者
      details
        summary 共有者は村のまとめ役です。わりとみんな指示に従ってくれます。自信がなければ相方に任せましょう。
        p <b>共有者</b>は、基本的にCOすれば確定村人であると扱われます。共有者は2人を互いに把握して夜に会話できるので、互いに誰がもう一人の共有者か知っています。そのため、偽の共有者がCOしても、本物の共有者がそれを否定してもう一人の真共有者と互いに確認すれば、その人が偽であることがばれてしまいます。人外が共有者を騙るには人狼が2人出てきて騙る必要があり（狂人は人狼と互いに認識できないので共有を騙ることは難しい）、負担がたいへん大きく得策とはいえません。したがって、共有者はCOすれば確定村人になります。
        p 共有者は確実に村人なので、村の<b>まとめ役</b>になることも多いです。初心者に負担が大きいと思うならば、夜のうちに相方に自己が初心者であると打ち明けて相方に指揮をとってもらいましょう。
        p 共有者の役目は、基本的には<b>確定村人</b>を作る（COすれば確定村人を作ったことになる）ということです。もし共有者のほかに確定村人（占卜师全员に村人判定をもらうなど）があらわれた場合は、共有者の死後そちらが中心になって指揮をする場合もあります。
        p ちなみに、共有者は最後まで生き残ることはあまりありません。なぜなら、<b>最終日</b>（吊り回数が残り1回の日）に数人が生き残って何択かになったとき、共有者がいると人狼候補から外れて人狼にとって不利なので、大抵はその前に人狼に教われてしまうからです。
        section
          h4 COについて
          details
            summary 基本的にはCOしますが、あえて潜伏する戦術もあります。
            p 共有者は、潜伏する場合も1人だけCOする場合も、FO（フルオープン：2人ともCOすること）の場合もあります。それぞれ利点があります。
            p 一人だけCOするということは、COした共有者は相方が誰であるか発表しないということです。この場合「共有CO 相方生存」などといってCOします。
            p 例えば共有者が1人か2人潜伏する場合は、<strong>共有トラップ</strong>が利用できます。これは、偽の占卜师が潜伏の共有者に対して<b>人狼判定</b>を出したならば、その共有者がCOすることでその場でその占卜师の破綻が確定するということです。
            p これにより偽の占卜师は誰かに人狼判定を出すことをためらい、人狼判定を出した占卜师の信用が少し高まることもあります。ただし、真の占卜师が共有者を占ってしまい無駄になる（占わなくても村人であることがはっきりしているから）かもしれないというデメリットもあります。
            p 逆にFOの利点は無駄占いがないということと、<b>グレラン</b>（后述）でも共有者が吊られないということです。
        section
          h4 指定について
          p 共有者は確定村人なので、その信頼をいかして「指定吊り」を行うことがあります。これは、「今日は××さんに投票してください」と指定することです。これにより、共有者が1人しかCOしていなくても、もう一人の共有者が吊られるのを避けることができます。
          p ただし、この場合「参加者たちが誰に投票したか」という<b>推理材料</b>が失われてしまうというデメリットもあります。

    section
      h2 人狼阵营
      p 次に人狼阵营です。人狼阵营は嘘をつくことができるので、人狼における游戏メイカーであるといえるでしょう。
      p 人狼阵营がどんな戦術を用いてくるかによって游戏展開が変わります。
      p 人狼阵营の目標は、处刑や噛みを用いて村人を減らし、人狼が全滅しないことです。具体的には、村人の数が人狼の数以下になると胜利です。

      section
        h3 人狼
        p <b>人狼</b>は、共有者と同样に夜に話し合いをすることができます。話し合いは、他の人に「狼的远吠」として届くので、内容は分かりませんが发言の数は分かります。ですから、LWになったときなど、それを悟らせないために一人で多く发言したりしてごまかしたり、あるいはその逆もあります。
        p 人狼は全员で話し合って、夜に一人襲うことができます。初心者ならば、やはり他の人に初心者であると伝えて、噛み先（誰を襲うか）を決めてもらったり戦術をアドバイスしてもらったりしましょう。
        section
          h4 噛みについて
          details
            summary 基本的には占卜师や確定村人など、人狼にとって脅威となる存在を襲います。ただし露骨すぎると怪しまれます。基本的に1人以上は潜伏します。
            p 人狼にとって重要なことは誰を噛むかということです。これによって有利にも不利にもなります。
            p たとえば<strong>占卜师を襲う</strong>場合には、<b>猎人</b>に守られるかもしれないというリスクとか、占卜师を抜く（殺す）ことでその占卜师が真である可能性が（村人侧からみて）高くなり、その占卜师が村人判定を出した人が人狼候補から外れて人狼候補が狭まってしまうなどのリスクを考慮します。反対にメリットは、その占卜师に人狼判定を出されないということです。
            p 占卜师は襲われたらその占卜师は人狼でないことが明らかになりますが、まだ狂人の可能性もあります。ですから噛まれたから真ということにはなりません。
            p 占卜师が人狼に襲われた場合、「人狼からみて占卜师の<b>真贋</b>がついたのではないか」という疑惑が発生します。つまり、COした2人の占卜师が真占卜师と狂人という内訳だった場合、狂人がでたらめな结果を出して、そのうち実際と食い違う结果（人狼に対して村人を判定を出すなど）を出した時点で、人狼からはどちらが狂人でどちらか本物か分かるので、本物を狙い撃って襲うことができます。これも、噛まれた占卜师の信頼が上がる理由です。
            p また、<strong>占卜师が村人判定を出した人を噛む</strong>のもよくあるパターンです。村人判定を出された人は疑われにくくなりますから、なるべく怪しい人を多く残すためです。
            p 特に、確定村人が発生した場合はその人を噛むこともよくあります。ただし、<b>猎人</b>が能力者そっちのけで確定村人を守りにきている場合もありますから注意が必要です。
            p とにかく、噛みというのは人狼の武器ですから、なるべく人狼候補を多く残すように、占卜师はなるべく早く殺すようにとうまく活用していきましょう。
            p ちなみに、<strong>猎人探し</strong>といって、あえてグレーの怪しいところを噛んでいく場合もあります。名字の通り猎人を殺したいからです。もっとも猎人が占卜师から村人判定をもらうことも大いにありますので、猎人を探すなら必ずグレーを噛むというわけではありません。
        section
          h4 騙りについて
          details
            summary 灵能騙りがありがちですが、占卜师を騙ってもいいです。潜伏も选择肢の1つです。
            p 人狼阵营の人は<b>騙る</b>（他的职业になりすましてCOしたり结果を発表したりする）ことができます。これがないと村人有利に進んでしまうので、基本的に何かを騙ることになります。
            p とはいっても、人狼が全员騙りに出るのは危険であり、そういうのは一般に奇策とみなされます。最低でも一人は潜伏しているのがよいでしょう。人狼の場合には、何かを騙る場合と全潜伏の場合もあります。全潜伏の場合は、騙るのは狂人（后述）に任せるということになります。
            p 人狼がよく騙るのは<strong>灵能者</strong>です。人狼はそもそも誰が人狼か把握していますから、本物の灵能者と同じ结果を出すことも可能です。ただし、灵能者はローラーされやすいという欠点があります。
            p 狂人が占卜师を騙っている場合、人狼に対して村人判定を出したり、逆に村人に対して人狼判定を出した場合は人狼からみてその占卜师が偽だということがわかり、多くの場合同時に真占卜师が誰かも分かります。
            p そこで、偽の占卜师とラインを繋いで偽占卜师を守ったり、あるいはあえて本物の占卜师とラインをつないで自己を守ったりできます。
            p ただし、人狼が占卜师を騙ることもわりとあります。
            p まあ初心者の場合は、何かを騙る自信がなかったら潜伏するのがよいでしょう。

      section
        h3 狂人
        details
          summary 狂人はまず騙るのが普通です。何か騙ってみましょう。場合によっては吊られるのも役目です。
          p <b>狂人</b>は、村人であるにもかかわらず人狼の味方です。
          p 村人であるということは、胜利判定のときも村人侧で見るし、占卜师や灵能者からみても村人だということです。
          p 狂人の役目は、<strong>何かを騙って村を混乱させること</strong>です。つまり、騙るのが役目だといっていいでしょう。性質上、占卜师や灵能者などについても把握している必要があり難しい职业です。初心者ならば、占卜师あたりを騙るのが無難でしょう。
          section
            h4 騙りについて
            details
              summary 占卜师を騙ると<b>狂アピ</b>（人狼に対して自己が狂人であるとアピールすること）がしやすいです。
              p 狂人の騙りは<strong>占卜师</strong>が一般的です。狂人と人狼の騙り方の違いに大きく影響を与えるのは、狂人は人狼を把握できないということです。人狼も最初は狂人を把握できませんが、狂人の動きによっては人狼から把握できることもあります。
              p 狂人は、人狼に対して自己が狂人であることを知らせることができればいいのですが、それをするには占卜师のほうがやりやすいです。
              p また、狂人の役目は<strong>吊りを無駄に消費させること</strong>とか、<strong>本物を巻き添えにして死ぬこと</strong>であると言うこともあります。つまり、たとえば狂人が占卜师を騙り誰かに人狼判定を出したとしましょう。それでその人が吊られれば一つ吊りが消費されました（まれに本当に人狼に人狼判定を出してしまうこともありますが）。その後灵能者とラインが繋がらず、偽であるということがバレてしまったら大抵は吊られるでしょう。これで狂人は吊りを2つ消費させ、2回分人狼を守ったことになります。また、ニセとバレなければ、本物の占卜师が誰か分からなくなるため人狼に有利になります。
              p 本物を巻き添えにするというのは、例えば占いローラーや、灵能を騙る場合は灵能ローラーに持ち込めば、本物も一緒に吊ることができ、最低2回は吊りを無駄にさせることができました。
              p また、同じ意味で<strong>狂人は噛まれるべきではない</strong>ともいいます。人狼は、狂人はほっといてもかってに吊られてくれるから、それよりは他の村人阵营の人を噛んだほう得です。言い換えると、狂人を噛んでしまうと損なのです。
              p 初心者の場合は、占卜师を騙って適当なところに村人判定をだし、適当なところで人狼判定を出してみるといいでしょう。
              p ただし、これは人狼の騙りにも言えることですが、<strong>破綻</strong>には気をつけて下さい。たとえば破綻の例としては、あまり村人判定を出しすぎると、人狼候補が1人もいなくなってしまい矛盾することがあります（游戏が続いている限りまだ人狼は1人以上生き残っているため）。こうなると破綻です。破綻しても吊られることはできますが、真占卜师を確定させてしまうことがあるので避けたほうがよいでしょう。

    section
      h2 妖狐阵营
      p 妖狐阵营にいるのは妖狐だけです。
      section
        h3 妖狐
        details
          summary 吊られず占われず噛まれず、ひっそりと生き残り続けましょう。いっそのこと騙るのも手です。
          p <b>妖狐</b>は、基本的に一人しかいません。つまり村の中に誰も仲間がいないということです。
          p 妖狐の目的は、<strong>游戏终了まで生き残る</strong>ことです。妖狐は占われると<strong>呪殺</strong>されてしまうので、<strong>占われてはいけない</strong>のです。
          p また、当然<strong>吊られてもいけません</strong>。そして、妖狐を殺そうとしてくるのは<b>村人阵营</b>だけではありません。<b>人狼阵营</b>も妖狐が生存していては勝てないので、人狼たちも殺そうとしてきます。
          p 妖狐は人狼に襲われても死にません。しかし、人狼に襲われると、猎人のGJ同样に次の日に朝の死体がないので人狼は不審に思います。人狼に妖狐であることがばれてしまうかもしれません。
          p ばれてしまうと、占いを騙っている人狼が妖狐に対して人狼判定を出してきたり、あるいは人狼がなんと人狼COして妖狐を全员に発表する（当然人狼も处刑されてしまう捨て身の方法です）という<strong>告発</strong>をされてしまうことがあります。
          p ですからなるべく<strong>噛まれないほうがいい</strong>ということです。この、吊られず噛まれず占われずというのはとても難しく、妖狐の勝率は低いです。その反面、勝てたら楽しいです。
          section
            h4 騙りについて
            p 妖狐も村人阵营ではないですから、騙ることが可能です。もっとも、<strong>潜伏</strong>することも多いので、初心者のうちは潜伏して耐えているのがいいでしょう。
            p 騙る場合は<strong>占卜师</strong>がよいでしょう。なんとかして村人から真占卜师であるという信頼を得られれば、最後まで生き残ることが可能かもしれません（ただし、吊り回数に余裕がありすぎると、「心配なので一応占卜师も吊っておく」という<strong>ケア</strong>が発生することもあります）。ただ、妖狐は噛まれないので、「占卜师のくせに人狼に襲われない」ということが怪しまれることもあります。
            p 灵能者を騙ると、ローラーに遭いやすいのであまり妖狐の灵能騙りはないでしょう。

  section
    h2 其他の注意事項
    p 其他、人狼に参加する上で注意すべき事項を紹介します。
    section
      h3 用語
      p 人狼においては、いくつか専門用語が使われます。基本的なものをここで紹介するので、理解できないものがあればここを参照しましょう。そのほか分からない用語があれば別のところで調べましょう。
      dl
        dt 黒・白
        dd 占卜师や灵能者の判定で、<b>人狼判定</b>を<b>黒</b>、<b>村人判定</b>を<b>白</b>という。黒は「●」、白は「○」とも表記する。「占いCO ××さん●」と言ったならば、××さんに対して人狼判定を出したことを意味する。
        dd 転じて、「黒」を人狼、「白」を村人の意味で使うこともある。
        dt グレー
        dd まだ占卜师から占われていない人。一般的に何か的职业をCOした人はグレーに含まない。「××さんのグレー」などというとその占卜师（××さん）からまだ占われていない人を指すが、ただ「グレー」というと完全グレー（どの占卜师からも占われていない人）を指すこともある。
        dt グレラン
        dd グレーランダムのこと。グレーの中から好きな人に投票すること。派生語で「占いラン」などもある。
        dt ローラー
        dd ある职业をCOした人を順番に全员处刑すること。「占いローラー」や「灵能ローラー」といって使う。本物を犠牲にして、人外を確実に排除できるという利点がある。
        dt 2-1,2-2など
        dd 「2-1」という場合、「占卜师が2人、灵能者が1人COした状态」を指す。「2-2」の場合、占卜师が2人、灵能者も2人。
        dt 「真狂-真」など
        dd 占卜师・灵能者の内訳を書く方法。「真狂-真」は、「占卜师2人のうちどちらかが真占卜师でどちらかが狂人。1人いる灵能者は真灵能」という意味である。
        dd 例えば「真狼-真狂」ならば「占卜师2人のうちどちらかが真占いでどちらかが人狼。灵能者2人のうちどちらかが真灵能でどちらかが狂人」という意味になる。
        dd 「これは真狂-真狼の可能性が高い」などというように使われる。
        dt 奇数進行・偶数進行
        dd 昼の時点で生存者の数が奇数ならば奇数進行といい、偶数ならば偶数進行という。
        dd 奇数進行ならば猎人がGJを起こしても吊り回数が増えないため、人狼が猎人を恐れず占いを噛んでくることなどもある。逆に偶数進行ならばそのような危険な噛みを躊躇することもある。
        dt 白進行・黒進行
        dd 2日目に、占卜师がみんな白（村人判定）を出したときを白進行という。逆に、誰かが黒を出したときを黒進行という。黒進行の場合は灵能者や共有者はCOしないで潜伏していることが多い。
        dt 初日
        dd 初日犠牲者。一日目の夜に人狼に襲われる人。この人狼では「替身君」というNPCである。
    section
      h3 初日犠牲者について
      p 一般に、占卜师や灵能者が複数COした場合、その中に真がいるとみなすのが普通です。しかし、替身君に何か的职业が割り当てられた場合、そ的职业は2日目の時点で既にいないことになります。このような状态を<strong>欠け</strong>といいます。例えば「占い欠け」ならば替身君が占卜师になった状态のことです。
      p こうなると、例えば「2-1」で「真狂-狼」とか、そういう状态になります。ですから、占いや灵能をCOする人が1人しかいない場合でも確実にその人が真とは限りません。この点に気をつけて推理しましょう。
  p: a(href="welcome2") 続き
