section.manual.long
  p: a(href="/manual") 返回
  h1 人狼入門
  p 人狼是相當複雜的遊戲。本頁面主要面向新手與剛接觸在線人狼遊戲不久的玩家介紹一些基本的心得。
  p 在閱讀本頁之前請先閱讀<a href="rule">規則</a>頁面。
  p 本頁面的入門解說，將基於普通配置的人狼遊戲來展開。對於更複雜的人狼遊戲，請開動腦筋多多思考。
  
  section
    h2 基本的進行
    p 正如規則所述，人狼是通過<b>晝</b>、<b>夜</b>交替展開的遊戲。一般來說，白天的第一件事是<b>問好</b>。總之先說一句「早上好」吧（然而，有職業的人不這樣做的場合還是有的）。
    p 然後，往往能力者們就會開始<b>CO</b>（coming out; 公開自己職業）了。參加者們根據這些信息展開推理，然後最終迎來白天的結束並進行處刑投票。
    p 然後遊戲環節將進入夜晚。在夜晚，能力者可以發動能力，無能力者則無法行動。請在夜晚也積極推理吧。將白天的大家的發言整理一遍認真推敲一遍是個不錯的選擇。
    p 接著白天再次到來，大家會發現<strong>屍體</strong>。這就是夜晚被人狼所襲擊的人。一般來說每天早上會出現一具屍體，但是一些情況下可能會沒有屍體，或者出現2具屍體。
    p 這些被人狼襲擊或者被處刑的玩家無法繼續參與遊戲，轉而變成只能旁觀的狀態。死後可以與其他死亡的玩家對話，但是這些對話無法傳遞給仍然存活的玩家。死後的狀態被稱為<b>靈界</b>。
    p 關於人狼的方面，自己明明不是人狼卻遭到猜疑的情況並不罕見。遇到這樣的情況請不要過於激動。
    p 此外，自己明明不是人狼卻被佔卜師（後述）指認為人狼的情況也時有發生。會發生這種情況只是因為占卜師是假的。也請不要激動，稍稍為推理素材的增加而高興吧。

  section
    h2 各個職業的心得
    p 人狼遊戲中有許多具體的職業。各個職業都有所屬的<b>陣營</b>，請為了自己<strong>所屬陣營的勝利</strong>努力吧。

  section
    h2 村人陣營
    p 村人陣營的目的是將<strong>人狼</strong>全滅，以及如果有<strong>妖狐</strong>的話也要將妖狐全滅。
    p 但是，如果在妖狐還存活的情況下將人狼全滅就會讓妖狐陣營取得勝利，所以如果有妖狐的話要在人狼全滅之前先將妖狐全滅。
    p 為此，如果能夠判明一名人狼是<b>LW</b>（Last Wolf: 最後一名活著的人浪）的話，可以把LW一直留到剛剛好能夠吊死他的最後一刻來剿滅妖狐。
    p 值得注意的是，村人側基本不說假話，因為即使說謊村人也無法得到好處。即使存在例外的情況，村人側也盡量不要說假話。

    section
      h3 村人
      p <b>村人</b>沒有任何特殊能力，唯一能做事情的就是推理，唯一擁有的武器就是投票處刑。所以請謹慎推理然後慎重投票。認真考慮的話村人可能要比後述的占卜師要難。
    section
      h3 占卜師
      details
        summary 占卜師要占卜<strong>灰名單</strong>的身份。占卜結果要盡可能快地傳達給其他村人。

        p 作為<b>占卜師</b>的第一要務，就是<strong>向村子傳達情報</strong>。
        p 占卜師每晚可以選擇一個人進行占卜，判斷目標是否是人狼。對於村側來說找到人狼無疑是有巨大幫助的，因此占卜師的首要目標是尋找人狼。毋庸多言，即使得出了目標不是人狼的的結果，也可以把目標從處刑候補名單中去除，並不是無用功。
        p 占卜師中有很多人會在第二天的白天（最初的白天）CO，也會有人選擇潛伏（不CO而選擇隱藏在村人中）。如果是初心者不是很明白的話，CO也沒有什麼問題。如果選擇了潛伏，並且房間允許使用<b>遺言</b>（死亡時自動公開的信息，需要提前編輯保存）的話，請在遺言中CO，並且認真記錄所有的占卜結果。
        section
          h4 關於CO
          details
            summary 沒有什麼特別考慮的話立即CO也沒有關係。
            p 占卜師CO的時機正如前文所述在第二天白天比較好，CO的時候不必拘泥於「早上好」之類的問候，可以直接發表占卜結果。根據狀況的不同，其他村人可能會視情況判斷占卜師的真偽。雖然這麼說，占卜師為了肅清假占也有裝作普通村人正常地打招呼的情況，不能一概而論。
            p 特別的，早占卜結果將某人<b>判定為人狼</b>的場合下迅速CO出比較有利。為了盡快CO出，可以夜晚在發言欄事先輸入好「占卜師CO，××是」之類的文字。
            p 另外，占卜師作為村側強力職業，對人狼來說是非常大的威脅。因此，人狼會尋找機會將占卜師咬死（襲擊）（但是，如果有複數占卜師CO的話，人狼也可能會因為不知道誰是真的占卜師而猶豫）。在占卜師早CO的情況下，<strong>獵人</strong>（後述）可以保護占卜師。占卜師對村側來說非常重要，所以獵人很有可能去保護占卜師，因此人狼也可能會猶豫咬不咬占卜師。對此而言，後述的靈能者也會出現相似的情況。
        section
          h4 關於占卜目標
          details
            summary 基本上優先占卜<b>灰名單</b>。最好避免占卜CO占卜或CO靈能的人。如果不清楚應該占卜誰可以與村人商量。
            p 占卜師能否完成職責很重要的一點是<strong>選擇占卜目標</strong>。
            p 首先，<strong>排除灰名單</strong>是第一要務。灰名單指的是尚未被佔卜的村人。特別是是序盤的<b>完全灰</b>（沒有被任何占卜師占卜過的人）可以作為優先占卜的目標。
            p 關於完全灰名單，由於自己知道自己是真占，所以明白其他的占卜師可能是偽物，但是對於其他的參加者來說無法判斷占卜師真偽，所以盡量提供多的情報會比較有幫助。但是，相對的也有因為「希望判定出<b>確定村人</b>」等理由而去占卜其他偽占卜師占卜過的名單的行為。有複數占卜師，特別是CO出來的所有占卜師都給出白判定的話，目標是村人（非狼）的可能性極高。
            p 另外，已經CO過身份的人不被計入灰名單。需要注意的是，應該盡量避免去占卜其他職業者（靈能者等），以及和自己對抗的偽占卜師。究其原因，因為得出的情報對其他參加者基本沒有意義。假設占卜了和自己對抗的偽占卜師，可能出現目標是村人或者目標是人狼的兩種判定結果。如果判定為村人，那麼這名偽占卜師就是<b>狂人</b>。如果判定為人狼，那麼這名偽占卜師就是<b>人狼</b>。狂人雖然屬於人狼陣營但是在勝負判定時的時候會被記為村人，儘管可能會出現「沒有吊死狂人的餘裕」（如果不立刻吊死人狼村人就要輸了）的情況，但大部分時候對方不論是狂人也好、人狼也罷，總之對方是人外（村人陣營以外的人）的話吊死就可以了，因此追究偽占卜師究竟是人狼還是狂人的做法，在大多數情況下價值很低。
            p 占卜靈能者也是一樣的情況。無論如何，靈能者的占卜結果是白的話也無法判斷是真靈能還是狂人偽裝的假靈能，所以基本上沒有什麼意義。
            p 還有，占卜灰名單的時候，也盡量不要選擇「放著不管也可能會被吊死的人」比較好。比如說沉默寡言的人。即使不去占卜，處刑後也可以由<b>靈能者</b>來判斷身份（後述），如果處刑到狼就是運氣好。因此，占卜一些看起來比較容易活下來的玩家是相對有意義的。另外，靈能者自身也是很容易被處刑的職業，所以放著不去占卜也沒有什麼問題。
            p 另外，發表占卜結果的時候附帶上「占卜理由」會更容易使人相信。遊戲剛開始的第一天夜裡因為沒有情報所以不需要什麼理由，第一天之後所有灰名單玩家的「發言內容」、「向某人投票」等都可以成為占卜的根據。
        section
          h4 關於咒殺
          p 占卜師占卜到妖狐的時候，妖狐會被<strong>咒殺</strong>。出現咒殺的時候，次日早上<b>會出現2具屍體</b>（但是，人狼襲擊失敗的情況下（襲擊到妖狐或者獵人GJ（後述））仍然只會出現1具屍體）。出現了多具屍體的時候，占卜師即可判明哪一具屍體是被咒殺的妖狐，而普通村人則無法分辨妖狐與普通被襲擊的屍體。無論如何，此時如果某個占卜師自稱占卜了兩具屍體以外的人，就會露出致命的破綻（不可能是真的占卜師）。
          p 發生咒殺的話可以很容易證明真占。真的占卜師可以立即發表占卜結果，而假的占卜師要修改自己準備的假占卜結果以免出現破綻從而發言會比較晚。
          p 順便一提，如果沒有開啟「咒殺提示」，就只有早上出現2具屍體的時候才可以確定妖狐死亡的情況。

    section
      h3 靈能者
      details
        summary 霊能者は結果を発表していれば役目を果たせます。基本は占い師の後くらいにCOしますが占い師が黒を出したら潜伏することが多いです。
        p <b>霊能者</b>は受動的な役職です。初心者がやる分には、ただ結果のみを発表していれば役目を果たしたことになるので楽な役職といえるでしょう。
        p 霊能者は、「処刑された人」が村人だったか人狼だったかが分かる役職です。これは、次の朝に自動的に分かります。「人狼に襲われた人」が人狼のわけがありませんから、霊能者は人狼が今までに何人死んだか、逆に言えばまだ何人の人狼が生き残っているかが正確に分かります。
        p 霊能者が活躍する場面は、たとえば占い師が誰かに人狼判定を出した場合です。人狼判定が出された人は、その占い師が本物かどうか分からなくても吊ってしまうことが多いです。これは<strong>霊能者とのラインを見る</strong>ためです。
        p 例えば、占い師Aが人狼判定を出した人を処刑して、次の日に霊能者Bが処刑された人に人狼判定を出したとします。このとき、占い師Aと霊能者Bは<b>ラインが繋がった</b>といいます。逆に、例えば霊能者Bが村人判定を出した場合、占い師Aと霊能者Bが両方とも本物であるという可能性は消えます。このとき、<b>割れた</b>とか<b>ラインが切れた</b>とかいいます。
        p また、占い師Aと霊能者B、占い師Cと霊能者Dがそれぞれラインが繋がった場合、「Aが本物ならばBも本物」「Cが本物ならばDも本物」、あるいはその逆が成り立ちそうだ（絶対とは言えません）ということが見えてきます。このようなことから真占いや真霊能を推理するためにラインは重要な情報です。
        p とはいえ、実際には、霊能者はすぐ処刑されてしまうことも多いです。なぜかというと、やはり占い師のほうが情報の重要度が高いとみなされるので、例えば霊能者が2人COした場合、どちらかが人狼の可能性が高いとして<strong>ローラー</strong>（COした人を全員処刑してしまうこと）が行われることも多いからです。この方法ならば偽者も確実に処刑できます。
        section
          h4 COのタイミングについて
          p 霊能者がCOするタイミングは、色々パターンがありますが、初心者でよく分からないならば2日目に占い師の後くらいにCOするのがよいでしょう。
          p ただし、占い師が誰かに人狼判定を出した場合は潜伏することが多いです。これは、人狼に誰が霊能者であるかを分からなくするためであり、狩人の護衛先を絞り込みやすくするためです。

    section
      h3 獵人
      details
        summary 狩人は人狼に襲われたくない人を守ります。基本はCOしてはいけません。
        p <b>狩人</b>は、前述の通り人狼から村人を守る役職です。狩人の役目とはつまり、<strong>死んでほしくない人を確実に守ること</strong>です。
        p 人狼にとって、狩人はとても邪魔な存在です。殺したい人を殺せないかもしれないからです。また、GJ（Good Job: 狩人が護衛に成功すること）が起こると<strong>吊り回数</strong>が増えることがあり、そうすると人狼は不利になります。
        p 吊り回数というのは、例えば現在10人のとき、処刑で1人、人狼に襲われて1人死ぬので1日で計2人死ぬと考え、これを「10→8→6→4→2」などと書きます。人狼が生き残ったまま残り2人になると負けですから、あと4回処刑を行うことができ、これを「吊り回数4回」であるといいます。
        p そこで、10→8のところで狩人がGJしたと仮定しましょう。すると、10の次は9になります。すると「10→9→7→5→3→1」となります。すると、吊り回数は5回に増えていることがわかります。これを吊り回数が増えたといいます。
        p さて、前述のように狩人は邪魔な存在ですから、人狼は狩人を是が非でも殺したいはずです。なので、狩人は基本<strong>COしてはいけません</strong>。狩人は自分を守ることはできないので、COしたらその日の夜にほぼ確実に殺されることでしょう。もし狩人がCOするとしても、終盤になってからですが、基本はCOしないものとみていいでしょう。
        p また、狩人がCOしないのにはもう一つ理由があります。狩人は人狼の噛みに対する抑止力ですから、狩人が死んだのがばれてしまったら人狼は自由に殺したい人を殺せます。これはまずい状況です。ですから、狩人は死んだ後も人狼に対して<b>プレッシャー</b>を与えつづける必要があるのです。狩人が死んだことを悟られてはいけないのです。
        p ただし、終盤には人狼が狩人を騙ってくることがあります。そういうときもしこちらもまだ生き残っていたら、出たほうがよいでしょう。そういう場合は人狼も追い詰められていることも多く、人狼候補を2択に絞れることもあるからです。こういうときのために、狩人は<strong>狩人日記</strong>を用意しておくのが一般的です。これは、2日目以降について「誰を護衛したか」「誰が噛まれたか」を毎日記録しておくものです。これも、占い師同様に理由があると望ましいでしょう。狩人の場合誰を護衛したかというのは、得にGJがあったときには重要な情報ですので、COしたからにはなるべく情報を村に与えるという観点からこれを発表することになります。他の村人たちも、これをみて狩人の真偽を判断したりします。
        p 狩人に守られた人は、その人が妖狐で呪殺でもされない限り、朝になったら死んでいることはありません。逆に言うと、わりとレアなケースですが、護衛していた人が朝死んでいたら、その人以外を呪殺したと主張する占い師は偽であることが明らかになります。終盤の場合には、狩人なのにCOしてこれを指摘することが稀にあるかもしれません。こうすることで、その日の夜に狩人は噛まれるでしょうが、その場合誰が占い師か分かるし、その占い師が最低一日は生き残ります。

    section
      h3 共有者
      details
        summary 共有者は村のまとめ役です。わりとみんな指示に従ってくれます。自信がなければ相方に任せましょう。
        p <b>共有者</b>は、基本的にCOすれば確定村人であると扱われます。共有者は2人を互いに把握して夜に会話できるので、互いに誰がもう一人の共有者か知っています。そのため、偽の共有者がCOしても、本物の共有者がそれを否定してもう一人の真共有者と互いに確認すれば、その人が偽であることがばれてしまいます。人外が共有者を騙るには人狼が2人出てきて騙る必要があり（狂人は人狼と互いに認識できないので共有を騙ることは難しい）、負担がたいへん大きく得策とはいえません。したがって、共有者はCOすれば確定村人になります。
        p 共有者は確実に村人なので、村の<b>まとめ役</b>になることも多いです。初心者に負担が大きいと思うならば、夜のうちに相方に自分が初心者であると打ち明けて相方に指揮をとってもらいましょう。
        p 共有者の役目は、基本的には<b>確定村人</b>を作る（COすれば確定村人を作ったことになる）ということです。もし共有者のほかに確定村人（占い師全員に村人判定をもらうなど）があらわれた場合は、共有者の死後そちらが中心になって指揮をする場合もあります。
        p ちなみに、共有者は最後まで生き残ることはあまりありません。なぜなら、<b>最終日</b>（吊り回数が残り1回の日）に数人が生き残って何択かになったとき、共有者がいると人狼候補から外れて人狼にとって不利なので、大抵はその前に人狼に教われてしまうからです。
        section
          h4 關於CO
          details
            summary 基本的にはCOしますが、あえて潜伏する戦術もあります。
            p 共有者は、潜伏する場合も1人だけCOする場合も、FO（フルオープン：2人ともCOすること）の場合もあります。それぞれ利点があります。
            p 一人だけCOするということは、COした共有者は相方が誰であるか発表しないということです。この場合「共有CO 相方生存」などといってCOします。
            p 例えば共有者が1人か2人潜伏する場合は、<strong>共有トラップ</strong>が利用できます。これは、偽の占い師が潜伏の共有者に対して<b>人狼判定</b>を出したならば、その共有者がCOすることでその場でその占い師の破綻が確定するということです。
            p これにより偽の占い師は誰かに人狼判定を出すことをためらい、人狼判定を出した占い師の信用が少し高まることもあります。ただし、真の占い師が共有者を占ってしまい無駄になる（占わなくても村人であることがはっきりしているから）かもしれないというデメリットもあります。
            p 逆にFOの利点は無駄占いがないということと、<b>グレラン</b>（後述）でも共有者が吊られないということです。
        section
          h4 指定について
          p 共有者は確定村人なので、その信頼をいかして「指定吊り」を行うことがあります。これは、「今日は××さんに投票してください」と指定することです。これにより、共有者が1人しかCOしていなくても、もう一人の共有者が吊られるのを避けることができます。
          p ただし、この場合「参加者たちが誰に投票したか」という<b>推理材料</b>が失われてしまうというデメリットもあります。

    section
      h2 人狼陣營
      p 次に人狼陣営です。人狼陣営は嘘をつくことができるので、人狼におけるゲームメイカーであるといえるでしょう。
      p 人狼陣営がどんな戦術を用いてくるかによってゲーム展開が変わります。
      p 人狼陣営の目標は、処刑や噛みを用いて村人を減らし、人狼が全滅しないことです。具体的には、村人の数が人狼の数以下になると勝利です。

      section
        h3 人狼
        p <b>人狼</b>は、共有者と同様に夜に話し合いをすることができます。話し合いは、他の人に「狼の遠吠え」として届くので、内容は分かりませんが発言の数は分かります。ですから、LWになったときなど、それを悟らせないために一人で多く発言したりしてごまかしたり、あるいはその逆もあります。
        p 人狼は全員で話し合って、夜に一人襲うことができます。初心者ならば、やはり他の人に初心者であると伝えて、噛み先（誰を襲うか）を決めてもらったり戦術をアドバイスしてもらったりしましょう。
        section
          h4 關於襲擊
          details
            summary 基本的には占い師や確定村人など、人狼にとって脅威となる存在を襲います。ただし露骨すぎると怪しまれます。基本的に1人以上は潜伏します。
            p 人狼にとって重要なことは誰を噛むかということです。これによって有利にも不利にもなります。
            p たとえば<strong>占い師を襲う</strong>場合には、<b>狩人</b>に守られるかもしれないというリスクとか、占い師を抜く（殺す）ことでその占い師が真である可能性が（村人側からみて）高くなり、その占い師が村人判定を出した人が人狼候補から外れて人狼候補が狭まってしまうなどのリスクを考慮します。反対にメリットは、その占い師に人狼判定を出されないということです。
            p 占い師は襲われたらその占い師は人狼でないことが明らかになりますが、まだ狂人の可能性もあります。ですから噛まれたから真ということにはなりません。
            p 占い師が人狼に襲われた場合、「人狼からみて占い師の<b>真贋</b>がついたのではないか」という疑惑が発生します。つまり、COした2人の占い師が真占い師と狂人という内訳だった場合、狂人がでたらめな結果を出して、そのうち実際と食い違う結果（人狼に対して村人を判定を出すなど）を出した時点で、人狼からはどちらが狂人でどちらか本物か分かるので、本物を狙い撃って襲うことができます。これも、噛まれた占い師の信頼が上がる理由です。
            p また、<strong>占い師が村人判定を出した人を噛む</strong>のもよくあるパターンです。村人判定を出された人は疑われにくくなりますから、なるべく怪しい人を多く残すためです。
            p 特に、確定村人が発生した場合はその人を噛むこともよくあります。ただし、<b>狩人</b>が能力者そっちのけで確定村人を守りにきている場合もありますから注意が必要です。
            p とにかく、噛みというのは人狼の武器ですから、なるべく人狼候補を多く残すように、占い師はなるべく早く殺すようにとうまく活用していきましょう。
            p ちなみに、<strong>狩人探し</strong>といって、あえてグレーの怪しいところを噛んでいく場合もあります。名前の通り狩人を殺したいからです。もっとも狩人が占い師から村人判定をもらうことも大いにありますので、狩人を探すなら必ずグレーを噛むというわけではありません。
        section
          h4 騙りについて
          details
            summary 霊能騙りがありがちですが、占い師を騙ってもいいです。潜伏も選択肢の1つです。
            p 人狼陣営の人は<b>騙る</b>（他の役職になりすましてCOしたり結果を発表したりする）ことができます。これがないと村人有利に進んでしまうので、基本的に何かを騙ることになります。
            p とはいっても、人狼が全員騙りに出るのは危険であり、そういうのは一般に奇策とみなされます。最低でも一人は潜伏しているのがよいでしょう。人狼の場合には、何かを騙る場合と全潜伏の場合もあります。全潜伏の場合は、騙るのは狂人（後述）に任せるということになります。
            p 人狼がよく騙るのは<strong>霊能者</strong>です。人狼はそもそも誰が人狼か把握していますから、本物の霊能者と同じ結果を出すことも可能です。ただし、霊能者はローラーされやすいという欠点があります。
            p 狂人が占い師を騙っている場合、人狼に対して村人判定を出したり、逆に村人に対して人狼判定を出した場合は人狼からみてその占い師が偽だということがわかり、多くの場合同時に真占い師が誰かも分かります。
            p そこで、偽の占い師とラインを繋いで偽占い師を守ったり、あるいはあえて本物の占い師とラインをつないで自分を守ったりできます。
            p ただし、人狼が占い師を騙ることもわりとあります。
            p まあ初心者の場合は、何かを騙る自信がなかったら潜伏するのがよいでしょう。

      section
        h3 狂人
        details
          summary 狂人はまず騙るのが普通です。何か騙ってみましょう。場合によっては吊られるのも役目です。
          p <b>狂人</b>は、村人であるにもかかわらず人狼の味方です。
          p 村人であるということは、勝利判定のときも村人側で見るし、占い師や霊能者からみても村人だということです。
          p 狂人の役目は、<strong>何かを騙って村を混乱させること</strong>です。つまり、騙るのが役目だといっていいでしょう。性質上、占い師や霊能者などについても把握している必要があり難しい役職です。初心者ならば、占い師あたりを騙るのが無難でしょう。
          section
            h4 騙りについて
            details
              summary 占い師を騙ると<b>狂アピ</b>（人狼に対して自分が狂人であるとアピールすること）がしやすいです。
              p 狂人の騙りは<strong>占い師</strong>が一般的です。狂人と人狼の騙り方の違いに大きく影響を与えるのは、狂人は人狼を把握できないということです。人狼も最初は狂人を把握できませんが、狂人の動きによっては人狼から把握できることもあります。
              p 狂人は、人狼に対して自分が狂人であることを知らせることができればいいのですが、それをするには占い師のほうがやりやすいです。
              p また、狂人の役目は<strong>吊りを無駄に消費させること</strong>とか、<strong>本物を巻き添えにして死ぬこと</strong>であると言うこともあります。つまり、たとえば狂人が占い師を騙り誰かに人狼判定を出したとしましょう。それでその人が吊られれば一つ吊りが消費されました（まれに本当に人狼に人狼判定を出してしまうこともありますが）。その後霊能者とラインが繋がらず、偽であるということがバレてしまったら大抵は吊られるでしょう。これで狂人は吊りを2つ消費させ、2回分人狼を守ったことになります。また、ニセとバレなければ、本物の占い師が誰か分からなくなるため人狼に有利になります。
              p 本物を巻き添えにするというのは、例えば占いローラーや、霊能を騙る場合は霊能ローラーに持ち込めば、本物も一緒に吊ることができ、最低2回は吊りを無駄にさせることができました。
              p また、同じ意味で<strong>狂人は噛まれるべきではない</strong>ともいいます。人狼は、狂人はほっといてもかってに吊られてくれるから、それよりは他の村人陣営の人を噛んだほう得です。言い換えると、狂人を噛んでしまうと損なのです。
              p 初心者の場合は、占い師を騙って適当なところに村人判定をだし、適当なところで人狼判定を出してみるといいでしょう。
              p ただし、これは人狼の騙りにも言えることですが、<strong>破綻</strong>には気をつけて下さい。たとえば破綻の例としては、あまり村人判定を出しすぎると、人狼候補が1人もいなくなってしまい矛盾することがあります（ゲームが続いている限りまだ人狼は1人以上生き残っているため）。こうなると破綻です。破綻しても吊られることはできますが、真占い師を確定させてしまうことがあるので避けたほうがよいでしょう。

    section
      h2 妖狐陣營
      p 妖狐陣營即為妖狐而已。
      section
        h3 妖狐
        details
          summary 吊られず占われず噛まれず、ひっそりと生き残り続けましょう。いっそのこと騙るのも手です。
          p <b>妖狐</b>は、基本的に一人しかいません。つまり村の中に誰も仲間がいないということです。
          p 妖狐の目的は、<strong>ゲーム終了まで生き残る</strong>ことです。妖狐は占われると<strong>呪殺</strong>されてしまうので、<strong>占われてはいけない</strong>のです。
          p また、当然<strong>吊られてもいけません</strong>。そして、妖狐を殺そうとしてくるのは<b>村人陣営</b>だけではありません。<b>人狼陣営</b>も妖狐が生存していては勝てないので、人狼たちも殺そうとしてきます。
          p 妖狐は人狼に襲われても死にません。しかし、人狼に襲われると、狩人のGJ同様に次の日に朝の死体がないので人狼は不審に思います。人狼に妖狐であることがばれてしまうかもしれません。
          p ばれてしまうと、占いを騙っている人狼が妖狐に対して人狼判定を出してきたり、あるいは人狼がなんと人狼COして妖狐を全員に発表する（当然人狼も処刑されてしまう捨て身の方法です）という<strong>告発</strong>をされてしまうことがあります。
          p ですからなるべく<strong>噛まれないほうがいい</strong>ということです。この、吊られず噛まれず占われずというのはとても難しく、妖狐の勝率は低いです。その反面、勝てたら楽しいです。
          section
            h4 騙りについて
            p 妖狐も村人陣営ではないですから、騙ることが可能です。もっとも、<strong>潜伏</strong>することも多いので、初心者のうちは潜伏して耐えているのがいいでしょう。
            p 騙る場合は<strong>占い師</strong>がよいでしょう。なんとかして村人から真占い師であるという信頼を得られれば、最後まで生き残ることが可能かもしれません（ただし、吊り回数に余裕がありすぎると、「心配なので一応占い師も吊っておく」という<strong>ケア</strong>が発生することもあります）。ただ、妖狐は噛まれないので、「占い師のくせに人狼に襲われない」ということが怪しまれることもあります。
            p 霊能者を騙ると、ローラーに遭いやすいのであまり妖狐の霊能騙りはないでしょう。

  section
    h2 其他的注意事項
    p 介紹其他參加人狼時需要注意的事項。
    section
      h3 用語
      p 在人狼遊戲當中會使用一些術語。在這邊介紹最基本的，不理解的話可以稍微參照。除此之外還有不明白的用語就到其他地方查詢吧。
      dl
        dt 黑・白
        dd 占卜師語靈能者的，<b>人狼判定</b>為<b>黑</b>、<b>村人判定</b>為<b>白</b>。黑會用「●」、白會用「○」記號標記。「占卜CO ××桑是●」這樣子說的話，就是代表對××宣告判定為人狼的意思。
        dd 相對的，也有「黑」為人狼、「白」為村人的使用方式。
        dt 灰
        dd 沒有被占卜師占卜過的人。一般來說沒有CO任何職業的人都算在灰。「××桑的灰」是指沒有被這位占卜師（××桑）占卜過的人，僅僅「灰」而已即是指完全灰（完全沒有被占卜師占卜過的人）。
        dt グレラン
        dd グレーランダムのこと。グレーの中から好きな人に投票すること。派生語で「占いラン」などもある。
        dt ローラー
        dd ある役職をCOした人を順番に全員処刑すること。「占いローラー」や「霊能ローラー」といって使う。本物を犠牲にして、人外を確実に排除できるという利点がある。
        dt 2-1,2-2など
        dd 「2-1」という場合、「占い師が2人、霊能者が1人COした状態」を指す。「2-2」の場合、占い師が2人、霊能者も2人。
        dt 「真狂-真」など
        dd 占い師・霊能者の内訳を書く方法。「真狂-真」は、「占い師2人のうちどちらかが真占い師でどちらかが狂人。1人いる霊能者は真霊能」という意味である。
        dd 例えば「真狼-真狂」ならば「占い師2人のうちどちらかが真占いでどちらかが人狼。霊能者2人のうちどちらかが真霊能でどちらかが狂人」という意味になる。
        dd 「これは真狂-真狼の可能性が高い」などというように使われる。
        dt 奇数進行・偶数進行
        dd 昼の時点で生存者の数が奇数ならば奇数進行といい、偶数ならば偶数進行という。
        dd 奇数進行ならば狩人がGJを起こしても吊り回数が増えないため、人狼が狩人を恐れず占いを噛んでくることなどもある。逆に偶数進行ならばそのような危険な噛みを躊躇することもある。
        dt 白進行・黒進行
        dd 2日目に、占い師がみんな白（村人判定）を出したときを白進行という。逆に、誰かが黒を出したときを黒進行という。黒進行の場合は霊能者や共有者はCOしないで潜伏していることが多い。
        dt 初日
        dd 初日犠牲者。一日目の夜に人狼に襲われる人。この人狼では「身代わりくん」というNPCである。
    section
      h3 關於初日犠牲者
      p 一般に、占い師や霊能者が複数COした場合、その中に真がいるとみなすのが普通です。しかし、身代わりくんに何かの役職が割り当てられた場合、その役職は2日目の時点で既にいないことになります。このような状態を<strong>欠け</strong>といいます。例えば「占い欠け」ならば身代わりくんが占い師になった状態のことです。
      p こうなると、例えば「2-1」で「真狂-狼」とか、そういう状態になります。ですから、占いや霊能をCOする人が1人しかいない場合でも確実にその人が真とは限りません。この点に気をつけて推理しましょう。
  p: a(href="welcome2") 続き
