p 月下人狼的原创职业。人狼的一种。
h2 特殊能力
p 第二天夜里开始只限一次，可以从生存者中选择一人潜入他的家里「变成诱饵」。使用了变成诱饵的能力之后，当天夜里所有针对被选中对象使用的、不是立即生效的夜间能力的实际使用目标将会强制改为囮狼。
p 如果囮狼使用技能的对象同时是人狼的袭击对象，当夜会由于囮狼把人狼的袭击对象改为自己而变成平安夜。
p 对于占卜师、法医学者之类的职业，如果他们的能力对象被囮狼选中，那么受囮狼技能影响的只有技能的结果。例如占卜师A对村人B使用占卜的同夜，囮狼也对村人B使用了能力，A将得到类似「根据占卜的结果，B是人狼」这样的系统通知。

h2 胜利条件
p 人狼阵营的胜利。
