p 月下人狼的原创职业。在热闹的节日时大肆破坏村子的安宁。第三阵营的职业。

h2 特殊能力
p 每天晚上，暴徒可以从生存者中选择一人使他加入暴动。被选中的人会成为暴动者。暴徒被视为第一名暴动者。
p 当生存者全为暴动者时，暴徒阵营达成胜利。

h3 暴动者

p 暴动者每晚可以选择1个人对其施加暴行。如果玩家只被1名暴动者施加暴行什么都不会发生，但是如果玩家同时被2名或者更多暴动者施加暴行的话，玩家就会死亡。
p 暴徒能够知道暴动者都有谁。一般的暴动者不能互相辨别。
p 暴徒阵营获胜时暴动者将一同获胜。

h3 保安

p 如果村子里出现了暴徒，将随机任命玩家为保安（村子每8人中任命1名保安）。保安不会加入暴动。
p 保安每晚可以选择1个人将其逮捕，被逮捕的人当夜的暴行将会无效，并变成不是暴动者。

h2 暴徒的胜利条件
p 暴徒阵营的胜利（当生存者全为暴动者时，暴徒与暴动者获胜）。

