p 「人狼パーティー」中的职业。
h2 特殊能力
p 每晚可以选择一名生存者进行侦察（不能选择替身君）。次日早上，可以得知这个人是否可以使用夜间技能。
p 忍者所侦查的人可以使用夜间技能，是根据该人是否在当天能看到技能选择框来判断的。与实际上有没有使用夜间技能无关。 例如犬、圣职者等只限一次的技能如果已经发动了，那么选择框就不会显示出来，所以判断他们是不可以使用夜间技能的。
p 没有选择对象的情况下则会猝死，这一点请务必注意。
h2 胜利条件
p 村人阵营的胜利


