p 「ねじれ天国」中存在的職業。和背德者一樣，雖然是村人卻屬於妖狐陣營。
h2 特殊能力
p 第一天夜裡選擇一個人進行褻瀆。被褻瀆的人將在不知情的情況下成為狐憑。
p 但是，一旦褻瀆了逃亡者・女王觀戰者・騙子・間諜Ⅱ・一匹狼的時候，對方不會發生變化，而褻瀆者自身將在不知情的情況下變成狐憑。
p 在結束判定時狐憑會被當做妖狐陣營計算，狐憑被人狼襲擊的時候不會死亡，狐憑被占卜的時候會被咒殺。但是狐憑的勝利條件不會改變。
p 褻瀆者在褻瀆了某個人之後就和背德者相同，在妖狐（包括狐憑）全滅之後，會追隨妖狐自殺。
h2 勝利條件
p 妖狐陣營的勝利

