p 「ねじれ天国」中登場的角色。人狼陣營。
h2 特殊能力
p 遊戲中<strong>只限一次</strong>，可以向生存者身上秘密的綁上炸彈。
p 身上綁有炸彈的人被處刑死亡的時候，會在投票者中隨機選一人連坐死亡。
p 身上綁有炸彈的人被人狼或吸血鬼襲擊的時候，襲擊者會連坐死亡。
p 身上綁有炸彈的人被「獵人」、「遊蕩獵人」、「犬」護衛的時候，護衛者連坐死亡。
h2 勝利條件
p 人狼陣營的勝利

