p 「続わかめてサーバー」中存在的職業。擁有連坐能力和復活能力。村人側。
h2 特殊能力
p 死亡時，會在生存者中隨機選一人連坐死亡。但是被人狼襲擊死亡的時候會連坐襲擊者死亡。
p 第二天以後，每天夜晚可以選擇一個人嘗試將其復活。這時，有一定幾率復活選中的人，有時會復活其他人。
p 此外，在死後每晚都會嘗試復活自己。
h2 勝利條件
p 村人陣營的勝利
h2 參考
p 「埋毒者」擁有相同的連坐能力，但是沒有復活能力。

