p 「Twitter人狼」中登場的角色。可以策反狂人。
h2 特殊能力
p 第二天以後，夜晚可以選擇一個人，如果此人是村人陣營以外的人，將策反他，把他的勝利條件改變為「村人陣營勝利」。
p 但是，如果選擇了人狼系（除了狂人狼）或吸血鬼的場合下，會被反殺。
p 特別地，策士被聖職者守護的情況下會觸發免死而不會死亡，但是策反行動不會成功。
p 被策反的一方不會知道策士是誰。
p 被策反的一方如果<strong>不是</strong>村人陣營的人，被策反的一方能夠知道自己被策反了。
p 被策反的一方如果<strong>是</strong>村人陣營的人，策反會失敗。
p 此外，策士本身無法得知策反行動是否成功了。
h2 勝利條件
p 村人陣營的勝利

