p 「人狼放浪記」的原創職業。人狼的一種。
h2 特殊能力
p 除了普通人狼相同的能力以外，可以在夜裡假死。
p 假死之後，第二天早上會被發現變成「不成樣子的屍體」，並被視為死亡。
p 假死之後，第二天夜裡可以取消假死（詐屍）。詐屍之後，將在白天復活。如果此時沒有詐屍，就再沒有詐屍的機會了（徹底死亡）。
p 狡猾的狼被視為復活能力者，將關閉靈界，直到狡猾的狼徹底死亡。
h2 勝利條件
p 人狼陣營的勝利