p 參考了達芬奇社發售的「狼」做成的職業。是獨立勢力，企圖支配村子。
h2 特殊能力
p 被人狼襲擊後不會死，被吸血鬼襲擊後會死。
p 靈能結果顯示為「人狼」。
p 被人狼襲擊之後不論本場遊戲是否開啟了「遭受襲擊警報」，惡魔本人都會看到「 被人狼襲擊了，惡魔的力量大幅增強。」的提示。被人狼襲擊的事件達成了惡魔一半的勝利條件。
p 特別的，如果惡魔被人狼襲擊的同時受到了「獵人」等守護系職業的保護，由於不構成勝利條件，「遭受襲擊警報」不會出現。
h2 勝利條件
p 被人狼襲擊之後，又被處刑的時候，單獨勝利。

