p 「人狼放浪記」中的職業。
h2 特殊能力
p 第2天開始，可以在選擇一名死亡者，調查死亡者是否持有某種死亡耐性（例如襲擊耐性、處刑耐性、護衛能力等）。調查結果將於次日早晨告知。
p 沒有選擇對象的情況下則會暴斃死，這一點請務必注意。
p 具體而言，以下職業被視為持有死亡耐性：
p 所有人狼系、
p 所有妖狐系、
p 狐憑、
p 吸血鬼、
p 惡魔、
p 貴族（只限場上仍有生存的奴隸時）、
p 逃亡者、硬漢、被詛咒者、
p 王子、
p 獵人、聖職者、犬、陷阱師、巫女、遊蕩獵人、Cosplayer。
h2 勝利條件
p 村人陣營的勝利


