p 村人和人狼之外的第三方勢力。即不包括在村人中，也不包括在人狼中。
h2 特殊能力
p 可以與其他妖狐相互辨別，在夜晚可以相互對話。即使被人狼襲擊了也不會死。
p 被占卜師占卜的時候會被咒殺。占卜師和靈能者會將其判斷為村人。
p 由於既不包括在村人中，也不包括在人狼中，結束判定的時候不會被計算。
h2 勝利條件
p 妖狐陣營的勝利。
p 村人或人狼陣營的勝利條件達成時有任何一個妖狐倖存，即為妖狐陣營的勝利。

