p 「究極人狼」中存在的職業。村人側。
h2 特殊能力
p 村人陣營的人死後，可以吸收並使用那個人的技能。
p 非村人陣營的人變成村人陣營（「更生者」）死後，可以吸收並使用那個人的技能。
p 特別的，弗蘭肯斯坦的怪物不能夠吸收以下能力：
p 「硬漢」·「被詛咒者」·「妖狐」·「逃亡者」等受襲擊而不死的能力；
p 「王子」受處刑而不死的能力；
p 「貴族」要求「奴隸」替死的能力；
p 「NEET」·「奴隸」等的特殊勝利條件；
p 「狼憑」等的特殊占卜、靈能結果。
p 相應的，弗蘭肯斯坦的怪物再吸收「老人」的能力後會衰老而死、吸收「奴隸」的能力後將為「貴族」替死。
p 弗蘭肯斯坦的怪物被處刑的場合，必須有多一個人被一同處刑。
h2 勝利條件
p 村人陣營的勝利

