p 由丘比特或求愛者所增加的副職業。勝利條件會發生變化。
h2 特殊能力
p 戀人的對象死後，會殉情自殺。
p 特別的，達成勝負判定條件後如果同時滿足了以下條件，遊戲將不會立刻結算勝負，而是繼續進行。
p ·「惡魔」和「邪教主」的勝利條件沒有達成。
p ·「多組戀人相互獨立」選項設為「是」。
p ·當前有複數組戀人生存。
p ·場上還有不是戀人的生存者。
h2 勝利條件
p 戀人陣營的勝利，並且自身生存。

