p 桃栗配置中的特殊職業。村人側。膽小的逃亡者決定靠東躲西藏來保護自己。
h2 特殊能力
p 第二天夜裡開始，每晚可以選擇一個參加者，躲到那個人家裡。這樣一來，即使自己被人狼或吸血鬼襲擊了也不會死。
p 逃亡者不會被「魔女」的「毒藥」毒死。
p 但是，逃亡目標一旦受到襲擊逃亡者也會一同死去。逃亡目標受到獵人保護的時候，逃亡者不會受到保護。
p 如果逃到人狼或吸血鬼家裡，逃亡者會立即死亡。
h2 勝利條件
p 村人陣營的勝利，並且自身生存。

