p 「Twitter人狼」中存在的職業。人狼的一種。
h2 特殊能力
p 基本上和人狼相同。
p 遊戲中<strong>只限一次</strong>，為了滿足自己的貪慾一夜之間可以多襲擊一個人。
p 這時，如果人狼的襲擊對像沒有全部死去的話，貪婪的狼自己會死去。
p 夜間人狼們會按照當晚<strong>發動</strong>襲擊的順序<strong>執行</strong>襲擊，一旦某個被襲擊的對象沒有死，整個襲擊序列將被終止，同時貪婪的狼會被反噬而死。
p 例如：A、B兩人按照順序被人狼襲擊。如果A沒有死的話，只有貪婪的狼死去，B不會受到襲擊；如果A死了，但B沒有死，貪婪的狼與A一同死去；如果A、B都死去了，貪婪的狼不會死去。
p 在「為狼之子復仇」或者複數「貪婪的狼」同時發動技能的時候，人狼將在能夠在夜間發動 3 次或更多襲擊。此時同樣的，一旦某次襲擊的對象沒有死，整個襲擊序列將被終止。
p 如果有複數「貪婪的狼」同時發動技能，襲擊失敗時，只有最後一名發動技能的「貪婪的狼」會被反噬而死。
h2 勝利條件
p 人狼陣營的勝利

