p 月下人狼原創職業。巧妙地操縱村人，成為人氣偶像吧。
h2 特殊能力
p 在最初的夜晚選擇一人使其成為自己的粉絲。偶像與粉絲之間能夠互相識別。
p 如果粉絲保持生存，偶像將能夠在每天早晨得知生存者中村人陣營玩家的數量。偶像死亡後，下一個夜裡粉絲將無法使用夜間技能。
p 如果進入第4天夜晚時粉絲仍生存，次日早上將隨機增加一名粉絲。此外，第五天開始如果沒有生存的粉絲，在處刑投票時如果與其他人得票數相同，偶像將優先被處刑。
h2 勝利條件
p 村人陣營的勝利
