p 「Twitter人狼」中存在的職業。村人側。
h2 特殊能力
p 遊戲中<strong>只限一次</strong>，可以在夜裡使用神聖的力量守護自己。
p 使用神聖的力量守護自己之後，從守護自己的當天夜晚開始，直到次日天黑處刑結束為止，在一般情況下可以免死任意次。
p 此時硬漢人狼能與巫女同歸於盡，任何力量都不能阻止自殺。
p 次日夜晚開始，巫女會按照一般的流程死亡。
p 巫女免死的時候不會有任何提示。
h2 勝利條件
p 村人陣營的勝利。

