p 桃栗配置中的特殊職業。曾經的狂人變成了現在這個一切關我鳥事的NEET！
h2 特殊能力
p 什麼都不用做就能勝利，出生的瞬間就被確定勝利。
p 雖然仍然能夠投票，但任何時候都會被認為已經投票了。白天即使不投票也不會死。
p 如果其他人投票結束後NEET仍未投票，NEET的投票將被跳過，直接進入處刑裁判。
p NEET如果想要投票，必須在其他人全部投票前，投出自己的一票。
p 現在不是狂人了，所以被人狼占卜師占卜不會有變化。
h2 勝利條件
p 不論如何都會勝利
p 但是NEET被變成「狼僕」、「戀人」、「更生者」等的情況下，將按照變化後的勝利條件判斷勝敗。

