p 「人狼パーティー」中的職業。
h2 特殊能力
p 每晚可以選擇一名生存者進行偵察（不能選擇替身君）。次日早上，可以得知這個人是否可以使用夜間技能。
p 忍者所偵查的人可以使用夜間技能，是根據該人是否在當天能看到技能選擇框來判斷的。與實際上有沒有使用夜間技能無關。 例如犬、聖職者等只限一次的技能如果已經發動了，那麼選擇框就不會顯示出來，所以判斷他們是不可以使用夜間技能的。
p 沒有選擇對象的情況下則會暴斃死，這一點請務必注意。
h2 勝利條件
p 村人陣營的勝利


