p 「ワンナイト人狼」中登場的角色。基本上屬於村人側。
h2 特殊能力
p 第一天夜裡選擇一名參加者，與選擇的人交換職業。能夠立刻知道盜取的職業，但是當天晚上不能使用這個職業的技能。
p 不能選擇替身君，可以選擇自己。
p 被選中的人會變成怪盜，但是在第二天夜晚之前不會知道自己變成了怪盜。
p 被選中的人一旦變成了「怪盜」，不能再盜取其他人的職業，並會同時失去所有副職業（例如「戀人」·「狼的僕從」）。
h2 勝利條件
p 村人陣營的勝利。
p 一旦發生了職業交換，以變更後的職業為準。

