p 「究極人狼」中登場的角色。村人側。
h2 特殊能力
p 在覺得合適的時機<strong>只限一次</strong>，夜裡選擇一個人，對這個人和他的左右兩人進行占卜（會將所有玩家視為一個首尾相接的圓桌，來辨別相對的左右位置，一定會選中三人），判斷其中是否有占卜結論<strong>不是「村人」</strong>的角色。
p 如果被選中的那個人是妖狐，妖狐將被咒殺。
p 如果被選中的那個人的左右中存在妖狐，左右的妖狐將不會被咒殺。
h2 勝利條件
p 村人陣營的勝利。

