p 「究極人狼」中登場的角色。村人側。
h2 特殊能力
p 在覺得合適的時機<strong>只限一次</strong>，在夜晚選擇一個人用神聖的力量對其守護。被守護的一方不會被告知「被神聖的力量守護了」這件事。
p 被神聖的力量守護的人在此後的<strong>任意時間內一般情況下只限一次可以免死</strong>。
p 此時硬漢人狼能與被神聖的力量守護的人同歸於盡，任何力量都不能阻止自殺。
p 被神聖的力量守護的人只限免死的時候，被守護的人本人才會被告知「被神聖的力量守護了」這件事。
p 聖職者不能守護自己。
h2 勝利條件
p 村人陣營的勝利。

