p 「量子人狼」的參加者。
h2 特殊能力
p 量子人狼的參加者們是村人・占卜師・人狼的機會將以概率表示。
p 在概率變為0%以前，可以使用占卜師和人狼的技能。
p 死後或這遊戲終了之後，概率函數將會坍縮，確定職業。
p 關於量子人狼的詳細信息請參考<a href="/manual/quantumwerewolf" target="_blank">關於量子人狼</a>。
h2 勝利條件
p 所屬陣營的勝利。
p 但是在概率函數坍縮之前，無法得知自己究竟屬於哪個陣營。

