p 「月下人狼」原創的職業。聖誕老人在聖誕節的時候會在勤勞的人狼玩家面前出現。
h2 特殊能力
p 每天夜裡選擇一名生存者送出禮物。收到禮物的玩家能夠使用禮物中的能力。
p 每個玩家只能收到一次禮物。生存者全員收到禮物之後聖誕老人將會離開村子。
p 禮物裡可能有占卜套裝・靈能套裝・守護套裝・巫女套裝等等。也有的時候禮物不會送達。
h2 勝利條件
p 村人陣營的勝利。
p 如果聖誕老人離開了村子，將和任何一個勝利的陣營一同享受勝利。

