p 「Twitter人狼」中存在的職業。人狼的一種。
h2 特殊能力
p 基本上與人狼相同。
p 遊戲中<strong>只限一次</strong>，可以「抱著同歸於盡的覺悟」襲擊目標，如果其他玩家的夜間技能（包括但不限於「襲擊」、「占卜」、「陷阱」、「詛咒」）結算完成後<strong>目標還沒有死</strong>，硬漢人狼會與目標同歸於盡。
p 被「抱著同歸於盡的覺悟」襲擊的目標一定會死（包括但不限於「妖狐」、「惡魔」、「逃亡者」、「被各種力量守護的對象」）。
p 
p 特別的，在「狼之子」、「貪婪的狼」效果發動，人狼們襲擊了複數對象的時候，如果硬漢人狼發動了技能，則視為硬漢人狼「抱著同歸於盡的覺悟」襲擊了所有目標。
h2 勝利條件
p 人狼陣營的勝利

