p 「うそつき人狼」中登場的角色。是村人的守護者。
h2 特殊能力
p 夜晚在村人門前埋下陷阱，保護村人免受人狼傷害。
p 門前被埋下陷阱的人遭到人狼襲擊的時候，代替這個人，將有一名人狼死去。
p 但是，如果一個人同時被陷阱師和獵人守護的時候，獵人將觸發陷阱死去。同時陷阱師和獵人都不能保護這個人免受人狼侵害。
p 不能連續兩天守護同一個人，第一天夜裡不能進行守護。
p 沒有選擇對象的情況下則會暴斃死，這一點請務必注意。
h2 勝利條件
p 村人陣營的勝利

