p 獵人弱化之後的職業。
h2 特殊能力
p 與獵人相同，可以在夜晚選擇一個人進行守護。但是，第一天夜裡不能守護。
p 遊蕩獵人無法再次守護平安夜裡守護過的目標。
p 平安夜的原因可以不是遊蕩獵人的成功守護。
p 例如：遊蕩獵人守護了村人A，而人狼襲擊了妖狐B。此時雖然實際上不是遊蕩獵人守護成功，但遊蕩獵人將無法再次守護村人A。
p 相對的，如果某一天不是平安夜，那麼即使實際上遊蕩獵人成功守護了目標，遊蕩獵人仍可以繼續守護這個目標。
p 例如：遊蕩獵人守護了占卜師A，人狼襲擊了占卜師A，占卜師A占卜了妖狐B。此時不是平安夜，所以遊蕩獵人可以繼續守護占卜師A。
h2 勝利條件
p 村人陣營的勝利

