p 桃栗配置中的特殊職業。人狼的一種。同時持有人狼襲擊村人的能力和強大的占卜能力。
h2 特殊能力
p 能夠與其他人狼相互辨別，並在夜間對話。
p 夜晚選擇一名參加者進行占卜，能夠得知這名參加者的職業名。
p 但是，如果這名參加者是占卜師，人狼占卜師將被咒殺。
p 此外，如果這名參加者是狂人系的職業，這名參加者將隨機變成其他職業。
p 人狼占卜師能夠咒殺妖狐。
h2 勝利條件
p 人狼陣營的勝利

