p 妖狐的亞種。被認為是<a href="https://twitter.com/igako_jinro" target="_blank">いがこ氏</a>設計的職業。
h2 特殊能力
p 與普通的妖狐同樣：被人狼襲擊後不會死，被占卜師占卜後將被咒殺。
p 每天夜裡，可以指定一個生存者透視他的職業（非強制）。透視的結果將在次日早上向所有人公開。公開透視結果時不會說明是誰被透視了。此外，如果透視對象的職業是「村人」，將不會告知透視的結果。
h2 勝利條件
p 妖狐陣營的勝利。

