section.jobmanual
  h1 狡猾的狼
  p 「人狼放浪記」的原创职业。人狼的一种。
  h2 特殊能力
  p 除了普通人狼相同的能力以外，可以在夜里假死。
  p 假死之后，第二天早上会被发现变成「不成样子的尸体」，并被视为死亡。
  p 假死之后，第二天夜里可以取消假死（诈尸）。诈尸之后，将在白天复活。如果此时没有诈尸，就再没有诈尸的机会了（彻底死亡）。
  p 狡猾的狼被视为复活能力者，将关闭灵界，直到狡猾的狼彻底死亡。
  h2 胜利条件
  p 人狼阵营的胜利