section.jobmanual
  h1 偶像
  p 月下人狼原创职业。巧妙地操纵村人，成为人气偶像吧。
  h2 特殊能力
  p 在最初的夜晚选择一人使其成为自己的粉丝。偶像与粉丝之间能够互相识别。
  p 如果粉丝保持生存，偶像将能够在每天早晨得知生存者中村人阵营玩家的数量。偶像死亡后，下一个夜里粉丝将无法使用夜间技能。
  p 如果进入第4天夜晚时粉丝仍生存，次日早上将随机增加一名粉丝。此外，第五天开始如果没有生存的粉丝，在处刑投票时如果与其他人得票数相同，偶像将优先被处刑。
  h2 胜利条件
  p 村人阵营的胜利
