section.jobmanual
  h1 NEET
  p 桃栗配置中的特殊职业。曾经的狂人变成了现在这个一切关我鸟事的NEET！
  h2 特殊能力
  p 什么都不用做就能胜利，出生的瞬间就被确定胜利。
  p 虽然仍然能够投票，但任何时候都会被认为已经投票了。白天即使不投票也不会死。
  p 如果其他人投票结束后NEET仍未投票，NEET的投票将被跳过，直接进入处刑裁判。
  p NEET如果想要投票，必须在其他人全部投票前，投出自己的一票。
  p 现在不是狂人了，所以被人狼占卜师占卜不会有变化。
  h2 胜利条件
  p 不论如何都会胜利
  p 但是NEET被变成「狼仆」、「恋人」、「更生者」等的情况下，将按照变化后的胜利条件判断胜败。

