section.jobmanual
  h1 女糕点师
  p 月下人狼的原创职业。在情人节加入人狼游戏，向所有村民分发亲手制作的巧克力。但她的真实目的只是追求村子里的某一个人。
  h2 特殊能力
  p 第一天夜里选择一名参加者送出本命巧克力，向其他全员送出义理巧克力。
  p 收到巧克力的一方，在第二天夜里吃下巧克力前无法分辨自己收到的是义理还是本命巧克力。如果收到了义理巧克力，将有一定几率发生巧克力特殊效果。
  h2 胜利条件
  p 恋人阵营的胜利。

