section.jobmanual
  h1 硬汉人狼
  p 「Twitter人狼」中存在的职业。人狼的一种。
  h2 特殊能力
  p 基本上与人狼相同。
  p 游戏中<strong>只限一次</strong>，「抱着同归于尽的觉悟」袭击目标，被这样袭击的对象一定会死（包括但不限于「妖狐」、「恶魔」、「逃亡者」、「被各种力量守护的对象」）。
  p 但是，如果袭击对象为「妖狐」等<strong>一般袭击不能杀死</strong>的职业时，硬汉人狼会同归于尽。
  p 
  p 特别的，在「狼之子」、「贪婪的狼」效果发动，人狼们袭击了复数对象的时候，如果硬汉人狼发动了技能，则视为硬汉人狼「抱着同归于尽的觉悟」袭击了所有目标。
  h2 胜利条件
  p 人狼阵营的胜利

