section.jobmanual
  h1 游荡猎人
  p 猎人弱化之后的职业。
  h2 特殊能力
  p 与猎人相同，可以在夜晚选择一个人进行守护。但是，第一天夜里不能守护。
  p 游荡猎人无法再次守护平安夜里守护过的目标。
  p 平安夜的原因可以不是游荡猎人的成功守护。
  p 例如：游荡猎人守护了村人A，而人狼袭击了妖狐B。此时虽然实际上不是游荡猎人守护成功，但游荡猎人将无法再次守护村人A。
  p 相对的，如果某一天不是平安夜，那么即使实际上游荡猎人成功守护了目标，游荡猎人仍可以继续守护这个目标。
  p 例如：游荡猎人守护了占卜师A，人狼袭击了占卜师A，占卜师A占卜了妖狐B。此时不是平安夜，所以游荡猎人可以继续守护占卜师A。
  h2 胜利条件
  p 村人阵营的胜利

