section.jobmanual
  h1 仙狐
  p 妖狐的亚种。被认为是<a href="https://twitter.com/igako_jinro" target="_blank">いがこ氏</a>设计的职业。
  h2 特殊能力
  p 与普通的妖狐同样：被人狼后不会死，被占卜师占卜后将被咒杀。
  p 每天夜里，可以指定一个生存者透视他的职业（非强制）。透视的结果将在次日早上向所有人公开。公开透视结果时不会说明是谁被透视了。此外，如果透视对象的职业是「村人」，将不会告知透视的结果。
  h2 胜利条件
  p 妖狐阵营的胜利。

