section.mylog
  h1 战绩
  if !loggedin
    p 查看自己的战绩前，请先登陆。
  else
    p
      a(href="/rooms/my") 参加过的房间一览

    h2 最近的战绩
    p
      label.mylog-open
        i.far.fa-fw.fa-id-card#open-recent-icon
        | 是否向其他玩家公开自己的最近战绩
        input#open-recent(type="checkbox", disabled)
      i.far.fa-question-circle.mylog-desc-of-open(data-helpicon, title="即使设为不公开，也会显示猝死率。")

    #recentdata
      p
        i.fa.fa-spinner.fa-pulse
        | 正在载入……

    h2 全部战绩
    p
      label.mylog-open
        i.far.fa-fw.fa-id-card#open-all-icon
        | 是否向其他玩家公开自己的全部战绩
        input#open-all(type="checkbox", disabled)
      i.far.fa-question-circle.mylog-desc-of-open(data-helpicon, title="如果选中此项，将在用户页面显示注册以来总的对战数・胜利数・败北数。")
    #alldata
      p
        i.fa.fa-spinner.fa-pulse
        | 正在载入……

