section.mylog
  h1 戰績
  if !loggedin
    p 於確認自己的戰績前，請先登入。
  else
    p
      a(href="/rooms/my") 參加過的房間一覽

    h2 最近的戰績
    p
      label.mylog-open
        i.far.fa-fw.fa-id-card#open-recent-icon
        | 是否向其他玩家公開自己的最近戰績
        input#open-recent(type="checkbox", disabled)
      i.far.fa-question-circle.mylog-desc-of-open(data-helpicon, title="即使設為不公開，也會顯示暴斃率。")

    #recentdata
      p
        i.fa.fa-spinner.fa-pulse
        | 讀取中……

    h2 全部戰績
    p
      label.mylog-open
        i.far.fa-fw.fa-id-card#open-all-icon
        | 是否向其他玩家公開自己的全部戰績
        input#open-all(type="checkbox", disabled)
      i.far.fa-question-circle.mylog-desc-of-open(data-helpicon, title="若勾選該選項，將在玩家頁面顯示註冊以來總的對戰數・勝利數・敗北數。")
    #alldata
      p
        i.fa.fa-spinner.fa-pulse
        | 讀取中……

