p 月下人狼的原創職業。人狼的一種。
h2 特殊能力
p 第二天夜裡開始只限一次，可以從生存者中選擇一人潛入他的家裡「變成誘餌」。使用了變成誘餌的能力之後，當天夜裡所有針對被選取對像使用的、不是立即生效的夜間能力的實際使用目標將會強制改為囮狼。
p 如果囮狼使用技能的對象同時是人狼的襲擊對象，當夜會由於囮狼把人狼的襲擊對像改為自己而變成平安夜。
p 對於占卜師、法醫學者之類的職業，如果他們的能力對像被囮狼選取，那麼受囮狼技能影響的只有技能的結果。例如占卜師A對村人B使用占卜的同夜，囮狼也對村人B使用了能力，A將得到類似「根據占卜的結果，B是人狼」這樣的系統通知。

h2 勝利條件
p 人狼陣營的勝利。
