p 参考了达芬奇社发售的「タブラの狼」做成的职业。是独立势力，企图支配村子。
h2 特殊能力
p 被人狼袭击后不会死，被吸血鬼袭击后会死。
p 灵能结果显示为「人狼」。
p 被人狼袭击之后不论本场游戏是否开启了「遭受袭击警报」，恶魔本人都会看到「〇〇 被人狼袭击了，恶魔的力量大幅增强。」的提示。「恶魔的力量大幅增强」是恶魔的胜利条件之一。
p 特别地，如果恶魔被人狼袭击的同时受到了「猎人」等守护系职业的保护，由于不构成胜利条件，「遭受袭击警报」不会出现。
h2 胜利条件
p 「恶魔的力量大幅增强」后，又被处刑的时候，如果仍为恶魔阵营，触发「恶魔胜利」并单独获胜。
p 如果被改变了阵营（例如：被策士变为更生者），不会触发「恶魔胜利」结局。
