p 基于「人狼パーティー」中的「吸血鬼」创作的职业。

h2 特殊能力
p 第2天开始，每晚须从生存者中选一人进行吸血。无法对人外与被猎人守护的人吸血。吸血成功与否将在次日早上向全村公布。
p 即使村中存在复数名德古拉，能够吸血的也只有一个（虽然每名德古拉都必须选择吸血的目标，但是只有随机一名德古拉被允许吸血）。
p 德古拉的占卜结果是「吸血鬼」，灵能结果是「村人」。德古拉受到占卜后会被咒杀。

h2 胜利条件
p 吸血鬼阵营的胜利。
p 如果德古拉自身生存，并且生存者中超过半数被德古拉吸过血，吸血鬼阵营获得胜利（德古拉不需要对自己吸血）。
p 此外，吸血鬼阵营将人狼全灭之后，村人的人数在吸血鬼的人数以下的时候吸血鬼阵营同样获得胜利。
