p 「人狼放浪記」中的职业。
h2 特殊能力
p 第2天开始，可以在选择一名死亡者，调查死亡者是否持有某种死亡耐性（例如袭击耐性、处刑耐性、护卫能力等）。调查结果将于次日早晨告知。
p 没有选择对象的情况下则会猝死，这一点请务必注意。
p 具体而言，以下职业被视为持有死亡耐性：
p 所有人狼系、
p 所有妖狐系、
p 狐凭、
p 吸血鬼、
p 恶魔、
p 贵族（只限场上仍有生存的奴隶时）、
p 逃亡者、硬汉、被诅咒者、
p 王子、
p 猎人、圣职者、犬、陷阱师、巫女、游荡猎人、Cosplayer。
h2 胜利条件
p 村人阵营的胜利


