p 「究极人狼」中存在的职业。村人侧。
h2 特殊能力
p 村人阵营的人死后，可以吸收并使用那个人的技能。
p 非村人阵营的人变成村人阵营（「更生者」）死后，可以吸收并使用那个人的技能。
p 特别地，弗兰肯斯坦的怪物不能够吸收以下能力：
p 「硬汉」·「被诅咒者」·「妖狐」·「逃亡者」等受袭击而不死的能力；
p 「王子」受处刑而不死的能力；
p 「贵族」要求「奴隶」替死的能力；
p 「NEET」·「奴隶」等的特殊胜利条件；
p 「狼凭」等的特殊占卜、灵能结果。
p 相应的，弗兰肯斯坦的怪物再吸收「老人」的能力后会衰老而死、吸收「奴隶」的能力后将为「贵族」替死。
p 弗兰肯斯坦的怪物被处刑的场合，必须有多一个人被一同处刑。
h2 胜利条件
p 村人阵营的胜利

