p 「ねじれ天國」中的職業。滿腦子都是課金抽卡，完全沒把人狼造成的騷亂放在眼裡。

h2 特殊能力
p 每晚可以抽一次普通卡池，並從中獲得一個職業（只限村人陣營）。如果決定使用獲得的職業，將在次日早上變成那個職業。
p 同時，還可以通過課金在稀有卡池抽卡，稀有卡池中不會出現低稀有度的職業。課金會消耗次日白天的1次投票機會。
p 在一般情況下每夜只能課金1次，但如果自身的投票數獲得了增長就能夠更多的課金（首日只限1次）。
p 每夜投票機會都會恢復，可以再度課金。

h2 勝利條件
p 村人陣營的勝利
