p 「人狼式」中登場的職業。占卜·靈能結果是「鬼」。
h2 特殊能力
p 從第2天開始，可以在夜間將人捉走。被抓走的人將會死去。首次捉人的成功率是100%，每成功一次，下次的成功率將減半（最低1%）。
p 被人狼襲擊時，有40%的機率能夠抵禦襲擊而不死。
p 遊戲開始時，自身左側的數人將被設為目標（目標的人數是隨機的，最多為【人狼的數量+1】）。
h2 勝利條件
p 村人陣營的勝利、勝利判定時自身生存、目標全員死亡。
p 同時滿足上述條件時，與勝利陣營一同獲勝。

