p 「人狼式」中登场的职业。占卜·灵能结果是「鬼」。
h2 特殊能力
p 从第2天开始，可以在夜间将人捉走。被抓走的人将会死去。首次捉人的成功率是100%，每成功一次，下次的成功率将减半（最低1%）。
p 被人狼袭击时，有40%的几率能够抵御袭击而不死。
p 游戏开始时，自身左侧的数人将被设为目标（目标的人数是随机的，最多为【人狼的数量+1】）。
h2 胜利条件
p 村人阵营的胜利、胜利判定时自身生存、目标全员死亡。
p 同时满足上述条件时，与胜利阵营一同获胜。

