p
  | 受到
  a(href="/manual/job/Hooligan") 暴徒
  | 鼓動，加入暴動的人。

h2 特殊能力
p 每晚可以選擇1個人對其施加暴行。
p 如果玩家只被1名暴動者施加暴行什麼都不會發生，但是如果玩家同時被2名或者更多暴動者施加暴行的話，玩家就會死亡。
p
  | 如果被村中的
  a(href="/manual/job/HooliganGuard") 保安
  | 逮捕，當夜的暴行將會無效，並在次日早上開始不再是暴動者。

h2 勝利條件
p 變成暴動者的人，可以與暴徒陣營一同獲勝。（原本職業的勝利條件同時有效。）
