p
  | 被賦予了鎮壓由
  a(href="/manual/job/Hooligan") 暴徒
  | 引發的暴亂這一使命的人。如果村子裡存在暴徒，將隨機任命玩家為保安。

h2 特殊能力
p 每晚可以選擇1個人將其逮捕。
p
  | 被逮捕的人如果是
  a(href="/manual/job/HooliganAttacker") 暴動者
  | 的話，他當夜的當夜的暴行將會無效，並在次日早上開始不再是暴動者。

p 此外，暴徒無法使保安成為暴動者。

h2 勝利條件
p 變成保安不改變原有的勝利條件。
