p
  | 被赋予了镇压由
  a(href="/manual/job/Hooligan") 暴徒
  | 引发的暴乱这一使命的人。如果村子里存在暴徒，将随机任命玩家为保安。

h2 特殊能力
p 每晚可以选择1个人将其逮捕。
p
  | 被逮捕的人如果是
  a(href="/manual/job/HooliganAttacker") 暴动者
  | 的话，他当夜的当夜的暴行将会无效，并在次日早上开始不再是暴动者。

p 此外，暴徒无法使保安成为暴动者。

h2 胜利条件
p 变成保安不改变原有的胜利条件。
