p
  | 受到
  a(href="/manual/job/Hooligan") 暴徒
  | 鼓动，加入暴动的人。

h2 特殊能力
p 每晚可以选择1个人对其施加暴行。
p 如果玩家只被1名暴动者施加暴行什么都不会发生，但是如果玩家同时被2名或者更多暴动者施加暴行的话，玩家就会死亡。
p
  | 如果被村中的
  a(href="/manual/job/HooliganGuard") 保安
  | 逮捕，当夜的暴行将会无效，并在次日早上开始不再是暴动者。

h2 胜利条件
p 变成暴动者的人，可以与暴徒阵营一同获胜。（原本职业的胜利条件同时有效。）
