p 月下人狼的原創職業。在熱鬧的節日時大肆破壞村子的安寧。第三陣營的職業。

h2 特殊能力
p 每天晚上，暴徒可以從生存者中選擇一人使他加入暴動。被選取的人會成為暴動者。暴徒被視為第一名暴動者。
p 當生存者全為暴動者時，暴徒陣營達成勝利。

h3 暴動者

p 暴動者每晚可以選擇1個人對其施加暴行。如果玩家只被1名暴動者施加暴行什麼都不會發生，但是如果玩家同時被2名或者更多暴動者施加暴行的話，玩家就會死亡。
p 暴徒能夠知道暴動者都有誰。一般的暴動者不能互相辨別。
p 暴徒陣營獲勝時暴動者將一同獲勝。

h3 保安

p 如果村子裡出現了暴徒，將隨機任命玩家為保安（村子每8人中任命1名保安）。保安不會加入暴動。
p 保安每晚可以選擇1個人將其逮捕，被逮捕的人當夜的暴行將會無效，並變成不是暴動者。

h2 暴徒的勝利條件
p 暴徒陣營的勝利（當生存者全為暴動者時，暴徒與暴動者獲勝）。

