p 月下人狼的原創職業。萊茵河畔的魅魔，她的歌聲會從不知何處傳來。是第三方陣營的職業。

h2 特殊能力
p 會在第X天夜裡，用歌聲隨機地魅惑兩人使其成為自己的眷屬。
p （【X=(參加者人數-1)/4，小數捨去】如果村人總數為13〜16人就是第3天夜間，17〜20人就是第4天夜間，以此類推。）
p 羅蕾萊不會知道眷屬是誰。
p 如果羅蕾萊在歌聲響起之前就死亡了，會使生存者中距離自身最近的2人中隨機一人與自己一起死去。在歌聲響起後，這個連坐能力會消失。
p 如果羅蕾萊全滅了，羅蕾萊的眷屬們將會自盡。
p 羅蕾萊在勝利判定時不被記為村人。
p 在闇鍋中如果參加者少於13人，羅蕾萊不會在首夜出現。
p 在勝利判定時自身生存，羅蕾萊陣營單獨獲勝。
p 結算優先度低於邪教主陣營·惡魔陣營·暴徒陣營。

h2 勝利條件
p 羅蕾萊陣營的勝利。
