p 月下人狼的原创职业。莱茵河畔的女妖，她的歌声会从不知何处传来。是第三方阵营的职业。

h2 特殊能力
p 会在第X天夜里，用歌声随机地魅惑两人使其成为自己的眷属。
p （【X=(参加者人数-1)/4，小数舍去】如果村人总数为13〜16人就是第3天夜间，17〜20人就是第4天夜间，以此类推。）
p 罗蕾莱不会知道眷属是谁。
p 如果罗蕾莱在歌声响起之前就死亡了，会使生存者中距离自身最近的2人中随机一人与自己一起死去。在歌声响起后，这个连坐能力会消失。
p 如果罗蕾莱全灭了，罗蕾莱的眷属们将会自尽。
p 罗蕾莱在胜利判定时不被记为村人。
p 在黑暗火锅中如果参加者少于13人，罗蕾莱不会在首夜出现。
p 在胜利判定时自身生存，罗蕾莱阵营单独获胜。
p 结算优先度低于邪教主阵营·恶魔阵营·暴徒阵营。

h2 胜利条件
p 罗蕾莱阵营的胜利。
