p 「るる鯖」的本地規則中存在的職業。選擇一個對象，單方面地瘋狂愛慕對方。
h2 特殊能力
p 第一天夜裡，選擇瘋狂愛慕的對象。
p 狂愛者在生存時，如果愛慕的對象死亡了狂愛者會追隨對方自盡。同時導致愛慕對像死亡的參加者會被狂愛者連坐死亡。如果愛慕對像是被處刑死亡的話，將從向愛慕對像投票的參加者中隨機選擇一個人。
p 愛慕對像不會知道自己被狂愛者選取了。
p 愛慕對像不會追隨狂愛者的死亡自盡。
h2 勝利條件
p 結束時愛慕對像生存，狂愛者即可與勝利陣營一同勝利（與狂愛者自身的生死無關）。
p 此外，愛慕對象的在保留本來的勝利條件的同時，如果狂愛者勝利了，愛慕對象也一同勝利。


