p 「るる鯖」的本地规则中存在的职业。选择一个对象，单方面地疯狂爱慕对方。
h2 特殊能力
p 第一天夜里，选择疯狂爱慕的对象。
p 狂爱者在生存时，如果爱慕的对象死亡了狂爱者会追随对方自尽。同时导致爱慕对象死亡的参加者会被狂爱者连坐死亡。如果爱慕对象是被处刑死亡的话，将从向爱慕对象投票的参加者中随机选择一个人。
p 爱慕对象不会知道自己被狂爱者选中了。
p 爱慕对象不会追随狂爱者的死亡自尽。
h2 胜利条件
p 结束时爱慕对象生存，狂爱者即可与胜利阵营一同胜利（与狂爱者自身的生死无关）。
p 此外，爱慕对象的在保留本来的胜利条件的同时，如果狂爱者胜利了，爱慕对象也一同胜利。


