p 月下人狼原创职业。享受同伴间诗会的村人。
h2 特殊能力
p 可以在夜间选择一名生存者对其使用「赠诗」的能力。诗是一条最大字数17字・最多3行的消息。诗的内容会在次日早上到来时向被选择的对象显示。
p 收到赠诗的人将变成诗人，从接下来的夜间开始，可以向赠诗人还诗。
p 赠诗人在收到还诗后即可发出下一条赠诗，此过程可以多次循环。不过无法再变更赠诗的对象。

h2 胜利条件
p 村人阵营的胜利。

