p 月下人狼原創職業。享受同伴間詩會的村人。
h2 特殊能力
p 可以在夜間選擇一名生存者對其使用「贈詩」的能力。詩是一條最大字數17字・最多3行的訊息。詩的內容會在次日早上到來時向被選擇的對象顯示。
p 收到贈詩的人將變成詩人，從接下來的夜間開始，可以向贈詩人還詩。
p 贈詩人在收到還詩後即可發出下一條贈詩，此過程可以多次循環。不過無法再變更贈詩的對象。

h2 勝利條件
p 村人陣營的勝利。

