p 月下人狼的原創職業。是每天都通過直播來娛樂觀眾的村人。

h2 特殊能力
p 遊戲開始時參加者中的數人會成為自身的直播觀眾。直播觀眾的數量為參加人數除以4後向下取整，村人陣營以外的職業也可能被選為直播觀眾。
p 主播能夠知道目前直播觀眾的生存人數。
p 此外主播在夜間的自言自語會變成直播內容，向所有直播觀眾公開。

p 從第2天開始，主播能夠在每天夜間隨機獲得一個能力並使用（僅限當夜）。能力的使用結果會向直播觀眾公開。
p 如果直播觀眾全部死亡，主播將於次夜引退並變成一般的村人。

h2 勝利條件
p 村人陣營的勝利

