p 月下人狼的原创职业。是每天都通过直播来娱乐观众的村人。

h2 特殊能力
p 游戏开始时参加者中的数人会成为自身的直播观众。直播观众的数量为参加人数除以4后向下取整，村人阵营以外的职业也可能被选为直播观众。
p 主播能够知道当前直播观众的生存人数。
p 此外主播在夜间的自言自语会变成直播内容，向所有直播观众公开。

p 从第2天开始，主播能够在每天夜间随机获得一个能力并使用（仅限当夜）。能力的使用结果会向直播观众公开。
p 如果直播观众全部死亡，主播将于次夜引退并变成一般的村人。

h2 胜利条件
p 村人阵营的胜利

