p 「Twitter人狼」中存在的职业。人狼的一种。
h2 特殊能力
p 基本上与人狼相同。
p 游戏中<strong>只限一次</strong>，在白天选择一个人进行威吓。
p 被威吓的人当晚的能力无效化（包括「恶魔」、「玛丽」等被动能力）。
p 但是，使用威吓的白天如果威吓的狼被处刑而死，那么威吓无效。
p 特别地，就算威吓了变态杀人狂，威吓的狼也不会死。
p 此外，以下职业免除死亡的能力不会被无效化：
p 「贵族」由「奴隶」替死的能力、
p 「硬汉」被人狼系职业袭击时，延迟死亡的能力、
p 「被诅咒者」被袭击后，免疫死亡并改变职业的能力。
h2 胜利条件
p 人狼阵营的胜利

